@import 'pcui/pcui';
@import 'common/fonts';
@import 'ui/ui';
@import 'editor/editor-main';
@import 'ui/theme-dark';
@import 'editor/editor-common';
@import 'editor/editor-layout';
@import 'editor/editor-left-toolbar';
@import 'editor/editor-console';
@import 'editor/editor-hierarchy-panel';
@import 'editor/editor-assets-panel';
@import 'editor/editor-attributes-panel';
@import 'editor/editor-toolbar-alert';
@import 'editor/editor-scene-size-alert';
@import 'editor/editor-entities-treeview';
@import 'editor/editor-entity-inspector';
@import 'editor/editor-template-overrides-view';
@import 'editor/editor-template-entity-inspector';
@import 'editor/editor-template-override-inspector';
@import 'editor/editor-component-inspector';
@import 'editor/editor-component-model-inspector';
@import 'editor/editor-component-script-inspector';
@import 'editor/editor-component-sound-inspector';
@import 'editor/editor-component-sprite-inspector';
@import 'editor/editor-component-anim-inspector';
@import 'editor/editor-component-animation-inspector';
@import 'editor/editor-asset-preview';
@import 'editor/editor-asset-model-inspector';
@import 'editor/editor-asset-material-inspector';
@import 'editor/editor-asset-cubemap-inspector';
@import 'editor/editor-asset-animstategraph-inspector';
@import 'editor/editor-asset-anim-viewer';
@import 'editor/editor-asset-animation-inspector';
@import 'editor/editor-asset-texture-inspector';
@import 'editor/editor-asset-audio-inspector';
@import 'editor/editor-asset-script-inspector';
@import 'editor/editor-asset-related-assets';
@import 'editor/editor-asset-source-inspector';
@import 'editor/editor-asset-font-inspector';
@import 'editor/editor-asset-sprite-preview';
@import 'editor/editor-asset-preview-legacy-script';
@import 'editor/editor-settings-panel';
@import 'editor/editor-settings-rendering-panel';
@import 'editor/editor-settings-layers-panel';
@import 'editor/editor-settings-batchgroups-panel';
@import 'editor/editor-settings-asset-import';
@import 'editor/editor-settings-ai';
@import 'editor/editor-settings-scripts-panel';
@import 'editor/editor-sprite-editor';
@import 'editor/editor-tooltip';
@import 'editor/editor-viewport';
@import 'editor/editor-fix-templates';
@import 'editor/editor-store-cms';
@import 'editor/editor-storeitem-panel';
@import 'editor/editor-message-box';
@import 'editor/editor-confirmation-dialog';
@import 'editor/editor-settings-launch-page';
@import 'editor/editor-engine-picker';
@import 'editor/editor-auditor-picker';
@import 'editor/editor-clipboard';
@import 'editor/editor-howdoi';
@import 'editor/editor-version-control-graph';
