.env
.env.*
!.env.template
node_modules
.sass-cache
/.idea
dist
/js/realtime/share.uncompressed.js
.npmrc
/.vscode
/.cursor
test/editor-api/dist
/test-results

# test-suite
/test-suite/.env
/test-suite/.env.*
!/test-suite/.env.template
/test-suite/.auth
/test-suite/node_modules
/test-suite/cache
/test-suite/out
/test-suite/test/fixtures/projects/basic
/test-suite/test-results
/test-suite/playwright-report
/test-suite/blob-report
/test-suite/playwright/.cache