.entity-inspector-overrides {
    padding-right: 22px;
}

.entity-inspector-no-components {
    .template-override-sidebar {
        // height: calc(100% - 43px);
    }

    .entity-inspector-add-component {
        margin-bottom: 0;
    }
}
