.pcui-related-assets-related-asset {
    background-color: #2c393c;
    border-left: 1px solid #293538;
    border-top: 1px solid #293538;
    border-right: 1px solid #293538;
    margin: 0px 6px 0px 6px;
    flex-grow: 1;
    cursor: pointer;
    font-size: 11px;
    font-family: inconsolatamedium, Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
    font-weight: normal;
    line-height: 22px;
    padding-left: 25px;
    position: relative;
}

.pcui-related-assets-related-asset:first-child {
    margin-top: 6px;
}

.pcui-related-assets-related-asset:last-child {
    border-bottom: 1px solid #293538;
}

.pcui-related-assets-related-asset:hover {
    color: white;
    background-color: #20292b;
    border-color: #20292b;
}

.pcui-related-assets-related-asset::before {
    content: '';
    font-size: 14px;
    padding: 0 8px;
    top: 2px;
    left: -3px;
    position: absolute;
    color: #5b7073;
    font-family: 'pc-icon';
}

.pcui-related-assets-related-asset.asset-type-texture::before {
    content: '';
}

.pcui-related-assets-related-asset.asset-type-model::before {
    content: '';
}

.pcui-related-assets-related-asset.asset-type-material::before {
    content: '';
}

.pcui-related-assets-related-asset.asset-type-animation::before {
    content: '';
}