.scripts-settings-panel-scripts-list-item {
    background-color: $bcg-dark;
    border-left: 1px solid $bcg-darker;
    border-top: 1px solid $bcg-darker;
    border-right: 1px solid $bcg-darker;
    .pcui-panel-header {
        color: $text-active;
        background-color: transparent;
    }
}
.scripts-settings-panel-scripts-list-item:last-child {
    border-bottom: 1px solid $bcg-darker;
}

.scripts-settings-panel-scripts-list-item:hover {
    cursor: pointer;
    background-color: $bcg-darkest;
}

.scripts-settings-panel-scripts-list-container {
    margin: $element-margin;
}
