#layout-assets {
    overflow: visible;
    background-color: $bcg-darker;
    @extend .noSelect;

    &.pcui-resizable {
        &.pcui-resizable-top.pcui-scrollable > .pcui-panel-content {
            top: 0;
        }
        &.pcui-collapsible.pcui-collapsed {
            height: 0 !important;

            > .pcui-panel-header {
                width: 90px;

                > .assets-controls {
                    display: none;
                }
                > .filters {
                    display: none;
                }

                > .ui-button.store {
                    display: none;
                }
            }
        }
    }

    > .pcui-panel-header {
        position: absolute;
        top: -32px;
        left: 4px;
        width: 632px;

        > .pcui-panel-header-title {
            margin-right: 16px;
            width: 46px;
        }
        > .assets-controls {
            float: left;
            background: transparent;

            > .content {
                > .ui-button {
                    width: 32px;
                    height: 32px;
                    line-height: 32px;
                    border: none;
                    padding: 0;
                    margin: 0;
                    vertical-align: top;
                    @extend .font-icon;
                    font-size: 14px;
                    text-align: center;
                    color: $text-dark;
                    background-color: transparent;

                    &:hover {
                        color: $text-primary;
                        background-color: $bcg-darkest;
                    }
                    &.disabled {
                        &:hover {
                            color: $text-dark;
                            background-color: transparent;
                        }
                    }
                    &.up {
                        transform: rotate(90deg);
                        -webkit-transform: rotate(90deg);
                    }
                }
            }
        }
        > .filters {
            margin-left: 8px;
            float: right;
            background-color: transparent;

            > .content {
                > .ui-button.sources {
                    width: 86px;
                    height: 32px;
                    line-height: 32px;
                    border: none;
                    padding: 0;
                    margin: 0;
                    @extend .font-bold;
                    font-size: 12px;
                    color: $text-dark;
                    background-color: transparent;

                    &:before {
                        @extend .font-icon;
                        content: '\E352';
                        float: left;
                        font-size: 14px;
                        line-height: 34px;
                        padding-right: 4px;
                        margin-left: 8px;
                        color: $text-darkest;
                    }
                    &.active {
                        color: $text-active;
                        background-color: $bcg-darkest;

                        &:before {
                            color: $text-active;
                        }
                        &:hover {
                            background-color: mix($bcg-darker, $bcg-darkest, 33%);
                        }
                    }
                    &:hover {
                        color: $text-primary;
                        background-color: mix($bcg-darker, $bcg-darkest, 66%);

                        &:before {
                            color: $text-primary;
                        }
                    }
                }
                > .ui-select-field.options {
                    margin: 0;
                    width: 152px;
                    height: 32px;
                    line-height: 32px;
                    border: none;
                    font-size: 12px;
                    vertical-align: top;
                    background-color: transparent;

                    > .value {
                        @extend .font-bold;
                        line-height: 32px;

                        &:after {
                            width: 32px;
                            height: 32px;
                            line-height: 32px;
                        }
                    }
                    > ul > li {
                        @extend .font-bold;
                        line-height: 32px;
                    }
                    &.not-empty {
                        > .value {
                            color: $text-active;
                        }
                        background-color: $bcg-darkest;
                    }
                    &:hover {
                        background-color: $bcg-darkest;
                    }
                }
                > .ui-text-field.search {
                    margin: 0;
                    width: 192px;
                    height: 32px;
                    border: none;
                    background-color: $bcg-darker;

                    &.active,
                    &:hover,
                    &:focus,
                    &.focus {
                        border-color: $bcg-darkest;
                        background-color: $bcg-darkest;
                        &:before {
                            content: '';
                            padding: 0;
                        }
                        &:after {
                            content: '';
                        }
                    }
                    > input.field {
                        line-height: 32px;
                    }
                    &:before {
                        content: 'Search';
                        position: absolute;
                        color: $text-dark;
                        line-height: 32px;
                        padding: 0 8px;
                        @extend .font-bold;
                        font-size: 12px;
                    }
                    &.not-empty:before {
                        padding: 0;
                        content: '';
                    }
                    &:after {
                        content: '\E129';
                        line-height: 32px;
                        background-color: $bcg-darker;
                        @extend .font-icon;
                        font-size: 14px;
                        text-align: center;
                    }
                    &.not-empty {
                        background-color: $bcg-darkest;
                        > input.field {
                            color: $text-active;
                        }
                        > .clear {
                            display: block;
                        }
                        &:after {
                            content: '';
                        }
                    }
                    > .clear {
                        display: none;
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 32px;
                        height: 32px;
                        line-height: 32px;
                        text-align: center;
                        color: $error-secondary;
                        @extend .font-icon;
                        font-size: 18px;
                        text-align: center;
                        cursor: pointer;
                    }
                }
            }
        }

        > .ui-button.store {
            position: relative;
            font-size: 12px;
            min-width: 90px;
            height: 32px;
            line-height: 32px;
            margin: 0;
            background-color: $bcg-darker;
            border-color: transparent;

            &:after {
                @extend .font-icon;
                content: '\E169';
                position: absolute;
                right: 5px;
                top: 0px;
                font-size: 14px;
                font-weight: 200;
                color: $text-darkest;
            }

            &:hover:after {
                color: $text-active;
            }
        }
    }

    .ui-label.no-assets {
        padding: 10px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .pcui-container.progress-overlay {
        z-index: 10;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $bcg-primary;

        justify-content: center;
        align-items: center;
        flex-direction: row;

        opacity: 1;
        visibility: visible;
        transition: visibility 100ms, opacity 100ms;

        &.pcui-hidden {
            display: inherit;
            visibility: hidden;
            opacity: 0;
        }

        > .ui-progress {
            flex-basis: 128px;
            height: 4px;
        }
    }
}

.pcui-asset-panel {
    > .pcui-resizable-handle {
        // make z-index higher than the
        // details view z-index otherwise part
        // of the handle will be hidden by the table
        z-index: 2 !important;
    }

    > .pcui-panel-content {
        height: 100%;

        > .pcui-asset-panel-folders {
            flex-shrink: 0;
            border-top: 1px solid $border-primary;

            .pcui-treeview-item-icon:after {
                content: '\E139';
            }
        }

        > .pcui-table {
            flex: 1;
            border-left: 1px solid $border-primary;

            background-color: $bcg-dark;

            .pcui-table-row:not(.pcui-table-row-selected) {
                &:hover, &:focus {
                    background-color: $bcg-darker;
                }
            }

            th {
                background-color: $bcg-darker;
                &:first-child {
                    border-left: 0;
                }
            }

            tbody {
                > .pcui-table-row > .pcui-table-cell {
                    > .pcui-label {
                        margin-top: 4px;
                        margin-bottom: 4px;
                    }
                }
            }
        }

        > .pcui-gridview {
            width: 100%;
            background-color: $bcg-dark;
            border-left: 1px solid $border-primary;
            border-top: 1px solid $border-primary;
        }
    }
}

.pcui-asset-panel-details-name {
    > .pcui-asset-thumb {
        vertical-align: middle;
        margin-left: $element-margin;
        width: 16px;
        height: auto;

        &:not(.asset-icon-prefix) {
            height: 16px;
        }

        > canvas {
            background-color: transparent;
        }

        &:before {
            font-size: 14px;
            color: $text-darkest;
        }

        &:hover {
            box-shadow: none !important;
        }
    }

    > .pcui-label {
        vertical-align: middle;
        margin: 0px;
        margin-left: $element-margin;
    }
}

.pcui-asset-panel-highlighted-asset {
    &.pcui-treeview-item > .pcui-treeview-item-contents {
        .pcui-treeview-item-icon, .pcui-treeview-item-text {
            color: $text-primary;
        }
    }

    .pcui-asset-panel-details-name {
        color: $text-primary;
        position: relative;

        &:after {
            content: ' ';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border: 3px solid $text-active;
            pointer-events: none;
        }
    }

    &.pcui-gridview-item {
        border: 4px solid $text-active;
    }
}

.pcui-asset-panel-current-folder {
    > .pcui-treeview-item-contents {
        color: $text-active;

        .pcui-treeview-item-icon {
            color: $text-active;
        }
    }
}

.pcui-asset-grid-view-item {
    > .pcui-asset-thumb {
        flex-shrink: 0;
        width: 64px;
        height: 64px;
        margin: $element-margin;
        margin-bottom: 0;

        > canvas {
            background-color: transparent;
        }

        &:before {
            font-size: 48px;
            font-weight: 100;
            color: $text-darkest;
        }

        &.type-folder:before {
            font-size: 58px;
        }

        &:hover {
            box-shadow: none !important;
        }
    }

    &:not(.pcui-disabled) {
        &:hover, &.pcui-gridview-item-selected {
            > .pcui-asset-thumb:before {
                color: $text-primary;
            }
        }
    }

    .pcui-gridview-item-text {
        color: $text-primary;
    }
}

.pcui-asset-grid-view-item-source {
    > .pcui-asset-thumb:not(.type-folder) {
        border: 1px dashed rgba($text-darkest, 0.5);
    }
}
