.layers-settings-panel-layers-container, .layers-settings-panel-render-order-panel {
    margin: 6px;
}

.layers-settings-panel-layer-panel {
    border-top: 1px solid #20292b;
    border-left: 1px solid #20292b;
    border-right: 1px solid #20292b;
}