.template-override-sidebar {
    position: absolute;
    right: 0;
    top: 0;
    width: 22px;
    height: 100%;
    background: $bcg-darker;
}

.template-override-sidebar-marker {
    width: 22px;
    height: 22px;
    background: $bcg-dark;
    position: absolute;
    left: 0;
    top: 0;

    &:before {
        content: '\E360';
        color: #00F1FF;
        @extend .font-icon;
        font-size: 7px;
        position: absolute;
        top: 5px;
        left: 7px;
    }
}

.template-override-sidebar-marker:not(.pcui-disabled) {
    &:hover {
        cursor: pointer;
        background: $bcg-darker;
    }
}

.template-override-sidebar-highlight {
    background: #00F1FF;
    opacity: 0.075;
    position: absolute;
    z-index: 1;
}

.template-override-sidebar-dropdown {
    position: absolute;
    right: 0;
    background: $bcg-primary;
    z-index: 1;
    max-width: 250px;
    min-width: 150px;
    box-shadow: 0 0 2px 1px $bcg-darkest;

    > .pcui-label {
        flex-shrink: 0;
        margin: 0;
        padding: 10px;

        &:hover {
            background: $bcg-darkest;
            cursor: pointer;
        }
    }
}
