// root
#layout-root {
    width: 100%;
    height: 100%;
    grid-template-columns: 45px auto minmax(0, 1fr) auto auto;
    grid-template-rows: minmax(0, 1fr) auto 24px;
    grid-template-areas:
        "toolbar hierarchy viewport attributes overrides-sidebar"
        "toolbar hierarchy assets attributes overrides-sidebar"
        "statusbar statusbar statusbar statusbar statusbar";
}

// left toolbar
#layout-toolbar {
    grid-area: toolbar;
}

// hierarchy panel
#layout-hierarchy {
    grid-area: hierarchy;
}

// 3d viewport
#layout-viewport {
    grid-area: viewport;
}

// assets panel
#layout-assets {
    grid-area: assets;
}

// attributes inspector
#layout-attributes {
    grid-area: attributes;
}

// status bar
#layout-statusbar {
    grid-area: statusbar;
}

// overrides sidebar
#layout-overrides-sidebar {
    grid-area: overrides-sidebar;
}
