.asset-cubemap-preview-container{
    position: relative;
    background-color: #293538;
    height: 0;
    padding-top: 45%;
}

.asset-cubemap-preview-container-large {
    padding-top: 100%;
}

.asset-cubemap-preview-canvas {
    transform: scale(1, -1);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 8px solid #293538;
    border-top: 0;
    box-sizing: border-box;
    margin: auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

