.scripts-settings-panel-scripts-list-item {
    background-color: #2c393c;
    border-left: 1px solid #293538;
    border-top: 1px solid #293538;
    border-right: 1px solid #293538;
    .pcui-panel-header {
        color: #f60;
        background-color: transparent;
    }
}
.scripts-settings-panel-scripts-list-item:last-child {
    border-bottom: 1px solid #293538;
}

.scripts-settings-panel-scripts-list-item:hover {
    cursor: pointer;
    background-color: #20292b;
}

.scripts-settings-panel-scripts-list-container {
    margin: 6px;
}