/js/pcui/diff.js
/js/realtime/share.uncompressed.js
/module/*
/js/code-editor-v2/plugins/*.js
/js/codemirror/**/*.js
/js/launch/pc-bootstrap.js
/js/editor.js
/js/editor-empty.js
/js/launch.js
/js/code-editor.js
/js/code-editor-v2.js
/js/pcui-graph.js
/js/pcui.js
/js/observer.js
/js/editor-api.js
/js/monaco-editor
/js/monaco-themes
/js/messenger.js
/dist