@import 'variables';
@import '../fonts';

html {
    height: 100%;
    overflow: hidden;
}

body {
    @extend .font-regular;
    min-height: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-size: 14px;
}

strong {
    @extend .font-bold;
}

.code-editor {
    .ui-panel {
        background-color: transparent;
    }

    .ui-tooltip {
        max-width: 280px;
        > .inner {
            padding: 10px;
            white-space: normal;
            line-height: 1.6;
            font-size: 13px;
        }
    }
}

@media (max-width: 480px) {
    .hidden-xs {
        display: none;
    }
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#ui-root {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: $bcg-primary;
    color: $text-primary;

    > .content {
        max-height: 100%;
        height: 100%;
        overflow: hidden;
    }
}

#ui-top {
    background-color: mix($bcg-darkest, black, 75%);

    > .content {
        > .ui-button {
            background-color: transparent;
            border-color: transparent;
            color: $text-secondary;
            margin: 0;
            padding: 0 10px;
            height: 32px;
            line-height: 32px;

            &:hover {
                color: $text-primary;
                background-color: mix($text-darkest, $bcg-darker, 30%);
            }

            &.open {
                color: $text-primary;
                background-color: $bcg-darkest;
            }
        }
    }
}

#ui-center {
    background-color: $bcg-darkest;
    height: calc(100vh - 64px);
    flex-grow: 1;
    overflow: hidden;
    > .content {
        height: 100%;
    }
}

#ui-code {
    &:not(.hidden) {
        display: block;
    }
    height: calc(100% - 32px);
    > .content {
        height: 100%;
    }
}

#ui-tabs {
    background-color: $bcg-darker;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    $tab-bottom-margin: 2px;
    $tab-bg-color:  mix($bcg-darker, $bcg-darkest, 25%);

    height: 32px - $tab-bottom-margin;
    line-height: 32px - $tab-bottom-margin;
    margin-bottom: $tab-bottom-margin;

    .ui-panel.tab {
        cursor: pointer;
        @extend .noSelect;

        flex: 1 1 auto;
        min-width: 10px;
        max-width: 150px;

        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;

        background-color: $tab-bg-color;
        color: $text-secondary;

        -webkit-transition: color 200ms ease;
        -moz-transition: color 200ms ease;
        transition: color 200ms ease;

        padding: 0 5px;
        height: 32px - $tab-bottom-margin;
        line-height: 32px - $tab-bottom-margin;

        margin-right: 3px;

        font-size: 13px;
        white-space: nowrap;

        &.animated {
            -webkit-transition: left 200ms ease;
            -moz-transition: left 200ms ease;
            transition: left 200ms ease;
        }

        &:hover {
            color: $text-primary;
        }

        // use hovered class for
        // opacity because :hover seems
        // to breaks sometimes due to the fact
        // that tabs are removed / readded to the DOM
        &.hovered {
            > .content > .close {
                opacity: 1;
            }
        }

        &.focused {
            background-color: $bcg-darkest;
            color: $text-primary;
            border-bottom: 2px solid $text-active;
            min-width: 100px;
            z-index: 1;

            > .content > .close {
                background-color: $bcg-darkest;
                -webkit-box-shadow: -2px -2px 2px $bcg-darkest;
                -moz-box-shadow: -2px -2px 2px $bcg-darkest;
                box-shadow: -2px -2px 2px $bcg-darkest;
            }
        }

        &.dirty:not(.error) {
            color: transparentize($muted-yellow, 0.15);

            &:hover, &.focused {
                color: $muted-yellow;
            }
        }

        &.grabbed {
            z-index: 10;

            > .content > .close {
                opacity: 0;
            }
        }

        &.error {
            color: $bright-red;
        }

        &.temporary {
            > .content > .ui-panel.name {
                font-style: italic;
            }
        }

        > .content {
            > .ui-panel.name {
                overflow: hidden;
            }

            > .close {
                @extend .font-icon;
                color: $text-secondary;
                background-color: $tab-bg-color;
                -webkit-box-shadow: -2px -2px 2px $tab-bg-color;
                -moz-box-shadow: -2px -2px 2px $tab-bg-color;
                box-shadow: -2px -2px 2px $tab-bg-color;
                border: 0;
                position: absolute;
                padding: 0;
                margin: 0;
                top: 0;
                right: -5px;
                width: 22px;
                height: 28px;
                line-height: 32px;
                font-size: 14px;
                text-align: center;
                opacity: 0;

                -webkit-transition: opacity 200ms ease;
                -moz-transition: opacity 200ms ease;
                transition: opacity 200ms ease;

                &:hover {
                    color: $text-active;
                }
            }

            > .ui-progress {
                width: calc(100% + 10px);
                position: absolute;
                bottom: -2px;
                left: -5px;
            }
        }


    }
}

#ui-left {
    color: $text-primary;
    width: 220px;
    flex-shrink: 0;

    > .content {
        width: 220px;

        > .ui-progress {
            box-sizing: border-box;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            border-right: 1px solid $border-primary;
        }
    }
}

#ui-right {
    color: $text-primary;
    flex-shrink: 0;
    background-color: $bcg-primary;
    width: 0px;

    &:not(.resizing) {
        transition: width 200ms ease;
    }

    > .ui-header {
        padding: 0;
        > .title:before {
            @extend .font-icon;
            content: '\E134';
            display: inline-block;
            font-size: 14px;
            width: 32px;
            height: 32px;
            line-height: 32px;
            text-align: center;
            color: $text-active;
        }

        > .close {
            background: transparent;
            border-color: transparent;
            position: absolute;
            right: 0;
            width: 32px;
            height: 32px;
            line-height: 32px;
            text-align: center;
            padding: 0;
            margin: 0;

            &:hover {
                border-color: transparent;
            }
        }
    }

    > .content {
        padding: 8px 6px;
        width: 100% !important;
        white-space: nowrap;
        overflow: hidden;

        > .ui-panel.field-container {
            > .content {
                > .ui-label {
                    max-width: 150px;
                    font-size: 12px;
                    flex-grow: 1;
                }
            }

        }
    }
}

#ui-bottom {
    height: 32px;
    font-size: 14px;
    line-height: 32px;
    background-color: mix($bcg-darkest, black, 75%);
    z-index: 10;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    .ui-label {
        margin: 0 0 0 5px;
        height: 32px;
        line-height: 32px;

        color: $status-log;

        &.error {
            color: $status-error;
        }

        &.warning {
            color: $status-warning;
        }

        &.connection-status {
            float: right;
            padding-right: 5px;
        }
    }

}

.ui-tree.files {
    width: calc(100% - 5px);

    .ui-tree-item {
        &.selected {
            > .title {
                > .icon {
                    color: #fff;
                }
            }
        }
        > .title {
            > .text {
                @extend .font-regular;
            }

            &:hover {
                > .icon {
                    color: #fff;
                }
            }
            > .icon {
                color: $text-darkest;
                &:after {
                    @extend .font-icon;
                    font-size: 16px;
                    line-height: 23px;
                    text-align: center;
                    background-color: transparent;
                }
            }
        }

        &.type-folder .icon:after {
            content: '\E139';
        }
        &.type-script .icon:after {
            content: '\E392';
        }
        &.type-html .icon:after {
            content: '\E205';
        }
        &.type-css .icon:after {
            content: '\E206';
        }
        &.type-shader .icon:after {
            content: '\E219';
        }
        &.type-text .icon:after {
            content: '\E209';
        }
        &.type-json .icon:after {
            content: '\E207';
        }

        &.rename {
            > .title {
                background-color: $bcg-darkest;

                > .text {
                    display: none;
                }
                > .ui-text-field {
                    width: calc(100% - 24px);
                    height: 22px;
                    margin: 0;
                    padding: 0;
                    border: none;
                    background-color: transparent;

                    > .field {
                        padding: 0;
                        @extend .font-regular;
                        font-size: 14px;
                    }
                }
            }
        }

        &.dirty {
            > .title {
                > .text {
                    color: transparentize($muted-yellow, 0.15);
                }
            }

            &.selected {
                > .title {
                    > .text {
                        color: $muted-yellow;
                    }
                }

            }
        }

    }
}


.ui-menu-item {
    font-size: 14px;

    &.noBorder {
        > .title {
            border-bottom: 0;
        }
    }

    .ui-label.shortcut {
        position: absolute;
        top: 0;
        right: 4px;
        z-index: 2;
        transition: none;
    }
}

.ui-menu {
    &.top, &.context {
        .inner {
            -moz-box-shadow: 0 1px 1px 0px rgba(0,0,0,0.5);
            -webkit-box-shadow: 0 1px 1px 0px rgba(0,0,0,0.5);
            box-shadow: 0 1px 1px 0px rgba(0,0,0,0.5);
        }
    }

    &.top {

        .ui-menu-item {
            min-width: 320px;

            > .title {
                padding-left: 4px;
            }
        }

        .ui-menu-item.create-new .ui-menu-item {
            min-width: 150px;
        }

        // move overlay below the top menu bar to allow hovering on other items
        top: 32px;
        .overlay {
            top: 32px;
        }
    }
}

.ui-label.readonly {
    margin: 0 0 0 auto;
    padding: 0px 10px;
    height: 100%;
    line-height: 34px;
    background-color: $bcg-primary;
}

.picker-confirm {
    z-index: 10000;
}

.picker-confirm.center {
    > .content {
        width: 288px;
        height: auto;
        left: calc(50% - 144px);
        top: calc(50% - 32px);
        padding: 16px;
        text-align: right;
        transition: none;

        > .text {
            display: block;
            text-align: center;
            margin: 4px 0 16px;
            color: $text-primary;
            font-size: 14px;
            text-align: center;
        }
        > .ui-button {
            font-size: 14px;
            padding: 0 16px;
            line-height: 26px;
            text-transform: uppercase;
            margin: 0;
        }
        > .yes {
            margin-right: 8px;
        }
    }

    &.asset-delete {
        > .content {
            width: 208px;
            left: calc(50% - 104px);
            text-align: center;
            background-color: $bcg-darker;

            > .ui-button.yes {
                margin: 0;
                font-size: 0;
                height: 32px;
                line-height: 32px;
                padding: 0;
                background-color: #e54d42;
                border: none;
                color: $text-primary;

                &:hover {
                    &:after {
                        background-color: transparent;
                    }
                }
                &:before {
                    content: 'DELETE';
                    font-size: 14px;
                    padding: 0 16px;
                }
                &:after {
                    content: '\E124';
                    font-weight: 200;
                    @extend .font-icon;
                    font-size: 14px;
                    font-weight: 200;
                    float: right;
                    width: 31px;
                    padding-right: 1px;
                    text-align: center;
                    border-left: 1px solid $bcg-dark;
                    background-color: #8c413c;
                }
            }
            > .ui-button.no {
                position: absolute;
                top: 0;
                right: 0;
                padding: 0;
                margin: 0;
                width: 32px;
                height: 32px;
                background: transparent;
                font-size: 0;
                border: none;
                color: $text-dark;

                &:hover {
                    color: $text-primary;
                    background-color: $bcg-darkest;
                }
                &:after {
                    content: '\E132';
                    @extend .font-icon;
                    text-align: center;
                    font-size: 18px;
                }
            }
        }
    }
}

.picker-script-create.center {
    > .content {
        width: 288px;
        height: auto;
        left: calc(50% - 144px);
        top: calc(50% - 32px);
        padding: 16px;
        transition: none;

        > .text {
            display: block;
            margin-top: 0;
        }
        > .ui-text-field {
            display: block;
            width: calc(100% - 8px);
        }
        > .validate {
            position: absolute;
            top: 16px;
            right: 16px;
            margin: 0;
            font-size: 12px;
            color: #f30;
        }
    }
}

.picker-search {
    height: 32px;

    > .content {
        height: 100%;
        background-color: $bcg-darker;

        > .ui-text-field {
            background-color: rgba(0,0,0, 0.5);
            border: 0;
            margin: 0;
            height: 32px;
            line-height: 32px;
            flex-grow: 1;
            position: relative;

            > input {
                font-size: 14px;
                height: 32px;
                line-height: 32px;
            }

            > .ui-label.error {
                color: $bright-red;
                font-size: 12px;
                position: absolute;
                top: 0;
                right: 5px;
            }

            &.replace {
                -webkit-transition: flex-grow 200ms ease;
                -moz-transition: flex-grow 200ms ease;
                transition: flex-grow 200ms ease;


                &:not(.focused) {
                    flex-grow: 0.3;
                }
            }
        }

        > .ui-button {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        > .ui-button.option {
            border: 0;
            width: 32px;
            height: 32px;
            line-height: 32px;
            margin: 0 0 0 1px;
            padding: 0;
            text-align: center;

            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;

            @extend .font-bold;

            &.toggled {
                background-color: $text-active;
                color: $text-primary;
            }
        }
    }
}

.ui-overlay.picker-fuzzy-search {
    z-index: 50;
    > .overlay {
        background-color: transparent;
        cursor: default;
    }
    > .content {
        display: none;
    }
}

.ui-panel.picker-fuzzy-search {
    position: absolute;
    z-index: 51;
    top: 28px;
    left: calc(50% - 25vw) ;
    width: 50vw;
    height: 32px;
    line-height: 32px;

    > .content {
        height: 100%;

        > .ui-text-field {
            width: 100%;
            height: 32px;
            line-height: 32px;
            margin: 0;
            padding: 0;

            > input {
                font-size: 14px;
            }

            &:hover, &.active, &:focus, &.focus {
                background-color: $bcg-primary;
            }
        }

        > .ui-menu {
            position: absolute;
            top: 100%;
            left: 0;

            > .inner {
                position: absolute;
                width: 100%;
                max-height: 50vh;
                overflow-y: auto;

                -moz-box-shadow: 0 1px 1px 0px rgba(0,0,0,0.5);
                -webkit-box-shadow: 0 1px 1px 0px rgba(0,0,0,0.5);
                box-shadow: 0 1px 1px 0px rgba(0,0,0,0.5);

                > .ui-menu-item {
                    > .title {
                        padding: 5px 10px;
                        line-height: initial;

                        .name {
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        .path {
                            display: block;
                            font-size: 12px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            // margin-left: 15px;
                            color: $text-darkest;
                        }
                    }

                    &:hover {
                        > .title {
                            background: transparent;
                            color: $text-dark;
                        }
                    }

                    &.selected {
                        > .title {
                            background: $text-darkest;
                            color: $text-primary;

                            .path {
                                color: $bcg-darkest;
                            }
                        }
                    }
                }
            }
        }
    }
}

.ui-panel.whoisonline {
    flex-grow: 1;
    text-align: right;
    margin: auto;
    height: 32px;
    line-height: 32px;
    > .content {
        height: 100%;

        a {
            margin-right: 3px;
            display: inline-block;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: 2px solid transparent;
            vertical-align: middle;

            -webkit-transition: border-color 300ms ease;
            -moz-transition: border-color 300ms ease;
            transition: border-color 300ms ease;

            img {
                border-radius: 50%;
                width: 24px;
                height: 24px;
            }
        }
    }
}

.cm-s-default {
    &.CodeMirror {
        height: 100%;
        background-color: $editor-bg;
        color: $editor-text-color;
        font-size: 12px;
        font-family: $editor-font-family;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
    }

    div.CodeMirror-selected {
        background-color: $editor-selection !important;
    }

    .CodeMirror-gutters {
        min-height: 100%;
        width: 61px;
        background-color: $editor-gutter-bg;
        border-right: 1px solid $border-primary;
    }

    .CodeMirror-lines {
        padding: 0;
    }

    .CodeMirror-linenumber {
        color: $editor-gutter-fg;
        min-width: 29px;
        width: 32px !important;
        left: 16px !important;
        padding-right: 10px;
    }

    .CodeMirror-pc-gutter {
        width: 16px;
    }

    .CodeMirror-sizer {
        margin-left: 61px !important;
    }

    .CodeMirror-cursor {
       border-left: 1px solid $editor-text-color !important;
       border-right: 1px solid $editor-text-color !important;
       margin-left: -1px;
    }

    span.cm-comment {
        color: $editor-comment;
    }

    span.cm-atom, span.cm-keyword {
        color: $editor-keyword;
    }

    span.cm-number {
        color: $editor-numeric;
    }

    span.cm-property {
        color: $editor-property;
    }

    span.cm-attribute {
        color: $editor-keyword;
    }

    span.cm-string {
        color: $editor-string;
    }

    span.cm-tag, span.cm-qualifier, span.cm-builtin {
        color: $editor-tag;
    }

    span.cm-meta {
        color: $editor-meta;
    }

    span.cm-def {
        color: $editor-def;
    }

    span.cm-variable {
        color: $editor-variable;
    }

    span.cm-variable-2 {
        color: $editor-variable-2;
    }

    span.cm-variable-3 {
        color: $editor-variable-3;
    }

    span.cm-operator {
        color: $editor-operator;
    }

    span.cm-searching {
        background-color: transparent;
        outline: 1px solid $editor-search;
    }

    span.cm-highlighted {
        background-color: transparent;
        outline: 1px dotted $editor-search;
    }

    span.cm-bracket {
        color: $editor-text-color;
    }

    .CodeMirror-matchingbracket {
        text-decoration: underline;
        color: $editor-text-color !important;
    }

    .CodeMirror-nonmatchingbracket {
        color: $editor-text-color !important;
    }
}

.CodeMirror-Tern-tooltip {
    border-color:  $editor-bg;
    color: $editor-text-color;
    padding: 5px 10px;
    background-color: $editor-tooltip-bg;
    text-align: left;
    border-radius: 0;

    @extend .font-regular;
    font-size: 12px;
    line-height: 1.5;

    a {
        color: $editor-link;
    }
}

.CodeMirror-hints {
    border: none;
    background: $editor-tooltip-bg;
    font-size: 12px;
    margin: 0;
    padding: 0;
    max-width: none;
    border-radius: 0;
}

.CodeMirror-hint {
    color: $editor-hint-line;
    height: 20px;
    padding: 0 25px;
    line-height: 20px;
    max-width: none;
    border-radius: 0;
}

li.CodeMirror-hint-active {
    background: black;
    color: $editor-hint-line-active;
}

.CodeMirror-Tern-hint-doc {
    margin-left: 10px;
}

.CodeMirror-Tern-completion:before {
    left: 0;
    top: 0;
    border-radius: 0;
    font-size: 10px;
    font-weight: bold;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    color: $editor-text-color;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.CodeMirror-Tern-farg {
    opacity: 1;
}

.CodeMirror-Tern-fname {
    color: $editor-text-color;
}

.CodeMirror-Tern-farg {
    color: $editor-text-color;
}

.CodeMirror-Tern-farg-current {
    color: $editor-yellow;
}

.CodeMirror-Tern-type {
    color: $editor-keyword;
}

.CodeMirror-dialog {
    background-color: rgba(0,0,0,0.9);
    color: $editor-hint-line !important;
    border: none;
    padding: 10px 20px;
    font-size: 12px;
}

.CodeMirror-dialog-top {
    top: 0;
}

.CodeMirror-dialog-bottom {
    bottom: 0;
}

.CodeMirror-search-field {
    color: white !important;
    font-size: 12px;
}

.CodeMirror-lint-tooltip {
    background-color: $editor-tooltip-bg;
    border: none;
    border-radius: 0;
    color: $editor-text-color;
    font-size: 12px;
    text-align: justify;
    padding: 5px;
    line-height: 1.5;

    @extend .font-regular;
}

.CodeMirror-activeline-background {
    background-color: $editor-activeline-bg;
    opacity: 0.3;
}

.error .CodeMirror-activeline-background {
    background-color: red;
    opacity: 0.5;
}

.CodeMirror-activeline-gutter {
    background-color: $editor-activeline-linenumber-bg;
    .CodeMirror-linenumber {
        color: $editor-activeline-linenumber;
    }
}

.CodeMirror-fhint {
    font-family: monospace;
}

.CodeMirror-foldmarker {
    display: inline-block;
    vertical-align: middle;
    height: 7px;
    width: 12px;
    text-align: center;
    font-size: 15px;
    line-height: 0;
    color: $editor-bg;
    background-color: $editor-yellow;
    text-shadow: none;
    font-family: $editor-font-family;
    cursor: pointer;
}

.CodeMirror-scrollbar-filler {
   background-color: $editor-bg;
}

.CodeMirror-bookmark {
    width: 2px;
    display: inline-block;
    height: 13px;
    background: $editor-yellow;
    margin-right: -1px;
    margin-left: -1px;
    vertical-align: top;
}

a.link-docs {
    margin-left: 10px;
}

.animate-height {
    -webkit-transition: height 200ms ease;
    -moz-transition: height 200ms ease;
    transition: height 200ms ease;
}

.search-results-file {
    color: $editor-yellow !important;
}

.search-results-match {
    outline: 1px solid white;
}

.hide-find-in-files {
    .search-results-match {
        outline: 0;
    }
}

.invisible {
    visibility: hidden;
}

.ui-checkbox.tick {
    width: 14px;
    height: 14px;
    overflow: hidden;

    &.null {
        &:after {
            color: mix($bcg-primary, $text-darkest, 50%);
            left: 0;
        }
        &:hover:after {
            color: $text-primary;
        }
    }
    &:after {
        @extend .font-icon;
        position: absolute;
        margin: 0;
        content: none;
        width: 12px;
        height: 12px;
        line-height: 13px;
        font-weight: bold;
        font-size: 11px;
        text-align: center;
        left: 0;
        top: 0;
        border-radius: 0;
        background-color: transparent;
        transition: none;
    }
    &.null {
        &:after {
            @extend .font-regular;
            content: '?';
            color: $text-dark;
            font-weight: bold;
            background-color: transparent;
        }
        &:hover {
            &:after {
                @extend .font-icon;
                content: '\E133';
                color: $text-primary;
                background-color: transparent;
            }
        }
    }
    &:hover {
        &:after {
            @extend .font-icon;
            content: '\E133';
            color: $text-primary;
        }
        &.checked:after {
            color: $text-primary;
            background-color: mix($text-dark, $bcg-darkest, 50%);
        }
    }
    &.checked {
        background-color: $text-dark;

        &:after {
            content: '\E133';
            color: $bcg-dark;
        }
    }
}

.ui-button.icon {
    @extend .font-icon;
}
