// root
#layout-root {
    width: 100%;
    height: 100%;
    grid-template:
        'toolbar hierarchy viewport attributes' 1fr
        'toolbar hierarchy assets attributes' auto
        'statusbar statusbar statusbar statusbar' 24px / 45px auto 1fr auto;
}

// left toolbar
#layout-toolbar {
    grid-area: toolbar;
    min-width: 0;
    min-height: 0;
}

// hierarchy panel
#layout-hierarchy {
    grid-area: hierarchy;
    min-width: 0;
    min-height: 0;
}

// secondary attributes panel
#layout-attributes-secondary {
    grid-area: attributes;
    min-width: 0;
    min-height: 0;

    > .pcui-panel-content {
        overflow-x: hidden;
        overflow-y: auto;
    }
}

// 3d viewport
#layout-viewport {
    grid-area: viewport;
    min-width: 0;
    min-height: 0;
}

// assets panel
#layout-assets {
    grid-area: assets;
    min-width: 0;
    min-height: 0;
}

// attributes inspector
#layout-attributes {
    grid-area: attributes;
    min-width: 0;
    min-height: 0;
}

#layout-attributes.layout-attributes-left {
    grid-area: hierarchy;
}

// status bar
#layout-statusbar {
    grid-area: statusbar;
    z-index: 1; // bring status bar in front of possible overlays
    min-width: 0;
    min-height: 0;
}
