.component-inspector {
    > .pcui-panel-content {
        padding-top: $element-margin;
    }
}

// Component icon element (separate from collapse arrow)
.component-icon {
    @extend .component-icon-prefix;

    width: 24px;
    margin-left: 0;
    margin-right: 4px;
    text-align: center;
    flex-shrink: 0;

    &::before {
        @extend .font-icon;

        font-size: 14px;
        color: $text-active;
    }
}

.component-inspector-enabled {
    > .pcui-label:first-child {
        width: auto !important;

        @extend .font-bold;
    }
}

.component-header-btn {
    width: 24px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    margin: 1px;
    padding: 0;

    &:last-child {
        margin-right: 10px;
    }
}
