.sprite-component-inspector-clip {
    margin: $element-margin;

    > .pcui-panel-content {
        padding-top: $element-margin;
    }
}

.sprite-component-inspector-clip + .sprite-component-inspector-clip {
    margin-top: - calc($element-margin / 2);
}
