@use 'sass:color';

.viewport {
    @extend .noSelect;

    > .camera-preview {
        display: none;
        position: absolute;
        top: 41px;
        left: 4px;
        width: 256px;
        height: 196px;
        border: 2px solid $text-primary;

        &.active {
            display: block;
        }

        &.clickable {
            cursor: pointer;

            &:hover {
                border-color: $text-active;
            }
        }

        > .lock {
            position: absolute;
            top: 0;
            right: 0;
            width: 24px;
            height: 24px;
            line-height: 26px;
            padding: 0;
            margin: 0;
            border: none;
            border-radius: 0;
            color: rgba($text-primary, 0.75);
            background-color: rgba($bcg-darker, 0.5);

            &.active {
                color: $text-active;
                box-shadow: none;

                &::before {
                    content: '\E341';
                }
            }

            &:hover {
                color: $text-primary;
                background-color: rgba($bcg-darker, 0.75);
            }
        }
    }
}

.control-strip {
    position: absolute;
    display: flex;
    gap: 2px;

    > .pcui-button,
    > .render > .pcui-button,
    > .camera > .pcui-button,
    > .launch > .pcui-button {
        height: 33px;
        margin: 0;
        border: none;
        border-radius: 0;
        color: rgba($text-primary, 0.75);
        background-color: rgba($bcg-darker, 0.5);

        &:hover,
        &.active {
            color: $text-primary;
            background-color: rgba($bcg-darker, 0.75);
            box-shadow: none;
        }

        &::before {
            font-size: 14px;
        }

        &:empty {
            width: 33px;
            padding: 0;
        }

        &:not(:empty) {
            padding: 0 10px;
        }
    }

    &.top-left {
        top: 4px;
        left: 4px;
    }

    &.bottom-right {
        bottom: 4px;
        right: 4px;
    }

    &.top-right {
        top: 4px;
        right: 4px;

        > .pcui-button.expand {
            &::before {
                font-size: 16px;
            }

            &.active {
                background-color: $text-active;
            }
        }

        > .pcui-container.render,
        > .pcui-container.camera {
            position: relative;

            &:hover > .pcui-button {
                color: $text-primary;
                background-color: rgba($bcg-darker, 0.75);
            }

            > .render-options,
            > .camera-options {
                position: absolute;
                padding: 10px;
                top: 33px;
                right: 0;
                text-align: start;
                min-width: 150px;
                max-height: 300px;
                overflow: hidden auto;
                background-color: rgba($bcg-darker, .75);

                .pcui-container {
                    flex-direction: row;
                    line-height: 22px;
                    width: 100%;
                    background: transparent;

                    .pcui-boolean-input {
                        margin: 7px 3px 3px;
                        vertical-align: text-bottom;
                    }

                    .pcui-radio-button {
                        align-self: center;
                        height: 16px;
                        margin: 0 3px 0 2px;
                        width: 16px;
                        flex-shrink: 0;
                    }

                    .pcui-label {
                        margin: 3px;
                        max-width: 200px;
                        min-height: 20px;
                        font-size: 12px;
                        word-wrap: break-word;
                        white-space: pre-wrap;
                        vertical-align: bottom;
                    }
                }

                .divider {
                    height: 3px;
                    background-color: rgba($bcg-darker, .75);
                    margin: 5px 0;
                }
            }
        }

        > .launch {
            position: relative;

            &:not(.disabled):hover {
                > .pcui-button {
                    background-color: $text-active;
                }
            }

            > .pcui-button {
                &::before {
                    font-size: 20px;
                }
            }

            .pcui-container.options {
                position: absolute;
                top: 33px;
                right: 0;
                margin: 0;
                padding: 5px;
                list-style: none;
                background-color: rgba($bcg-darker, 0.75);

                .pcui-boolean-input:not(.pcui-boolean-input-ticked) {
                    background-color: #20292b;
                }

                .pcui-label {
                    vertical-align: top;
                    font-size: 12px;
                }

                .pcui-container {
                    @extend .noSelect;

                    background: transparent;
                    width: 200px;
                    cursor: pointer;
                    margin: 2px 0;

                    &:has(.pcui-button):hover {
                        .pcui-button {
                            color: $text-active;
                        }
                    }
                }

                .pcui-button {
                    width: 100%;
                    border: 0;
                    padding: 0;
                    margin: 0;
                    margin-left: 5px;
                    background-color: transparent;
                    font-size: 12px;
                    text-align: left;

                    &::before {
                        font-size: 20px;
                        vertical-align: middle;
                    }

                    &:hover {
                        box-shadow: none;
                    }
                }
            }
        }
    }
}

.control-strip > .pcui-button.whats-new {
    color: $text-primary;
    background-color: color.adjust($text-active, $lightness: -5%);
    padding-right: 0;
    text-transform: uppercase;

    &:hover {
        background-color: $text-active;
    }

    .dismiss-icon {
        display: inline-block;
        padding: 0 10px;
        cursor: pointer;
        color: rgba($text-primary, 0.5);
        transition: none;

        &::before {
            @extend .font-icon;
            content: '\E132';
            font-size: 10px;
        }

        &:hover {
            color: $text-primary;
        }
    }
}

.pcui-container.whoisonline {
    position: absolute;
    bottom: 34px;
    left: 246px;
    background-color: transparent;
    padding: 2px;
    transition: left 100ms;

    &.chat-minified {
        left: 106px;
    }

    &.no-chat {
        left: 2px;
    }

    &.expanded {
        bottom: 2px;
        left: 2px;
        transition: none;
    }

    > a {
        position: relative;
        display: block;
        margin-right: 4px;
        float: left;
        background-color: $bcg-darkest;

        > img {
            display: block;
            width: 28px;
            height: 28px;
            margin: 2px;
        }

        &::after {
            content: '\00a0';
            position: absolute;
            right: 2px;
            bottom: 2px;
            width: 6px;
            height: 6px;
            background: inherit;
        }
    }
}

.pcui-panel.chat-widget {
    position: absolute;
    bottom: 36px;
    left: 4px;
    width: 240px;
    height: 192px;

    &.pcui-collapsed {
        width: 100px;

        > .pcui-panel-header {
            color: $text-secondary;

            &::before {
                content: '\E233';
                color: $text-secondary;
            }

            > .typers {
                display: none;
            }

            > .pcui-button {
                display: none;
            }
        }
    }

    &.notify {
        > .pcui-panel-header {
            &::after {
                color: $text-active;
            }

            > .title {
                color: $text-primary;
            }
        }
    }

    > .pcui-panel-header {
        // header collapsible hover state
        &:hover {
            color: $text-primary;

            &::before {
                color: $text-primary;
            }
        }

        &::before {
            content: '\E233';
        }

        > .typers {
            float: right;
            max-width: 132px;
            padding-right: 4px;
            font-size: 10px;
            text-overflow: ellipsis;
            order: 0;
            overflow: hidden;
            color: $text-secondary;

            > .single,
            > .double,
            > .multiple {
                display: none;

                &.active {
                    display: block;
                }

                > .user {
                    font-weight: bold;
                }
            }
        }

        > .notifications {
            border-radius: 0;
            color: $text-darkest;
            float: right;
            font-size: 18px;
            order: 1;
            overflow: initial;
            width: 32px;
            height: 32px;

            &.active {
                color: $text-secondary;
            }

            &:hover {
                color: $text-primary;
                background-color: $bcg-darkest;
                box-shadow: none;
            }
        }

        > .number {
            display: none;
            float: right;
            margin-right: 4px;
            padding: 0 6px;
            height: 18px;
            line-height: 18px;
            border-radius: 9px;
            pointer-events: none;

            &.notify {
                display: block;
                color: $text-primary;
                background-color: $text-active;
            }

            &.typing {
                display: block;
                color: $text-primary;
            }
        }
    }

    > .pcui-panel-content {
        height: 160px;

        > .messages {
            height: 124px;
            overflow-x: hidden;
            padding-bottom: 4px;
            user-select: text;
            width: 240px;
            word-break: break-word;

            > .divider {
                background-color: $bcg-darker;
                margin: 4px 8px;
                height: 1px;
            }

            > .message + .message.multi {
                margin-top: -4px;
            }

            > .message.multi + .message.multi {
                margin-top: 0;
            }

            > .message {
                margin: 4px;
                padding-left: 18px;
                line-height: 14px;
                font-size: 12px;

                &.multi {
                    margin: 0 4px;
                }

                > img {
                    vertical-align: text-bottom;
                    margin-right: 4px;
                    margin-left: -18px;

                    @extend .noSelect;
                }

                > span {
                    vertical-align: text-top;

                    &.username {
                        font-weight: bold;
                        color: $text-primary;
                    }
                }
            }

            > .system {
                margin: 4px;
                line-height: 12px;
                font-size: 12px;
                font-weight: bold;
                color: $text-active;
            }
        }

        > .pcui-input-element {
            border: none;
            height: 32px;
            margin: 0;
            width: 240px;

            &.pcui-focus,
            &:hover {
                box-shadow: none;
            }

            &::after {
                right: auto;
                left: 0;
                line-height: 32px;
                width: 32px;
                text-align: center;
                padding: 0;
            }

            &.not-empty {
                padding: 0;
                content: '';
                background-color: $bcg-darkest;

                &::after {
                    content: '';
                }

                > .clear {
                    display: block;
                }

                > input {
                    color: $text-primary;
                    width: calc(100% - 40px);
                }
            }

            > input {
                padding: 0 8px;
            }

            > .clear {
                display: none;
                position: absolute;
                top: 0;
                right: 0;
                width: 32px;
                height: 32px;
                line-height: 32px;
                color: #d34141;

                @extend .font-icon;

                font-size: 18px;
                font-weight: bold;
                text-align: center;
                cursor: pointer;
            }
        }
    }
}
