@use "sass:map";

.entities-treeview {
    height: 100%;

    // template instance icon
    .pcui-treeview-item.template-instance {
        > .pcui-treeview-item-contents {
            > .pcui-treeview-item-icon::after {
                content: map.get($asset-icons, 'template');
            }
        }
    }

    // template instance child
    .pcui-treeview-item.template-instance-child {
        > .pcui-treeview-item-contents {
            > .pcui-treeview-item-text::before {
                content: map.get($asset-icons, 'template');
                position: absolute;
                left: -13px;
                top: -5px;
                font-size: 12px;
                color: $text-darkest;
                text-shadow: -1px 2px 1px $bcg-primary;

                @extend .font-icon;
            }

            &.pcui-treeview-item-selected,
            &:hover {
                > .pcui-treeview-item-text::before {
                    color: $text-primary;
                }
            }
        }
    }
}

.entities-treeview-highlight {
    > .pcui-treeview-item-contents > .pcui-treeview-item-text {
        color: $text-active;
    }
}

.entities-treeview-visibility-toggle {
    margin-left: auto;
    width: 20px;
    height: 20px;
    min-width: 20px;
    border: none;
    background: transparent;
    font-size: 12px;
    color: $text-dark;
    opacity: 0;
    cursor: pointer;
    flex-shrink: 0;

    &:hover {
        color: $text-primary;
    }
}

.pcui-treeview-item:hover > .pcui-treeview-item-contents .entities-treeview-visibility-toggle {
    opacity: 1;
}

.pcui-treeview-item.pcui-disabled > .pcui-treeview-item-contents .entities-treeview-visibility-toggle {
    opacity: 0.5;
}

.entities-treeview-user-marker-container {
    margin-left: 0;
}

.entities-treeview-user-marker {
    display: inline-block;
    margin-right: 4px;
    width: 8px;
    height: 8px;
}
