.layers-settings-panel-render-order-panel,
.layers-settings-panel-render-order-list-container {
    margin: $element-margin;
}

.layers-settings-panel-layers-container {
    margin: 3px 10px;
}

.layers-settings-panel-render-order-panel {
    border: 1px solid $bcg-darkest;
}

.layers-settings-panel-render-order-list-item,
.layers-settings-panel-layer-panel {
    border-top: 1px solid $bcg-darkest;
    border-left: 1px solid $bcg-darkest;
    border-right: 1px solid $bcg-darkest;
}

.layers-settings-panel-render-order-list-item:last-child,
.layers-settings-panel-layer-panel:last-child {
    border-bottom: 1px solid $bcg-darkest;
}

.layers-settings-panel-render-order-list-item {
    background: $bcg-dark;

    .pcui-panel-header {
        background: transparent;
    }
}

.layers-settings-panel-render-order-list-item-transparent {
    background-size: 20px 20px;
    background-position: 0 -13px, 10px -3px;
    background-image: linear-gradient(45deg, $bcg-darker 25%, transparent 25%, transparent 75%, $bcg-darker 75%, $bcg-darker 100%), linear-gradient(45deg, $bcg-darker 25%, transparent 25%, transparent 75%, $bcg-darker 75%, $bcg-darker 100%);
}
