.settings-panel {
    .settings-scope-icon {
        &::before {
            content: attr(data-icon);

            @extend .font-icon;

            font-weight: 100;
            margin-right: $element-margin;
            vertical-align: middle;
            font-size: 14px;
        }
    }
}

.settings-scope-tooltip {
    &::before {
        content: attr(data-icon);

        @extend .font-icon;

        font-weight: 100;
        font-size: inherit;
        margin-right: $element-margin;
        vertical-align: middle;
    }
}
