@use 'sass:color';

$bright-red: #e74c3c;
$bright-yellow: #f1c40f;
$console-body-bg: color.mix($bcg-primary, $bcg-dark, 50%);
$console-item-border: $border-primary;
$status-info: #b1b8ba;
$status-error: $bright-red;
$status-warn: $bright-yellow;

// console content (inside bottom panel)
#layout-bottom-panel {
    .console-header {
        padding: 0;
        margin: 0;
        border-top: 1px solid $border-primary;
        border-bottom: 1px solid $border-primary;
        background-color: $bcg-darker;

        .icon-button {
            padding: 8px 10px 6px;
            margin: 0;
            border-right: 1px solid $border-primary;

            &:hover {
                color: #fff;
                background-color: $bcg-darkest;
                cursor: pointer;
            }

            &::before {
                @extend .font-icon;

                font-size: 14px;
                text-align: center;
            }

            &.clear {
                &::before {
                    content: '\E328';
                }
            }

            &.copy {
                &::before {
                    content: '\E126';
                }
            }

            &.history {
                &::before {
                    content: '\E209';
                }
            }
        }

        .filter-text {
            border: 0;
            border-radius: 0;
            margin: 4px;
            flex: 1;

            &::after {
                font-size: 12px;
            }
        }
    }

    .console-body {
        flex: 1;
        min-height: 0;
        padding: 0;
        margin: 0;
        background-color: $console-body-bg;

        .console-item {
            font-size: 14px;
            border-bottom: 1px solid $console-item-border;
            justify-content: space-between;

            &.error {
                .console-item-icon {
                    color: $status-error;

                    &::before {
                        content: '\E368';
                    }
                }

                .console-item-text {
                    color: $status-error;
                }
            }

            &.warn {
                .console-item-icon {
                    color: $status-warn;

                    &::before {
                        content: '\E218';
                    }
                }

                .console-item-text {
                    color: $status-warn;
                }
            }

            .console-item-icon {
                min-width: fit-content;

                &::before {
                    content: '\E400';

                    @extend .font-icon;

                    font-size: 14px;
                    text-align: center;
                }
            }

            .console-item-counter {
                color: $bcg-darker;
                background-color: #b1b8ba;
                font-weight: bold;
                font-size: 12px;
                text-align: center;
                height: 17px;
                min-width: 17px;
                padding: 2px 5px 0;
                margin: auto 0;
                border-radius: 10px;

                &.hidden {
                    display: none;
                }
            }

            .console-item-text {
                word-wrap: break-word;
                margin: 8px 0;
                margin-right: auto;

                &.link:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            .console-item-time {
                font-size: 12px;
                text-align: right;
                min-width: fit-content;
                width: 50px;
                margin: auto 10px auto 5px;
            }
        }

        .console-show {
            display: flex;
            color: color.adjust($text-secondary, $alpha: -0.5);
            font-size: 12px;
            justify-content: center;
            margin: 10px;
        }
    }
}
