.component-inspector {
    > .pcui-panel-content {
        padding-top: $element-margin;
    }
}

// Component icon element (separate from collapse arrow)
.component-icon {
    width: 24px;
    margin-left: 0;
    margin-right: 4px;
    text-align: center;
    flex-shrink: 0;

    &::before {
        @extend .font-icon;

        font-size: 14px;
        color: $text-active;
    }

    // Component-specific icons
    @each $name, $glyph in $component-icons {
        &.type-#{$name}::before {
            content: $glyph;
        }
    }
}

.component-inspector-enabled {
    > .pcui-label:first-child {
        width: auto !important;

        @extend .font-bold;
    }
}
