.pcui-spinner {
    display: inline-block;
    margin: $element-margin;
    vertical-align: middle;

    g {
        animation-name: spin;
        animation-duration: 750ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        transform-origin: center;
    }

    &.pcui-error {
        g {
            animation: none;

            > path {
                fill: $error;
                &.spin {
                    fill: $error-secondary;
                }
            }
        }
    }
}
