.pcui-label {
    display: inline-block;
    box-sizing: border-box;
    margin: $element-margin;
    vertical-align: middle;
    transition: opacity 100ms;
    color: $text-secondary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pcui-label.pcui-multiple-values {
    position: relative;
    color: transparent;

    &:before {
        content: '...';
        color: $text-secondary;
        white-space: nowrap;
        @extend .fixedFont;
        font-size: 12px;
    }
}

.pcui-label.pcui-error {
    color: $error-secondary;
}

.pcui-label.pcui-selectable {
    &:hover {
        color: $text-active;
        text-decoration: underline;
        @extend .noSelect;
    }
}
