.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// flex container
.pcui-flex {
    &:not(.pcui-hidden) {
        display: -webkit-flex;
        display: flex;
    }
    flex-direction: column;
}

// grid container
.pcui-grid {
    display: -ms-grid;
    display: grid;
}

// scrollable element
.pcui-scrollable {
    // show scrollbars automatically
    overflow: auto;
}

// external pcui styling
@import 'node_modules/@playcanvas/pcui/dist/pcui.scss';

// editor specific pcui controls and extensions
@import 'pcui-common';
@import 'pcui-canvas';
@import 'pcui-color-input';
@import 'pcui-curve-input';
@import 'pcui-gradient-input';
@import 'pcui-asset-input';
@import 'pcui-asset-list';
@import 'pcui-entity-input';
@import 'pcui-asset-thumbnail';
@import 'pcui-drop-manager';
@import 'pcui-drop-target';
@import 'pcui-inspector';
@import 'pcui-tooltip';
@import 'pcui-table';

// this should always be last
.pcui-hidden {
    display: none;
}
