.pcui-select-input {
    @extend .pcui-flex;
    background-color: $bcg-darker;
    box-sizing: border-box;
    margin: $element-margin;
    border-radius: 2px;

    transition: box-shadow 100ms, opacity 100ms;
}

.pcui-select-input-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: box-shadow 100ms;
    border-radius: 2px;
    pointer-events: none;
}

.pcui-select-input-value {
    display: block;
    margin: 0;
    padding: 0 24px 0 $element-margin;
    height: 24px;
    line-height: 24px;
    font-size: 12px;

    transition: background-color 100ms, color 100ms;
}

.pcui-select-input-icon {
    position: absolute;
    right: 0;
    color: $text-darkest;
    pointer-events: none;
    transition: color 100ms;
    &:after {
        @extend .font-icon;
        content: '\E159';
    }
}

.pcui-select-input.pcui-open  {
    .pcui-select-input-shadow {
        box-shadow: $element-shadow-hover;
    }
    .pcui-select-input-value {
        color: $text-primary;
        background-color: $bcg-darkest;
    }

    .pcui-select-input-icon:after {
        color: $text-primary;
        content: '\E157';
    }
}

.pcui-select-input-list {
    position: absolute;
    top: 100%;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;

    background-color: $bcg-darker;

    > .pcui-label {
        display: block;
        font-size: 12px;
        height: 22px;
        line-height: 22px;
        padding: 0 24px 0 $element-margin;
        margin: 0;
        transition: background-color 100ms, color 100ms;

        &.pcui-selected {
            color: $text-primary;
            &:after {
                @extend .font-icon;
                content: '\E133';
                color: $text-darkest;
                position: absolute;
                right: $element-margin;
            }
        }
    }
}

.pcui-select-input-fit-height {
    .pcui-select-input-list {
        top: initial;
        bottom: 100%;
    }

    .pcui-select-input-shadow {
        top: initial;
        bottom: 0;
    }
}

.pcui-select-input:not(.pcui-disabled):not(.pcui-readonly) {
    &:hover, &:focus {
        .pcui-select-input-shadow {
            box-shadow: $element-shadow-hover;
        }

        .pcui-select-input-icon {
            color: $text-dark;
        }
    }

    .pcui-select-input-value:hover {
        color: $text-primary;
        background-color: $bcg-darkest;
        cursor: pointer;
    }

    .pcui-select-input-list > .pcui-label:hover {
        background-color: $bcg-darkest;
        color: $text-primary;
        cursor: pointer;
    }
}

.pcui-select-input.pcui-disabled {
    opacity: $element-opacity-disabled;
}

.pcui-select-input.pcui-readonly {
    opacity: $element-opacity-readonly;
    .pcui-select-input-icon {
        display: none;
    }
}
