.pcui-gridview {
    @extend .pcui-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.pcui-gridview-item {
    @extend .pcui-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 104px;
    height: 104px;

    &:not(.pcui-disabled) {
        cursor: pointer;

        &:not(.pcui-gridview-item-selected):hover {
            background-color: mix($bcg-darker, $bcg-darkest, 50%);
        }
    }
}

.pcui-gridview-item-selected {
    background-color: $bcg-darkest;
}

.pcui-gridview-item-text {
    max-width: 100px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: $element-margin;
}
