.pcui-gridview {
    @extend .pcui-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
}

.pcui-gridview-item {
    @extend .pcui-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 104px;
    height: 104px;

    &:not(.pcui-disabled):hover {
        background-color: $bcg-darker;
    }
}

.pcui-gridview-item-text {
    max-width: 100px;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}
