.pcui-inspector {
    > .pcui-label-group {
        margin: 3px 10px;
        min-height: 24px;

        > .pcui-label:first-child {
            font-size: 12px;
            width: 30%;
        }

        > .pcui-label:not(:first-child) {
            @extend .fixedFont;
        }
    }
}
