.pcui-inspector {
    > .pcui-label-group {
        margin: 3px 10px;
        min-height: 24px;

        > .pcui-label:first-child {
            font-size: 12px;
            width: 30%;
        }

        > .pcui-label:not(:first-child) {
            @extend .fixedFont;
        }
    }
}

.pcui-inspector-subhead {
    :first-child {
        color: $text-primary;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.pcui-asset-preview-container {
    position: relative;
    background-color: $bcg-darker;
    height: 0;
    padding-top: 45%;
}

.pcui-asset-preview-container-large {
    padding-top: 100%;
}
