.pcui-curve {
    display: inline-block;
    flex: 1;
    height: 24px;
    box-sizing: border-box;
    margin: $element-margin;
    transition: opacity 100ms, box-shadow 100ms;

    border: 1px solid $bcg-darker;
    background-color: $bcg-dark;

    > canvas {
        width: 100%;
        height: 100%;
        background-color: transparent;
    }
}

// disabled gradient input
.pcui-curve.pcui-disabled, .pcui-curve.pcui-multiple-values {
    opacity: $element-opacity-disabled;
}

// hover / focus states
.pcui-curve:not(.pcui-disabled):not(.pcui-readonly):not(.pcui-multiple-values) {
    &:hover {
        cursor: pointer;
    }

    &:hover, &:focus {
        cursor: pointer;
        box-shadow: $element-shadow-hover;
    }
    &:active {
        box-shadow: $element-shadow-active;
    }
}
