@import 'variables';
@import 'fonts';

$editor-bg: #1d292c;
$editor-gutter-bg: lighten($editor-bg, 2%);
$editor-text-color: #f8f4f0;
$editor-gutter-fg: #5b7073;
$editor-line-highlight: #324447;//#163a43;
$editor-selection: #677173; //#324447;//#275C69;
$editor-tooltip-bg: #324447;
$editor-hint-line: #b1b8ba;
$editor-hint-line-active: $editor-text-color;
$editor-yellow: #f1c40f;
$editor-step-bg: #c6dbae;
$editor-search: #b1b8ba;
$editor-fold-bg: #3cff94;
$editor-operator: #ed1e79;
$editor-numeric: #c978eb;
$editor-keyword: #77bef3;
$editor-tag: #ed1e79;
$editor-string: $editor-yellow;
$editor-link: #F16524;
$editor-comment: #779296;
$editor-meta: #779296;
$editor-def: #3cff94;
$editor-variable: white;
$editor-variable-2: white;
$editor-variable-3: white;
$editor-parameter: #ff842f;
$editor-attribute-name: #A9E884;
$editor-property: white;
$editor-attribute: white;
$editor-function: $editor-variable;
$editor-invalid-text: white;
$editor-invalid-bg: #ff3295;
$editor-invalid-deprecated-bg: #e3a9ff;

$save-btn-disabled-bg: #35454a;
$save-btn-disabled-color: #29363b;

$editor-btn-bg: lighten($save-btn-disabled-color, 5%);
$editor-btn-bg-hover: lighten($save-btn-disabled-color, 7%);

$top-bar-line-height: 34px;
$top-bar-border: 1px;
$top-bar-height: $top-bar-line-height + $top-bar-border;

$muted-green: #27AE60;
$bright-green: #2ECC71;
$bg-bright: #5B7073;
$bright-red: #E74C3C;
$gray-light: lighten(#000, 60%);
$text-color: #324447;

html {
    height: 100%;
    overflow: hidden;
}

body {
    @extend .font-regular;
    min-height: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-size: 14px;
    color: $text-color;
}

#editor-container {
    height: calc(100% - 35px);
    clear: both;
}

#users {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    height: $top-bar-height;
    line-height: $top-bar-line-height;

    a {
        margin-right: 5px;
    }

    img {
        max-height: 100%;
        vertical-align: middle;
    }
}

.code-editor {
    background-color: $editor-gutter-bg;
    display: none; // enabled in js
    height: 100%;

    .code-editor-topbar {
        text-align: center;
        padding-left: 10px;
        top: 0;
        height: $top-bar-height;
        line-height: $top-bar-line-height;
        border-bottom: $top-bar-border $editor-bg;

        @mixin block {
            display: inline-block;
            float: right;
            padding: 0px 10px;

            @extend .font-regular;
        }

        .code-editor-save {
            background-color: $muted-green;
            color: $editor-gutter-bg;
            font-size: 16px;

            @include block();
        }

        .code-editor-save:hover {
            background-color: $bright-green;
            color: white;
            cursor: pointer;
        }

        .code-editor-save.disabled, .code-editor-save[disabled], fieldset[disabled] .code-editor-save {
            background-color: $save-btn-disabled-bg;
            color: $save-btn-disabled-color;
            cursor: not-allowed;
        }

        .code-editor-readonly {
            background-color: $bg-bright;
            color: $editor-bg;
            font-size: 14px;

            @include block();
        }

        .code-editor-error {
            background-color: $bright-red;
            color: $editor-bg;
            font-size: 14px;
            @include block();
        }

        .code-editor-progress {
            background-color: $muted-green;
            @include block();

            img {
                vertical-align: middle;
            }
        }
    }

    .code-editor-logo {
        clear: left;
        float: left;
        color: white;
        position: relative;
        font-size: 16px;
        font-weight: bold;

        .thin {
            @extend .font-thin;
            opacity: 0.9;
        }
    }

    .code-editor-logo-small {
        float: left;
        color: $gray-light;
        margin-left: 10px;
        margin-top: 1px;
        font-size: 14px;
    }
}

.cm-s-default {
    &.CodeMirror {
        height: 100%;
        background-color: $editor-bg;
        color: $editor-text-color;
        font-size: 12px;
        font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
    }

    div.CodeMirror-selected {
        background-color: $editor-selection !important;
    }

    .CodeMirror-gutters {
        min-height: 100%;
        background-color: $editor-gutter-bg;
        border-right: none;
    }

    .CodeMirror-lines {
        padding: 0;
    }

    .CodeMirror-linenumber {
        color: $editor-gutter-fg;
        min-width: 29px;
        padding-right: 10px;
    }

    .CodeMirror-cursor {
       border-left: 1px solid $editor-text-color !important;
    }

    span.cm-comment {
        color: $editor-comment;
    }

    span.cm-atom, span.cm-keyword {
        color: $editor-keyword;
    }

    span.cm-number {
        color: $editor-numeric;
    }

    span.cm-property {
        color: $editor-property;
    }

    span.cm-attribute {
        color: $editor-keyword;
    }

    span.cm-string {
        color: $editor-string;
    }

    span.cm-tag, span.cm-qualifier, span.cm-builtin {
        color: $editor-tag;
    }

    span.cm-meta {
        color: $editor-meta;
    }

    span.cm-def {
        color: $editor-def;
    }

    span.cm-variable {
        color: $editor-variable;
    }

    span.cm-variable-2 {
        color: $editor-variable-2;
    }

    span.cm-variable-3 {
        color: $editor-variable-3;
    }

    span.cm-operator {
        color: $editor-operator;
    }

    span.cm-searching {
        background-color: transparent;
        border: 1px solid $editor-search;
    }

    .CodeMirror-matchingbracket {
        text-decoration: underline;
        color: $editor-text-color !important;
    }

    .CodeMirror-nonmatchingbracket {
        color: $editor-text-color !important;
    }
}

.CodeMirror-Tern-tooltip {
    border-color:  $editor-bg;
    color: $editor-text-color;
    padding: 5px 10px;
    background-color: $editor-tooltip-bg;
    text-align: left;
    border-radius: 0;

    @extend .font-regular;
    font-size: 12px;
    line-height: 1.5;

    a {
        color: $editor-link;
    }
}

.CodeMirror-hints {
    border: none;
    background: $editor-tooltip-bg;
    font-size: 12px;
    margin: 0;
    padding: 0;
    max-width: none;
    border-radius: 0;
}

.CodeMirror-hint {
    color: $editor-hint-line;
    height: 20px;
    padding: 0 25px;
    line-height: 20px;
    max-width: none;
    border-radius: 0;
}

li.CodeMirror-hint-active {
    background: black;
    color: $editor-hint-line-active;
}

.CodeMirror-Tern-hint-doc {
    margin-left: 10px;
}

.CodeMirror-Tern-completion:before {
    left: 0;
    top: 0;
    border-radius: 0;
    font-size: 10px;
    font-weight: bold;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    color: $editor-text-color;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.CodeMirror-Tern-farg {
    opacity: 1;
}

.CodeMirror-Tern-fname {
    color: $editor-text-color;
}

.CodeMirror-Tern-farg {
    color: $editor-text-color;
}

.CodeMirror-Tern-farg-current {
    color: $editor-yellow;
}

.CodeMirror-Tern-type {
    color: $editor-keyword;
}

.CodeMirror-dialog-top {
    background-color: rgba(0,0,0,0.9);
    border: none;
    top: 0;
    padding: 10px 20px;
    font-size: 12px;
    color: $editor-hint-line !important;
}

.CodeMirror-search-field {
    color: white !important;
    font-size: 12px;
}

.CodeMirror-lint-tooltip {
    background-color: $editor-tooltip-bg;
    border: none;
    border-radius: 0;
    color: $editor-text-color;
    font-size: 12px;
    text-align: justify;
    padding: 5px;
    line-height: 1.5;

    @extend .font-regular;
}

.CodeMirror-fhint {
    font-family: monospace;
}

@media (max-width: 480px) {
    .hidden-xs {
        display: none;
    }
}

a.link-docs {
    margin-left: 10px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: $editor-tooltip-bg;
}
::-webkit-scrollbar-thumb {
    background: black;
}
::-webkit-scrollbar-corner {
    background: $editor-tooltip-bg;
}



