@import 'fonts';

$editor-bg: #1d292c;
$editor-gutter-bg: lighten($editor-bg, 2%);
$editor-text-color: #f8f4f0;
$editor-gutter-fg: #5b7073;
$editor-line-highlight: #163a43;
$editor-step-bg: #c6dbae;
$editor-fold-bg: #3cff94;
$editor-operator: #ed1e79;
$editor-numeric: #c978eb;
$editor-keyword: #77bef3;
$editor-string: #f1c40f;
$editor-comment: #779296;
$editor-def: #3cff94;
$editor-variable: white;
$editor-variable-2: white; //#3cff94;
$editor-variable-3: white;
$editor-parameter: #ff842f;
$editor-attribute-name: #A9E884;
$editor-property: white;
$editor-attribute: white;
$editor-function: $editor-variable;
$editor-invalid-text: white;
$editor-invalid-bg: #ff3295;
$editor-invalid-deprecated-bg: #e3a9ff;

$save-btn-disabled-bg: #35454a;
$save-btn-disabled-color: #29363b;

$editor-btn-bg: lighten($save-btn-disabled-color, 5%);
$editor-btn-bg-hover: lighten($save-btn-disabled-color, 7%);

$top-bar-line-height: 34px;
$top-bar-border: 1px;
$top-bar-height: $top-bar-line-height + $top-bar-border;

$muted-green: #27AE60;
$bright-green: #2ECC71;
$bg-bright: #5B7073;
$bright-red: #E74C3C;
$gray-light: lighten(#000, 60%);
$text-color: #324447;

html {
    height: 100%;
    overflow: hidden;
}

body {
    @extend .font-regular;
    min-height: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-size: 14px;
    color: $text-color;
}

#editor-container {
    height: 100%;
}

.code-editor {
    background-color: $editor-gutter-bg;
    display: none; // enabled in js
    height: 100%;

    .code-editor-topbar {
        text-align: center;
        padding-left: 10px;
        top: 0;
        height: $top-bar-height;
        line-height: $top-bar-line-height;
        border-bottom: $top-bar-border $editor-bg;

        @mixin block {
            display: inline-block;
            float: right;
            padding: 0px 10px;

            @extend .font-regular;
        }

        .code-editor-save {
            background-color: $muted-green;
            color: $editor-gutter-bg;
            font-size: 16px;

            @include block();
        }

        .code-editor-save:hover {
            background-color: $bright-green;
            color: white;
            cursor: pointer;
        }

        .code-editor-save.disabled, .code-editor-save[disabled], fieldset[disabled] .code-editor-save {
            background-color: $save-btn-disabled-bg;
            color: $save-btn-disabled-color;
            cursor: not-allowed;
        }

        .code-editor-readonly {
            background-color: $bg-bright;
            color: $editor-bg;
            font-size: 14px;

            @include block();
        }

        .code-editor-error {
            background-color: $bright-red;
            color: $editor-bg;
            font-size: 14px;
            @include block();
        }

        .code-editor-progress {
            background-color: $muted-green;
            @include block();
        }
    }

    .code-editor-logo {
        clear: left;
        float: left;
        color: white;
        position: relative;
        font-size: 16px;
        font-weight: bold;

        .thin {
            @extend .font-thin;
            opacity: 0.9;
        }
    }

    .code-editor-logo-small {
        float: left;
        color: $gray-light;
        margin-left: 10px;
        margin-top: 1px;
        font-size: 14px;
    }
}

.cm-s-default {
    &.CodeMirror {
        height: 100%;
        background-color: $editor-bg;
        color: $editor-text-color;
        font-size: 12px;
        font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
    }

    div.CodeMirror-selected {
        background-color: $editor-line-highlight !important;
    }

    .CodeMirror-gutters {
        min-height: 100%;
        background-color: $editor-gutter-bg;
        border-right: none;
    }

    .CodeMirror-lines {
        padding: 0;
    }

    .CodeMirror-linenumber {
        color: $editor-gutter-fg;
        min-width: 29px;
        padding-right: 10px;
    }

    .CodeMirror-cursor {
       border-left: 1px solid $editor-text-color !important;
    }

    span.cm-comment {
        color: $editor-comment;
    }

    span.cm-atom, span.cm-keyword {
        color: $editor-keyword;
    }

    span.cm-number {
        color: $editor-numeric;
    }

    span.cm-property {
        color: $editor-property;
    }

    span.cm-attribute {
        color: $editor-keyword;
    }

    span.cm-string {
        color: $editor-string;
    }

    span.cm-def {
        color: $editor-def;
    }

    span.cm-variable {
        color: $editor-variable;
    }

    span.cm-variable-2 {
        color: $editor-variable-2;
    }

    span.cm-variable-3 {
        color: $editor-variable-3;
    }

    span.cm-operator {
        color: $editor-operator;
    }

    .CodeMirror-matchingbracket {
        text-decoration: underline;
        color: $editor-text-color !important;
    }

    .CodeMirror-nonmatchingbracket {
        color: $editor-text-color !important;
    }
}

// .cm-s-monokai.CodeMirror ::selection { background: rgba(73, 72, 62, .99); }
// .cm-s-monokai.CodeMirror ::-moz-selection { background: rgba(73, 72, 62, .99); }
// .cm-s-monokai .CodeMirror-guttermarker { color: white; }
// .cm-s-monokai .CodeMirror-guttermarker-subtle { color: #d0d0d0; }

// .cm-s-monokai span.cm-bracket {color: #f8f8f2;}
// .cm-s-monokai span.cm-tag {color: #f92672;}
// .cm-s-monokai span.cm-header {color: #ae81ff;}
// .cm-s-monokai span.cm-link {color: #ae81ff;}
// .cm-s-monokai span.cm-error {background: #f92672; color: #f8f8f0;}

// .cm-s-monokai .CodeMirror-activeline-background {background: #373831 !important;}
// .cm-s-monokai .CodeMirror-matchingbracket {
//   text-decoration: underline;
//   color: white !important;
// }


@media (max-width: 480px) {
    .hidden-xs {
        display: none;
    }
}




