html {
    height: 100%;
    overflow: hidden;
}
body {
    min-height: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    background-color: #333;
    font-size: 13px;
    color: #eee;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

$bcg-primary: #323f42;
$bcg-secondary: #364346;
$bcg-dark: #293538;
$bcg-darker: #20292b;
$bcg-light: #5f6f72;

$text-dark: #97aeb2;
$text-primary: #eee;
$text-light: #fff;
$text-active: #6bc26f;

$disabled-opacity: .4;

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#ui-root {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
}

#ui-top {
    height: 48px;
    line-height: 48px;
    background-color: #293538;
    // background-color: #111;

    > .content {
        overflow: hidden;
        padding: 0 8px;

        > .ui-button {
            font-size: 12px;
        }
    }
}

#ui-bottom {
    height: 24px;
    line-height: 24px;
    background-color: #293538;
    // background-color: #111;

    > .content {
        padding: 0 8px;
        overflow: hidden;
        font-size: 12px;
        color: #aaa;
    }
}

.ui-panel {
    > .content > .ui-panel.overlay {
        z-index: 10;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: auto;
        height: auto;
        background-color: #293538;

        opacity: 1;
        visibility: visible;
        transition: visibility 100ms, opacity 100ms;

        &.hidden {
            display: block;
            visibility: hidden;
            opacity: 0;
        }

        > .content {
            height: 100%;

            > .ui-progress {
                width: 128px;
                height: 4px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -2px 0 0 -64px;
            }
        }
    }
}

.ui-panel.attributes {
    .ui-panel {
        &.field {
            > .content {
                > .ui-label:nth-child(2) {
                    padding: 0 8px;
                    font-family: "Lucida Console", Monaco, monospace;
                    font-weight: normal;
                    font-size: 11px;
                    border: 1px solid #293538;
                    background-color: #293538;
                    // color: #eee;
                }
            }
        }
        .ui-label.label-field {
            -webkit-flex-shrink: 0;
            flex-shrink: 0;
            width: 78px;
            font-size: 11px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        &.field-asset {
            > .content > .ui-image-field {
                background-image: url("http://playcanvas.dev/editor/scene/img/asset-placeholder-texture.png");
                background-size: 64px 64px;
                background-repeat: no-repeat;
            }
        }
    }
    .ui-list {
        &.model-nodes {
            > .ui-list-item {
                height: auto;
                line-height: 34px;
                padding-right: 0;
                overflow: hidden;

                > .ui-image-field {
                    float: right;
                    background-image: url("http://playcanvas.dev/editor/scene/img/asset-placeholder-texture.png");
                    background-size: 64px 64px;
                    background-repeat: no-repeat;
                }
            }
        }
        &.assets {
            > .add-asset {
                position: relative;

                > .icon {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 16px;
                    height: 16px;
                    margin: 4px;
                    background-color: #07f;
                }
            }
            > .ui-list-item {
                position: relative;

                > .remove {
                    position: absolute;
                    display: block;
                    top: 0;
                    right: 0;
                    width: 16px;
                    height: 16px;
                    margin: 3px;
                    padding: 0;
                    background-color: #07f;
                }
            }
        }
    }
    .cubemap-viewport {
        > .content {
            padding: 4px;
            overflow: hidden;
            background-color: $bcg-darker;

            > .face {
                position: relative;
                float: left;
                width: 25%;
                height: 0px;
                cursor: pointer;
                padding-bottom: 25%;

                background-image: url("http://playcanvas.dev/editor/scene/img/asset-placeholder-texture.png");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                background-color: #07f;

                &:hover {
                    outline: $text-active 1px solid;
                    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
                    z-index: 1;

                    > .clear {
                        display: block;
                    }
                }
                &.empty {
                    > .clear {
                        display: none;
                    }
                }
                > .clear {
                    display: none;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 16px;
                    height: 16px;
                    background-color: #07f;
                    cursor: pointer;
                }
            }
            > .face-top {
                margin-left: 25%;
                margin-right: 50%;
            }
            > .face-bottom {
                margin-left: 25%;
                margin-right: 50%;
            }
        }
    }
}

.ui-grid.assets {
    > .ui-grid-item {
        position: relative;

        &.type-animation {
            background-image: url("/editor/scene/img/asset-placeholder-animation.png");
            > .icon {
                background-image: url("/editor/scene/img/asset-icons/animation.png");
            }
        }
        &.type-audio {
            background-image: url("/editor/scene/img/asset-placeholder-audio.png");
            > .icon {
                background-image: url("/editor/scene/img/asset-icons/audio.png");
            }
        }
        &.type-cubemap {
            background-image: url("/editor/scene/img/asset-placeholder-cubemap.png");
            > .icon {
                background-image: url("/editor/scene/img/asset-icons/cubemap.png");
            }
        }
        &.type-json {
            background-image: url("/editor/scene/img/asset-placeholder-json.png");
            > .icon {
                background-image: url("/editor/scene/img/asset-icons/json.png");
            }
        }
        &.type-material {
            background-image: url("/editor/scene/img/asset-placeholder-material.png");
            > .icon {
                background-image: url("/editor/scene/img/asset-icons/material.png");
            }
        }
        &.type-model {
            background-image: url("/editor/scene/img/asset-placeholder-model.png");
            > .icon {
                background-image: url("/editor/scene/img/asset-icons/model.png");
            }
        }
        &.type-scene {
            background-image: url("/editor/scene/img/asset-placeholder-scene.png");
            > .icon {
                background-image: url("/editor/scene/img/asset-icons/scene.png");
            }
        }
        &.type-texture {
            background-image: url("/editor/scene/img/asset-placeholder-texture.png");
            > .icon {
                background-image: url("/editor/scene/img/asset-icons/texture.png");
            }
        }

        &.selected {
            > .icon,
            > .label {
                background-color: #293538;
            }
        }
        > .icon {
            position: absolute;
            width: 16px;
            height: 16px;
            top: 0;
            right: 0;
            padding: 4px;
            background-color: rgba(#293538, 0.8);
            background-image: url("/editor/scene/img/asset-icons/unknown.png");
            background-size: 16px 16px;
            background-repeat: no-repeat;
            background-position: center center;
        }
        > .label {
            position: absolute;
            right: 0;
            bottom: 0;
            max-width: 88px;
            line-height: 16px;
            margin: 0px;
            padding: 2px 4px;
            font-size: 10px;
            text-overflow: ellipsis;
            text-align: right;
            overflow: hidden;
            background-color: rgba(#293538, 0.8);
        }
    }
}

.picker-color {
    &.c-1 > .content {
        > .pick-opacity {
            display: block;
        }
        > .fields > .field-r {
            display: block;
        }
    }
    &.c-2 > .content {
        > .fields > .field-hex {
            display: block;
        }
    }
    &.c-3 > .content {
        width: 298px;

        > .pick-rect {
            display: block;
        }
        > .pick-hue {
            display: block;
        }
        > .pick-opacity {
            display: none;
        }
        > .fields {
            > .field-g,
            > .field-b {
                display: block;
            }
        }
    }
    &.c-4 > .content {
        width: 320px;

        > .pick-opacity {
            display: block;
        }
        > .fields > .field-a {
            display: block;
        }
    }
    > .content {
        border: 1px solid #000;
        width: 320px;
        height: 162px;
        background-color: #333;
        white-space: nowrap;
        transition: none;

        > .pick-rect {
            @extend .noSelect;
            position: relative;
            display: none;
            float: left;
            width: 144px;
            height: 144px;
            border: 1px solid #000;
            margin: 8px 0 8px 8px;
            background-color: #f00;

            > .white {
                position: absolute;
                width: 144px;
                height: 144px;
                top: 0;
                left: 0;

                background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.01) 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0.01))); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.01) 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.01) 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.01) 100%); /* IE10+ */
                background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.01) 100%); /* W3C */
            }
            > .black {
                position: absolute;
                width: 144px;
                height: 144px;
                top: 0;
                left: 0;

                background: -moz-linear-gradient(top,  rgba(0,0,0,0.01) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.01)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top,  rgba(0,0,0,0.01) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top,  rgba(0,0,0,0.01) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top,  rgba(0,0,0,0.01) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
                background: linear-gradient(to bottom,  rgba(0,0,0,0.01) 0%,rgba(0,0,0,1) 100%); /* W3C */
            }
            > .handle {
                position: absolute;
                top: 0;
                left: 0;
                width: 12px;
                height: 12px;
                margin: -7px 0 0 -7px;
                border: 1px solid #000;
                outline: 1px solid #fff;
            }
        }
        > .pick-hue {
            @extend .noSelect;
            position: relative;
            display: none;
            float: left;
            width: 12px;
            height: 144px;
            margin: 8px 0 8px 8px;
            border: 1px solid #000;

            background: #000;
            background: -moz-linear-gradient(top, /* FF3.6+ */
                rgba(255, 0, 0, 1) 0%,
                rgba(255, 255, 0, 1) 16.67%,
                rgba(0, 255, 0, 1) 33.33%,
                rgba(0, 255, 255, 1) 50%,
                rgba(0, 0, 255, 1) 66.67%,
                rgba(255, 0, 255, 1) 83.33%,
                rgba(255, 0, 0, 1) 100%);
            background: -webkit-gradient(linear, left top, left bottom, /* Chrome,Safari4+ */
                color-stop(0%, rgba(255, 0, 0, 1)),
                color-stop(16.67%, rgba(255, 255, 0, 1)),
                color-stop(33.33%, rgba(0, 255, 0, 1)),
                color-stop(50%, rgba(0, 255, 255, 1)),
                color-stop(66.67%, rgba(0, 0, 255, 1)),
                color-stop(83.33%, rgba(255, 0, 255, 1)),
                color-stop(100%, rgba(255, 0, 0, 1)));
            background: -webkit-linear-gradient(top, /* Chrome10+,Safari5.1+ */
                rgba(255, 0, 0, 1) 0%,
                rgba(255, 255, 0, 1) 16.67%,
                rgba(0, 255, 0, 1) 33.33%,
                rgba(0, 255, 255, 1) 50%,
                rgba(0, 0, 255, 1) 66.67%,
                rgba(255, 0, 255, 1) 83.33%,
                rgba(255, 0, 0, 1) 100%);
            background: -o-linear-gradient(top, /* Opera 11.10+ */
                rgba(255, 0, 0, 1) 0%,
                rgba(255, 255, 0, 1) 16.67%,
                rgba(0, 255, 0, 1) 33.33%,
                rgba(0, 255, 255, 1) 50%,
                rgba(0, 0, 255, 1) 66.67%,
                rgba(255, 0, 255, 1) 83.33%,
                rgba(255, 0, 0, 1) 100%);
            background: -ms-linear-gradient(top, /* IE10+ */
                rgba(255, 0, 0, 1) 0%,
                rgba(255, 255, 0, 1) 16.67%,
                rgba(0, 255, 0, 1) 33.33%,
                rgba(0, 255, 255, 1) 50%,
                rgba(0, 0, 255, 1) 66.67%,
                rgba(255, 0, 255, 1) 83.33%,
                rgba(255, 0, 0, 1) 100%);
            background: linear-gradient(to bottom, /* W3C */
                rgba(255, 0, 0, 1) 0%,
                rgba(255, 255, 0, 1) 16.67%,
                rgba(0, 255, 0, 1) 33.33%,
                rgba(0, 255, 255, 1) 50%,
                rgba(0, 0, 255, 1) 66.67%,
                rgba(255, 0, 255, 1) 83.33%,
                rgba(255, 0, 0, 1) 100%);

            > .handle {
                position: absolute;
                top: 0;
                left: -3px;
                width: 16px;
                height: 4px;
                margin: -3px 0 0 0;
                border: 1px solid #000;
                outline: 1px solid #fff;
            }
        }
        > .pick-opacity {
            @extend .noSelect;
            position: relative;
            display: none;
            float: left;
            width: 12px;
            height: 144px;
            margin: 8px 0 8px 8px;
            border: 1px solid #000;

            background: #000;
            background: -moz-linear-gradient(top,  #ffffff 0%, #000000 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#000000)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  #ffffff 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  #ffffff 0%,#000000 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  #ffffff 0%,#000000 100%); /* IE10+ */
            background: linear-gradient(to bottom,  #ffffff 0%,#000000 100%); /* W3C */

            > .handle {
                position: absolute;
                top: 0;
                left: -3px;
                width: 16px;
                height: 4px;
                margin: -3px 0 0 0;
                border: 1px solid #000;
                outline: 1px solid #fff;
            }
        }
        > .fields {
            float: left;
            width: 106px;
            height: 154px;
            margin: 0 0 0 8px;
            padding: 4px;

            > .field {
                display: none;
                width: calc(106px - 10px);
            }
        }
    }
}
