@import 'variables';
@import 'fonts';


html {
    height: 100%;
    overflow: hidden;
}
body {
    @extend .font-regular;
    min-height: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-size: 14px;
    color: #eee;

    // font-family: inconsolatamedium;
    // font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

strong {
    @extend .font-bold;
}

[draggable=true] {
    -khtml-user-drag: element;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#ui-root {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
}

#ui-toolbar {
    > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 45px;
        height: auto;
        background-color: #293538;

        > .ui-button {
            display: block;
            margin: 0;
            padding: 0;
            width: 45px;
            height: 45px;
            border: none;
            overflow: hidden;

            &.logo {
                background-image: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/images/editor_logo.png");
                background-size: 92px 46px;
                background-repeat: no-repeat;
                background-position: -1px -1px;

                &:hover {
                    background-position: -47px -1px;
                }
            }
            &.icon {
                color: #9ba1a3;
                line-height: 43px;
                @extend .font-icon;
                font-size: 24px;
                text-align: center;
                background-color: #364346;

                &.active {
                    color: $text-primary;
                    background-color: $bcg-darkest;

                    &:hover,
                    &:focus {
                        background-color: mix($bcg-dark, $bcg-darkest, 50%);
                    }
                }
                &.disabled {
                    opacity: 1;
                    color: mix(#9ba1a3, #364346, 30%);

                    &:hover,
                    &:focus {
                        color: mix(#9ba1a3, #364346, 30%);
                        background-color: #364346;
                    }
                }
                &:hover,
                &:focus {
                    color: $text-primary;
                    background-color: $bcg-dark;
                }
            }
            &.designer-settings {
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: $bcg-darker;
            }
        }
    }
}

#ui-bottom {
    height: 24px;
    line-height: 24px;
    background-color: $bcg-darkest;
    // background-color: #111;

    > .content {
        padding: 0 8px;
        overflow: hidden;

        > .status {
            float: left;
            margin: 0;
            line-height: 24px;
            font-size: 12px;
            color: #aaa;

            &.error {
                color: #fb222f;
            }
        }
        > .jobsProgress {
            position: absolute;
            top: 10px;
            right: 24px;
            opacity: 0;
            visibility: hidden;
            transition: opacity 100ms, visibility 100ms;

            &.active {
                opacity: 1;
                visibility: visible;
            }
        }
        > .jobsCount {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            width: 24px;
            line-height: 24px;
            font-size: 12px;
            color: $text-darkest;
            text-align: center;
        }
    }
}

#canvas-3d {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
}

.ui-panel {
    > .content > .ui-panel.overlay {
        z-index: 10;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: auto;
        height: auto;
        // background-color: #293538;

        opacity: 1;
        visibility: visible;
        transition: visibility 100ms, opacity 100ms;

        &.hidden {
            display: block;
            visibility: hidden;
            opacity: 0;
        }

        > .content {
            height: 100%;

            > .ui-progress {
                width: 128px;
                height: 4px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -2px 0 0 -64px;
            }
        }
    }
}

.ui-panel.assets {
    overflow: visible;
    background-color: $bcg-darker;

    &.resizable {
        &.resizable-top.scrollable > .content {
            top: 0;
        }
        &.foldable.folded {
            height: 0 !important;

            > .ui-header {
                > .assets-controls {
                    display: none;
                }
                > .filters {
                    display: none;
                }
            }
        }
    }
    > .ui-header {
        position: absolute;
        top: -32px;
        left: 8px;

        &:after {
            content: '\E122';
            font-size: 20px;
        }
        > .title {
            margin-right: 16px;
        }
        > .assets-controls {
            float: left;
            background: transparent;

            > .content {
                > .ui-button {
                    width: 32px;
                    height: 32px;
                    line-height: 32px;
                    border: none;
                    padding: 0;
                    margin: 0;
                    // margin: 0 0 0 16px;
                    vertical-align: top;
                    @extend .font-icon;
                    font-size: 16px;
                    text-align: center;
                    color: $text-dark;
                    background-color: transparent;

                    &:hover {
                        color: $text-primary;
                        background-color: $bcg-darkest;
                    }
                    &.disabled {
                        &:hover {
                            color: $text-dark;
                            background-color: transparent;
                        }
                    }
                }
            }
        }
        > .filters {
            margin-left: 16px;
            float: right;
            background-color: transparent;

            > .content {
                > .ui-select-field.options {
                    margin: 0;
                    height: 32px;
                    line-height: 32px;
                    border: none;
                    font-size: 12px;
                    vertical-align: top;

                    > .value {
                        @extend .font-bold;
                        line-height: 32px;

                        &:after {
                            width: 32px;
                            height: 32px;
                            line-height: 30px;
                        }
                    }
                    > ul > li {
                        @extend .font-bold;
                        line-height: 32px;
                    }
                    &.not-empty {
                        > .value {
                            color: $text-active;
                        }
                        background-color: $bcg-darkest;
                    }
                }
                > .ui-text-field.search {
                    margin: 0;
                    width: 192px;
                    height: 32px;
                    border: none;
                    border-left: 1px solid $bcg-dark;
                    background-color: #293538;

                    &.active,
                    &:hover,
                    &:focus,
                    &.focus {
                        border-color: $bcg-darkest;
                        background-color: $bcg-darkest;
                        &:before {
                            content: '';
                            padding: 0;
                        }
                        &:after {
                            content: '';
                        }
                    }
                    > input.field {
                        line-height: 32px;
                    }
                    &:before {
                        content: 'Search';
                        position: absolute;
                        color: $text-dark;
                        line-height: 32px;
                        padding: 0 8px;
                        @extend .font-bold;
                        font-size: 12px;
                    }
                    &.not-empty:before {
                        padding: 0;
                        content: '';
                    }
                    &:after {
                        content: '\E333';
                        line-height: 32px;
                        background-color: #293538;
                        @extend .font-icon;
                        font-size: 18px;
                        text-align: center;
                    }
                    &.not-empty {
                        background-color: $bcg-darkest;
                        > input.field {
                            color: $text-active;
                        }
                        > .clear {
                            display: block;
                        }
                        &:after {
                            content: '';
                        }
                    }
                    > .clear {
                        display: none;
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 32px;
                        height: 32px;
                        line-height: 32px;
                        text-align: center;
                        color: #d34141;
                        @extend .font-icon;
                        font-size: 18px;
                        text-align: center;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.drop-ref-highlight {
    z-index: 210;
}
.drop-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: 201;
    background-color: rgba(#20292b, .3);
    opacity: 0;
    visibility: hidden;
    transition: opacity 100ms, visibility 100ms;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}
.drop-areas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: 220;
    opacity: 0;
    visibility: hidden;
    transition: opacity 100ms, visibility 100ms;

    &.active {
        opacity: 1;
        visibility: visible;
    }
    > .drop-area {
        position: absolute;
        margin: -2px 0 0 -2px;
        padding: 2px;
        width: auto;
        height: auto;
        border: none;
        // border: 2px solid $text-active;
        background-color: rgba($text-active, .4);

        &.over {
            background-color: rgba($text-active, .7);
        }
    }
}

.ui-panel.attributes {
    &.foldable.horizontal > .ui-header:after {
        transform: rotate(90deg);
    }
    > .ui-header:after {
        content: '\E122';
        font-size: 20px;
    }

    &.asset-preview {
        > .asset-preview {
            display: block;
            width: calc(100% - 16px);
            border: 8px solid $bcg-darker;
            background-color: $bcg-darker;
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;
        }
        > .content {
            margin-top: 100%;
            transition: margin-top 100ms;
        }
    }

    .ui-panel {
        &.field {
            > .content {
                > .ui-label:nth-child(2) {
                    padding: 0 8px;
                    font-family: "Lucida Console", Monaco, monospace;
                    font-weight: normal;
                    font-size: 11px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
        .ui-label.label-field {
            -webkit-flex-shrink: 0;
            flex-shrink: 0;
            width: 27%;
            font-size: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .ui-label.label-infield {
            font-size: 10px;
            line-height: 24px;
            vertical-align: top;
        }
        &.field-asset {
            &.channel {
                > .content > .top {
                    > .ui-label {
                        float: left;
                        width: calc(100% - 100px);
                    }
                    > .ui-select-field {
                        float: right;
                        width: 32px;
                    }
                }
            }

            > .content {
                > .ui-image-field {
                    -webkit-flex-shrink: 0;
                    flex-shrink: 0;
                    margin-right: 15px;
                    background-color: $bcg-darkest;

                    &.empty {
                        background-image: url("/editor/scene/img/asset-placeholder-texture.png");
                        background-position: center center;
                    }
                }
                > .top {
                    width: 100%;

                    > .controls {
                        display: -webkit-flex;
                        display: flex;
                        margin-top: 4px;
                        height: 32px;

                        > .ui-label {
                            padding-right: 4px;
                            line-height: 26px;
                        }
                        > .ui-button {
                            color: $text-dark;
                            height: 28px;
                            line-height: 28px;
                            @extend .font-icon;
                            font-size: 18px;
                            text-align: center;
                            text-align: center;
                            background: transparent;
                            border: none;
                            margin-left: 0;
                            margin-right: 0;

                            &.disabled {
                                &:hover {
                                    color: $text-dark;
                                    background-color: transparent;
                                }
                            }
                            &:last-child {
                                margin-right: 4px;
                                line-height: 26px;

                                &:hover {
                                    color: #d34141;

                                    &.disabled {
                                        color: $text-dark;
                                    }
                                }
                            }
                            &:hover {
                                background-color: $bcg-darkest;
                                color: $text-primary;
                            }
                        }
                    }
                    > .ui-label {
                        width: calc(100% - 44px);
                        height: 22px;
                        line-height: 22px;
                        margin: 3px;
                        padding: 0 28px 0 8px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-family: inconsolatamedium;
                        font-size: 12px;
                        background-color: $bcg-dark;
                        border: 1px solid $bcg-darker;
                        cursor: pointer;

                        &:hover {
                            background-color: $bcg-darkest;
                            color: $text-primary;
                        }
                    }
                    > .ui-label[placeholder] {
                        &:after {
                            font-size: 24px;
                            line-height: 14px;
                        }
                    }
                }
            }

            &.active {
                outline: 1px solid $text-active;
                z-index: 1;
                background-color: $bcg-darkest;

                > .content {
                    > .top {
                        > .controls {
                            > .ui-label {
                                color: $text-active;
                            }
                        }
                        > .ui-label {
                            color: $text-active;
                        }
                    }
                }
            }
        }
    }
    .ui-list {
        &.model-nodes {
            > .ui-list-item {
                height: auto;
                line-height: 34px;
                padding-right: 0;
                overflow: hidden;

                > .ui-image-field {
                    float: right;
                    background-position: center center;
                    background-color: black;
                }
            }
        }
        &.assets {
            > .add-asset {
                position: relative;

                &:hover > .icon {
                    color: $text-active;
                }
                > .icon {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 22px;
                    height: 22px;
                    line-height: 20px;
                    margin: 0;
                    padding: 0;
                    border: none;
                    @extend .font-icon;
                    font-size: 16px;
                    text-align: center;

                    &:after {
                        content: '\E464';
                    }
                }
            }
            > .ui-list-item {
                position: relative;

                > .remove {
                    position: absolute;
                    display: block;
                    top: 0;
                    right: 0;
                    width: 22px;
                    height: 22px;
                    line-height: 20px;
                    margin: 0;
                    padding: 0;
                    border: none;
                    @extend .font-icon;
                    font-size: 18px;
                    text-align: center;

                    &:hover {
                        color: #d34141;
                    }
                    &:after {
                        content: '\E436';
                    }
                }
            }
        }
    }
    .cubemap-viewport {
        > .content {
            padding: 4px;
            overflow: hidden;
            background-color: #2c393c;

            > .face {
                position: relative;
                float: left;
                width: 25%;
                height: 0px;
                cursor: pointer;
                padding-bottom: 25%;
                font-size: 12px;

                background-image: url("/editor/scene/img/asset-placeholder-texture.png");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                background-color: #07f;
                color: rgba(255, 255, 255, 0.5);

                &:hover {
                    outline: $text-active 2px solid;
                    z-index: 1;

                    > .face-name {
                        color: $text-primary;
                    }
                    > .clear {
                        display: block;
                    }
                }
                &.empty {
                    > .clear {
                        display: none;
                    }
                }
                > .face-name {
                    float: left;
                    color: $text-secondary;
                    padding: 2px 4px;
                    background-color: rgba($bcg-dark, 0.8);
                }
                > .clear {
                    display: none;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 22px;
                    height: 22px;
                    line-height: 20px;
                    background-color: #364346;
                    cursor: pointer;
                    @extend .font-icon;
                    font-size: 18px;
                    text-align: center;

                    &:hover {
                        color: #d34141;
                        background-color: #20292b;
                    }
                    &:after {
                        content: '\E521';
                    }
                }
            }
            > .face-top {
                margin-left: 25%;
                margin-right: 50%;
            }
            > .face-bottom {
                margin-left: 25%;
                margin-right: 50%;
            }
        }
    }
    .ui-panel.component {
        > header {
            text-transform: uppercase;
        }
        &.foldable {
            > header:hover {
                background-color: $bcg-darkest;
            }
        }

        > .ui-header {
            > .ui-checkbox.component-toggle {
                float: left;
                margin-left: 0;
                margin-right: 7px;
                margin-top: 8px;

                border: 1px solid #5b7073;
                background-color: #5b7073;

                &:after {
                    background-color: #2c393c;
                }
                &.checked {
                    border: 1px solid #9ba1a3;
                    background-color: #9ba1a3;
                }
            }
            > .ui-button.component-remove {
                float: right;
                width: 32px;
                height: 32px;
                line-height: 30px;
                margin: 0;
                padding: 0;
                border: none;
                @extend .font-icon;
                font-size: 18px;
                text-align: center;
                background-color: transparent;

                &:hover {
                    color: #d34141;
                    background-color: #20292b;
                }
                &:after {
                    content: '\E521';
                }
            }
        }
        > .content {
            padding: 8px 6px;

            > .ui-button.add-component {
                display: block;
                text-align: center;

                &:before {
                    content: '\E464';
                    padding-right: 8px;
                    @extend .font-icon;
                    font-size: 16px;
                    text-align: center;
                }
            }
            > .ui-button.edit-script {
                display: block;
                text-align: center;

                &:before {
                    content: '\E442';
                    padding-right: 8px;
                    @extend .font-icon;
                    font-size: 16px;
                    text-align: center;
                }
            }
        }

        .ui-panel.components-scripts > .content {
            > .ui-panel.component-script {
                &:first-child {
                    > .ui-header > .move-up {
                        visibility: hidden;
                    }
                }
                &:last-child {
                    > .ui-header > .move-down {
                        visibility: hidden;
                    }
                }
            }
        }

        .ui-panel.component-script {
            border-top: 1px solid #293538;
            border-left: 1px solid #293538;
            border-right: 1px solid #293538;

            &:last-child {
                border-bottom: 1px solid #293538;
            }
            > .ui-header {
                background-color: #2c393c;
                overflow: hidden;
                height: 32px;
                line-height: 32px;

                > .title {
                    max-width: calc(100% - 128px);

                    > a {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: block;
                    }
                }
                > .move-down, > .move-up, > .refresh, > .remove {
                    float: right;
                    width: 32px;
                    height: 32px;
                    line-height: 30px;
                    margin: 0;
                    padding: 0;
                    background-color: transparent;
                    border: none;
                    @extend .font-icon;
                    font-size: 18px;
                    text-align: center;

                    &:hover {
                        color: $text-active;
                        background-color: #20292b;
                    }
                }

                > .refresh {
                    font-size: 20px;
                    line-height: 28px;
                    &:after {
                        content: '\E145';
                    }
                }
                > .move-up:after {
                    content: '\E112';
                }
                > .move-down {
                    line-height: 32px;
                    &:after {
                        content: '\E111';
                    }
                }
                > .remove {
                    &:hover {
                        color: #d34141;
                    }
                    &:after {
                        content: '\E521';
                    }
                }
            }
            > .content {
                padding: 0 3px;
            }
        }
    }
}

.ui-panel.hierarchy {
    border-left: 1px solid $bcg-darker;

    &.foldable {
        &.horizontal.resizable-right {
            > .ui-header:after {
                transform: rotate(90deg);
            }
            &.folded > .ui-header:after {
                transform: rotate(-90deg);
            }
        }
    }

    > .ui-header {
        z-index: 5;

        &:after {
            content: '\E122';
            font-size: 20px;
        }
    }
    &.folded {
        > .hierarchy-controls {
            display: none;
        }
    }
}

.ui-tree.hierarchy {
    .ui-tree-item {
        > .title {
            @extend .font-regular;

            &:hover > .icon:after {
                color: $text-primary;
            }
            > .icon:after {
                content: '\E243';
                line-height: 21px;
                @extend .font-icon;
                font-size: 18px;
                text-align: center;
                background-color: transparent;
                color: $text-darkest;
            }
        }
        &.container {
            > .title > .icon:after {
                content: '\E422';
            }
        }
        &.selected {
            > .title > .icon:after {
                color: $text-primary;
            }
        }
        &.c-script > .title > .icon:after {
            content: '\E284';
        }
        &.c-model > .title > .icon:after {
            content: '\E417';
            font-size: 16px;
        }
        &.c-animation > .title > .icon:after {
            content: '\E274';
        }
        &.c-audiosource > .title > .icon:after {
            content: '\E254';
        }
        &.c-collision > .title > .icon:after {
            content: '\E327';
        }
        &.c-rigidbody > .title > .icon:after {
            content: '\E328';
        }
        &.c-particlesystem > .title > .icon:after {
            content: '\E458';
        }
        &.c-light > .title > .icon:after {
            content: '\E318';
        }
        &.c-audiolistener > .title > .icon:after {
            content: '\E267';
        }
        &.c-camera > .title > .icon:after {
            content: '\E584';
        }
    }
}

.ui-panel.hierarchy-controls {
    // position: absolute;
    // left: 0;
    // bottom: 0;
    // right: 0;
    // width: auto;
    // border-top: 1px solid $bcg-dark;
    float: right;
    background-color: transparent;

    > .content {
        background-color: transparent;
        min-width: 96px;
        height: 32px;
        overflow: hidden;

        > .ui-button {
            float: right;
            margin: 0;
            width: 32px;
            height: 32px;
            line-height: 32px;
            border: none;
            padding: 0;
            color: #9ba1a3;
            @extend .font-icon;
            font-size: 16px;
            text-align: center;
            background-color: transparent;

            &.active {
                color: $text-active;
                background-color: $bcg-darkest;
            }
            &.disabled {
                opacity: 1;
                color: mix(#9ba1a3, #364346, 30%);

                &:hover,
                &:focus {
                    color: mix(#9ba1a3, #364346, 30%);
                    background-color: transparent;
                }
            }
            &:hover,
            &:focus {
                color: #fff;
                background-color: $bcg-darkest;
            }
        }
    }
}

.ui-grid.assets {
    > .ui-grid-item {
        width: 104px;
        height: 104px;
        position: relative;

        &.type-animation {
            > .thumbnail.placeholder:after {
                content: '\E274';
            }
            > .icon:after {
                content: '\E274';
            }
        }
        &.type-audio {
            > .thumbnail.placeholder:after {
                content: '\E262';
            }
            > .icon:after {
                content: '\E262';
            }
        }
        &.type-cubemap {
            > .thumbnail.placeholder:after {
                content: '\E515';
            }
            > .icon:after {
                content: '\E515';
            }
        }
        &.type-json {
            > .thumbnail.placeholder:after {
                content: '\E353';
            }
            > .icon:after {
                content: '\E353';
            }
        }
        &.type-material {
            > .thumbnail.placeholder:after {
                content: '\E547';
            }
            > .icon:after {
                content: '';
            }
        }
        &.type-model {
            > .thumbnail.placeholder:after {
                content: '\E417';
            }
            > .icon:after {
                content: '\E417';
            }
        }
        &.type-scene {
            > .thumbnail.placeholder:after {
                content: '\E417';
            }
            > .icon:after {
                content: '\E417';
            }
        }
        &.type-script {
            > .thumbnail.placeholder:after {
                content: '\E353';
            }
            > .icon:after {
                content: '\E353';
            }
        }
        &.type-texture {
            > .thumbnail.placeholder:after {
                content: '\E236';
            }
            > .icon:after {
                content: '';
            }
        }
        &.type-text {
            > .thumbnail.placeholder:after {
                content: '\E284';
            }
            > .icon:after {
                content: '\E284';
            }
        }

        &:focus,
        &:hover {
            > .thumbnail {
                color: $text-primary;
            }
            > .label {
                background-color: $bcg-darkest;
            }
        }
        &.selected {
            > .thumbnail {
                color: $text-primary;
            }
            > .label {
                background-color: $bcg-darkest;
            }
        }
        > .thumbnail {
            width: 64px;
            height: 64px;
            line-height: 60px;
            margin: 12px 20px;
            background-position: center center;
            background-size: 64px 64px;
            background-repeat: no-repeat;
            text-align: center;
            color: $text-darkest;

            &.placeholder:after {
                @extend .font-icon;
                font-size: 48px;
                font-weight: 100;
            }
        }
        > .icon {
            position: absolute;
            width: 22px;
            height: 22px;
            top: 4px;
            left: 4px;
            @extend .font-icon;
            font-size: 18px;
            font-weight: 100;
            line-height: 20px;
            text-align: center;

            &:after {
                content: '\E211';
            }
        }
        > .label {
            @extend .font-regular;

            position: absolute;
            right: 0;
            left: 0;
            bottom: 8px;
            width: auto;
            max-width: 100px;
            line-height: 14px;
            margin: 0px;
            padding: 2px;
            font-size: 12px;
            text-overflow: ellipsis;
            text-align: center;
            overflow: hidden;
            background-color: rgba($bcg-darker, 0.8);
        }
    }
}

.ui-select-field.viewport-camera {
    position: absolute;
    top: 2px;
    right: 74px;
    margin: 2px;

    line-height: 30px;
    padding: 0px 10px;

    > .value {
        min-height: 30px;
        line-height: 30px;

        &:after {
            width: 30px;
            height: 30px;
            line-height: 30px;
            content: '\E126';

            transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -webkit-transform: rotate(90deg);
        }
    }

    &:hover {
        > .value:after {
            content: '\E126';
        }
    }

    > ul {
        > li {
            padding: 0px 9px 0px 10px;
            line-height: 32px;
        }
    }
}

.ui-panel.top-controls {
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: transparent;

    > .content {
        > .ui-button.expand {
            float: right;
            width: 32px;
            height: 32px;
            line-height: 30px;
            margin: 0 4px 0 0;
            padding: 0;
            border: none;
            @extend .font-icon;
            font-size: 24px;
            text-align: center;

            &.icon.active {
                color: $text-primary;
                background-color: $text-active;
            }
        }

        > .launch {
            float: right;
            position: relative;
            background-color: transparent;

            > .content {
                > .ui-button {
                    width: 32px;
                    height: 32px;
                    line-height: 30px;
                    margin: 0;
                    padding: 0;
                    border: none;
                    @extend .font-icon;
                    font-size: 24px;
                    text-align: center;

                    &:hover {
                        color: $text-primary;
                        background-color: $text-active;
                    }
                }

                > ul.dropdown-menu {
                    position: absolute;
                    top: 32px;
                    right: 0;
                    padding: 0;
                    margin: 0;
                    list-style: none;

                    > li {
                        @extend .noSelect;
                        padding: 9px 10px;
                        width: 140px;
                        color: white;
                        font-size: 13px;

                        &.ticked:after {
                            @extend .font-icon;
                            font-size: 14px;
                            line-height: 14px;
                            font-weight: 100;
                            float: right;
                            content: '\E435';
                        }
                    }
                }
            }
        }
    }
}

.ui-panel.whoisonline {
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: transparent;
    padding: 2px;

    > .content {
        > a {
            margin-right: 4px;
        }
    }
}

.ui-overlay.help-controls {
    > .content {
        width: 512px;
        height: auto;
        left: calc(50% - 256px);
        top: calc(50% - 236px);

        > .header {
            display: block;
            margin: 0;
            padding-left: 16px;
            text-transform: uppercase;
            font-size: 16px;
            line-height: 48px;
            color: $text-darkest;
            background-color: $bcg-darker;

            > .icon {
                @extend .font-icon;
                font-size: 24px;
                margin-right: 8px;
            }
            > .close {
                @extend .font-icon;
                float: right;
                margin: 0;
                padding: 0;
                border: none;
                width: 48px;
                height: 48px;
                line-height: 48px;
                font-size: 24px;
                text-align: center;
                color: $text-darkest;
                background-color: transparent;

                &:hover {
                    color: $text-active;
                    background-color: $bcg-darkest;
                }
            }
        }
        > img.top {
            display: block;
            width: 480px;
            height: auto;
            padding: 0 16px;
            background-color: $bcg-darker;
        }
        > .row {
            height: 38px;
            padding-right: 4px;
            border-bottom: 1px solid $bcg-darker;
            overflow: hidden;

            &:last-child {
                border-bottom: none;
            }
            > .buttons {
                float: left;
                width: 112px;
                margin: 5px;

                > .button {
                    float: left;
                    margin: 2px;
                    padding: 0 12px;
                    line-height: 24px;
                    font-size: 12px;
                    border-radius: 2px;
                    color: $text-primary;
                    background-color: $bcg-darker;
                }
                > .divider {
                    float: left;
                    line-height: 28px;
                    font-size: 12px;
                    margin: 0 2px;
                }
            }
            > .title {
                line-height: 38px;

                > .icon {
                    @extend .font-icon;
                    float: right;
                    margin: 0 8px;
                    font-size: 18px;
                }
            }
        }
    }
}

.connection-overlay {
    > .content {
        width: 400px;
        height: 64px;
        position: absolute;
        top: 0;
        bottom: 32px;
        left: 0;
        right: 0;
        margin: auto;
        display: table;

        > .connection-icon {
            display: table-cell;
            width: 64px;
            height: 64px;
            line-height: 64px;
            @extend .font-icon;
            font-size: 34px;
            font-weight: 100;
            text-align: center;

            &.error:before {
                content: '\E462';
            }
        }

        > .connection-content {
            display: table-cell;
            padding-left: 20px;
            width: 400px - 64px - 20px;
            vertical-align: middle;
        }
    }
}

.ui-overlay.introduction-blocker {
    z-index: 201;

    > .overlay {
        background-color: rgba($bcg-darkest, .5);
    }
    > .content {
        display: none;
    }
}

.ui-overlay.introduction {
    z-index: 203;

    &.arrow-left {
        > .content {
            margin-left: 16px;
            margin-top: -32px;

            &:after {
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                top: 16px;
                left: -32px;
                border: 16px solid transparent;
                border-right-color: $bcg-darkest;
            }
        }
    }
    &.arrow-right {
        > .content {
            margin-top: -32px;
            margin-left: -336px;

            &:after {
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                top: 16px;
                right: -32px;
                border: 16px solid transparent;
                border-left-color: $bcg-darkest;
            }
        }
    }
    &.arrow-bottom {
        > .content {
            margin-top: -16px;
            margin-left: -32px;

            &:after {
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                bottom: -32px;
                left: 16px;
                border: 16px solid transparent;
                border-top-color: $bcg-darkest;
            }
        }
    }
    &.arrow-top {
        > .content {
            margin-top: 16px;
            margin-left: -32px;

            &:after {
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                top: -32px;
                left: 16px;
                border: 16px solid transparent;
                border-bottom-color: $bcg-darkest;
            }
        }
    }
    &.arrow-top-right {
        > .content {
            margin-top: 16px;
            margin-left: -308px;

            &:after {
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                top: -32px;
                right: 16px;
                border: 16px solid transparent;
                border-bottom-color: $bcg-darkest;
            }
        }
    }
    > .overlay {
        background-color: transparent;
    }
    > .content {
        width: 480px;
        height: auto;
        left: calc(50% - 240px);
        background-color: $bcg-darkest;
        transition: margin 100ms, top 100ms, left 100ms;

        > .ui-panel {
            background-color: transparent;

            > .content > .ui-panel {
                background-color: transparent;

                > .ui-header {
                    @extend .font-bold;
                    background-color: transparent;
                    font-size: 18px;
                    height: auto;
                    line-height: normal;
                    padding: 0;
                    overflow: hidden;
                    color: $text-active;

                    > .title {
                        padding: 24px;
                    }
                }
                > .content {
                    padding: 0 24px;

                    > .ui-label {
                        // color: $text-primary;
                        margin: 0;
                    }
                }
            }
        }
        > .bullets {
            margin: 24px 0 4px 0;
            height: 12px;

            > .content {
                > .bullet {
                    float: left;
                    width: 12px;
                    height: 12px;
                    border-radius: 6px;
                    margin: 0 4px;
                    background-color: $bcg-primary;
                    transition: background-color 100ms;

                    &.first {
                        margin-left: 24px;
                    }
                    &.active {
                        background-color: $text-active;
                    }
                }
            }
        }
        > .ui-button.next {
            margin: 24px 0 24px 24px;
            padding: 0 32px;
            line-height: 32px;
            text-transform: uppercase;
            color: $text-primary;
            background-color: $text-darkest;
            border: none;

            &:hover {
                color: $text-active;
                background-color: $bcg-primary;
            }
        }
        > .ui-button.skip {
            margin: 24px 0;
            padding: 0 12px;
            font-size: 12px;
            line-height: 32px;
            text-transform: uppercase;
            color: $text-darkest;
            background-color: transparent;
            border: none;

            &:hover {
                color: $text-active;
            }
        }
    }
}

.picker-confirm.center {
    > .content {
        width: 288px;
        height: auto;
        left: calc(50% - 144px);
        top: calc(50% - 32px);
        padding: 16px;
        text-align: right;

        > .text {
            display: block;
            text-align: center;
            margin: 8px 0 16px;
            color: $text-primary;
            font-size: 16px;
            text-align: center;
        }
        > .ui-button {
            font-size: 16px;
            padding: 0 16px;
            line-height: 32px;
            text-transform: uppercase;
            margin: 0;
        }
        > .yes {
            margin-right: 8px;
        }
    }
}

.picker-color {
    &.c-1 > .content {
        > .pick-opacity {
            display: block;
        }
        > .fields > .field-r {
            display: block;
        }
    }
    &.c-2 > .content {
        > .fields > .field-hex {
            display: block;
        }
    }
    &.c-3 > .content {
        width: 298px;

        > .pick-rect {
            display: block;
        }
        > .pick-hue {
            display: block;
        }
        > .pick-opacity {
            display: none;
        }
        > .fields {
            > .field-g,
            > .field-b {
                display: block;
            }
        }
    }
    &.c-4 > .content {
        width: 320px;

        > .pick-opacity {
            display: block;
        }
        > .fields > .field-a {
            display: block;
        }
    }
    > .content {
        border: 1px solid #000;
        width: 320px;
        height: 162px;
        // background-color: #333;
        white-space: nowrap;
        transition: none;

        > .pick-rect {
            @extend .noSelect;
            position: relative;
            display: none;
            float: left;
            width: 144px;
            height: 144px;
            border: 1px solid #000;
            margin: 8px 0 8px 8px;
            background-color: #f00;
            cursor: crosshair;

            > .white {
                position: absolute;
                width: 144px;
                height: 144px;
                top: 0;
                left: 0;

                background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.01) 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0.01))); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.01) 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.01) 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.01) 100%); /* IE10+ */
                background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.01) 100%); /* W3C */
            }
            > .black {
                position: absolute;
                width: 144px;
                height: 144px;
                top: 0;
                left: 0;

                background: -moz-linear-gradient(top,  rgba(0,0,0,0.01) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.01)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top,  rgba(0,0,0,0.01) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top,  rgba(0,0,0,0.01) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top,  rgba(0,0,0,0.01) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
                background: linear-gradient(to bottom,  rgba(0,0,0,0.01) 0%,rgba(0,0,0,1) 100%); /* W3C */
            }
            > .handle {
                position: absolute;
                top: 0;
                left: 0;
                width: 12px;
                height: 12px;
                margin: -7px 0 0 -7px;
                border: 1px solid #000;
                outline: 1px solid #fff;
            }
        }
        > .pick-hue {
            @extend .noSelect;
            position: relative;
            display: none;
            float: left;
            width: 12px;
            height: 144px;
            margin: 8px 0 8px 8px;
            border: 1px solid #000;
            cursor: crosshair;

            background: #000;
            background: -moz-linear-gradient(top, /* FF3.6+ */
                rgba(255, 0, 0, 1) 0%,
                rgba(255, 255, 0, 1) 16.67%,
                rgba(0, 255, 0, 1) 33.33%,
                rgba(0, 255, 255, 1) 50%,
                rgba(0, 0, 255, 1) 66.67%,
                rgba(255, 0, 255, 1) 83.33%,
                rgba(255, 0, 0, 1) 100%);
            background: -webkit-gradient(linear, left top, left bottom, /* Chrome,Safari4+ */
                color-stop(0%, rgba(255, 0, 0, 1)),
                color-stop(16.67%, rgba(255, 255, 0, 1)),
                color-stop(33.33%, rgba(0, 255, 0, 1)),
                color-stop(50%, rgba(0, 255, 255, 1)),
                color-stop(66.67%, rgba(0, 0, 255, 1)),
                color-stop(83.33%, rgba(255, 0, 255, 1)),
                color-stop(100%, rgba(255, 0, 0, 1)));
            background: -webkit-linear-gradient(top, /* Chrome10+,Safari5.1+ */
                rgba(255, 0, 0, 1) 0%,
                rgba(255, 255, 0, 1) 16.67%,
                rgba(0, 255, 0, 1) 33.33%,
                rgba(0, 255, 255, 1) 50%,
                rgba(0, 0, 255, 1) 66.67%,
                rgba(255, 0, 255, 1) 83.33%,
                rgba(255, 0, 0, 1) 100%);
            background: -o-linear-gradient(top, /* Opera 11.10+ */
                rgba(255, 0, 0, 1) 0%,
                rgba(255, 255, 0, 1) 16.67%,
                rgba(0, 255, 0, 1) 33.33%,
                rgba(0, 255, 255, 1) 50%,
                rgba(0, 0, 255, 1) 66.67%,
                rgba(255, 0, 255, 1) 83.33%,
                rgba(255, 0, 0, 1) 100%);
            background: -ms-linear-gradient(top, /* IE10+ */
                rgba(255, 0, 0, 1) 0%,
                rgba(255, 255, 0, 1) 16.67%,
                rgba(0, 255, 0, 1) 33.33%,
                rgba(0, 255, 255, 1) 50%,
                rgba(0, 0, 255, 1) 66.67%,
                rgba(255, 0, 255, 1) 83.33%,
                rgba(255, 0, 0, 1) 100%);
            background: linear-gradient(to bottom, /* W3C */
                rgba(255, 0, 0, 1) 0%,
                rgba(255, 255, 0, 1) 16.67%,
                rgba(0, 255, 0, 1) 33.33%,
                rgba(0, 255, 255, 1) 50%,
                rgba(0, 0, 255, 1) 66.67%,
                rgba(255, 0, 255, 1) 83.33%,
                rgba(255, 0, 0, 1) 100%);

            > .handle {
                position: absolute;
                top: 0;
                left: -3px;
                width: 16px;
                height: 4px;
                margin: -3px 0 0 0;
                border: 1px solid #000;
                outline: 1px solid #fff;
            }
        }
        > .pick-opacity {
            @extend .noSelect;
            position: relative;
            display: none;
            float: left;
            width: 12px;
            height: 144px;
            margin: 8px 0 8px 8px;
            border: 1px solid #000;
            cursor: crosshair;

            background: #000;
            background: -moz-linear-gradient(top,  #ffffff 0%, #000000 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#000000)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  #ffffff 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  #ffffff 0%,#000000 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  #ffffff 0%,#000000 100%); /* IE10+ */
            background: linear-gradient(to bottom,  #ffffff 0%,#000000 100%); /* W3C */

            > .handle {
                position: absolute;
                top: 0;
                left: -3px;
                width: 16px;
                height: 4px;
                margin: -3px 0 0 0;
                border: 1px solid #000;
                outline: 1px solid #fff;
            }
        }

        > .fields {
            float: left;
            width: 106px;
            height: 154px;
            margin: 0 0 0 8px;
            padding: 4px;

            > .field {
                display: none;
                width: calc(106px - 10px);
            }
        }
    }
}

.picker-curve {
    > .content {
        border: 1px solid #000;
        width: 470px;
        background-color: transparent;
        white-space: nowrap;
        transition: none;

        > .picker-curve-panel {
            height: 100%;
            font-size: 11px;

            > .picker-curve-header {
                padding: 5px 10px;

                > .content {
                    .ui-button.picker-curve-toggle {
                        float: right;
                        text-align: center;
                        line-height: 22px;
                        width: auto;
                        min-width: 14px;
                        padding-left: 5px;
                        padding-right: 5px;
                        margin: 3px 0px;

                        & + .ui-button.picker-curve-toggle {
                            border-right: none;
                        }

                        &.active.first {
                            color: rgb(255, 0, 0);
                        }

                        &.active.second {
                            color: rgb(0, 255, 0);
                        }

                        &.active.third {
                            color: rgb(133, 133, 252);
                        }
                    }

                }
            }

            > .picker-curve-footer {
                padding: 5px 10px;

                .ui-button {
                    float: right;
                    font-size: 11px;
                }
            }
        }
    }
}
