html {
    height: 100%;
}
body {
    min-height: 100%;
    overflow: hidden;
    margin: 0;
    background-color: #333;
    font-size: 14px;
    color: #eee;
    font-family: Helvetica;
}

#ui-root {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
}

#ui-top {
    height: 48px;
    line-height: 48px;
    background-color: #111;

    > .content {
        overflow: hidden;
        padding: 0 8px;
    }
}

#ui-bottom {
    height: 24px;
    line-height: 24px;
    background-color: #111;

    > .content {
        padding: 0 8px;
        overflow: hidden;
        font-size: 12px;
        color: #aaa;
    }
}

.ui-panel {
    > .content > .ui-panel.overlay {
        z-index: 10;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: auto;
        height: auto;
        background-color: #222;

        opacity: 1;
        visibility: visible;
        transition: visibility 100ms, opacity 100ms;

        &.hidden {
            display: block;
            visibility: hidden;
            opacity: 0;
        }

        > .content {
            height: 100%;

            > .ui-progress {
                width: 128px;
                height: 4px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -2px 0 0 -64px;
            }
        }
    }
}

.ui-grid.assets {
    > .ui-grid-item {
        position: relative;

        &.type-animation {
            background-image: url("/editor/img/asset-placeholder-animation.png");
            > .icon {
                background-image: url("/editor/img/asset-icons/animation.png");
            }
        }
        &.type-audio {
            background-image: url("/editor/img/asset-placeholder-audio.png");
            > .icon {
                background-image: url("/editor/img/asset-icons/audio.png");
            }
        }
        &.type-json {
            background-image: url("/editor/img/asset-placeholder-json.png");
            > .icon {
                background-image: url("/editor/img/asset-icons/json.png");
            }
        }
        &.type-material {
            background-image: url("/editor/img/asset-placeholder-material.png");
            > .icon {
                background-image: url("/editor/img/asset-icons/material.png");
            }
        }
        &.type-model {
            background-image: url("/editor/img/asset-placeholder-model.png");
            > .icon {
                background-image: url("/editor/img/asset-icons/model.png");
            }
        }
        &.type-scene {
            background-image: url("/editor/img/asset-placeholder-scene.png");
            > .icon {
                background-image: url("/editor/img/asset-icons/scene.png");
            }
        }
        &.type-texture {
            background-image: url("/editor/img/asset-placeholder-texture.png");
            > .icon {
                background-image: url("/editor/img/asset-icons/texture.png");
            }
        }

        &.selected {
            > .icon,
            > .label {
                background-color: #07f;
            }
        }
        > .icon {
            position: absolute;
            width: 16px;
            height: 16px;
            top: 0;
            right: 0;
            padding: 4px;
            background-color: rgba(0, 0, 0, 0.4);
            background-image: url("/editor/img/asset-icons/unknown.png");
            background-size: 16px 16px;
            background-repeat: no-repeat;
            background-position: center center;
        }
        > .label {
            position: absolute;
            right: 0;
            bottom: 0;
            max-width: 88px;
            line-height: 16px;
            margin: 0px;
            padding: 2px 4px;
            font-size: 10px;
            text-overflow: ellipsis;
            text-align: right;
            overflow: hidden;
            background-color: rgba(0, 0, 0, 0.4);
        }
    }
}
