$bcg-darkest: #20292b;
$bcg-darker: #293538;
$bcg-dark: #2c393c;
$bcg-primary: #364346;

$text-darkest: #5b7073;
$text-dark: #9ba1a3;
$text-secondary: #b1b8ba;
$text-primary: #ffffff;
$text-active: #f60;

html {
    height: 100%;
    overflow: hidden;
}
body {
    min-height: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    background-color: #333;
    font-size: 14px;
    color: #eee;
    font-family: inconsolatamedium;
    // font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

[draggable=true] {
    -khtml-user-drag: element;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#ui-root {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
}

#ui-toolbar {
    border-right: 1px solid $bcg-dark;

    > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 48px;
        height: auto;
        background-color: #293538;

        > .ui-button {
            display: block;
            margin: 0;
            padding: 0;
            width: 48px;
            height: 48px;
            border: none;
            overflow: hidden;

            &.logo {
                background-color: #f70;
                background-image: url("https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/platform/images/logo/playcanvas-icon-80.png");
                background-size: 14px 32px;
                background-repeat: no-repeat;
                background-position: center center;
            }
            &.icon {
                color: #9ba1a3;
                line-height: 46px;
                font-family: 'ui-font-solid';
                font-size: 24px;
                text-align: center;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-smoothing: antialiased;
                background-color: #364346;

                &.active {
                    color: $text-primary;
                    background-color: $bcg-darkest;
                }
                &.disabled {
                    opacity: 1;
                    color: mix(#9ba1a3, #364346, 30%);

                    &:hover,
                    &:focus {
                        color: mix(#9ba1a3, #364346, 30%);
                        background-color: #364346;
                    }
                }
                &:hover,
                &:focus {
                    color: #fff;
                    background-color: $bcg-dark;
                }
            }
            &.designer-settings {
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: $bcg-darker;
            }
        }
    }
}

#ui-bottom {
    height: 24px;
    line-height: 24px;
    background-color: #293538;
    // background-color: #111;

    > .content {
        padding: 0 8px;
        overflow: hidden;

        > .status {
            float: left;
            margin: 0;
            line-height: 24px;
            font-size: 12px;
            color: #aaa;

            &.error {
                color: #fb222f;
            }
        }
        > .jobsProgress {
            position: absolute;
            top: 10px;
            right: 24px;
            opacity: 0;
            visibility: hidden;
            transition: opacity 100ms, visibility 100ms;

            &.active {
                opacity: 1;
                visibility: visible;
            }
        }
        > .jobsCount {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            width: 24px;
            line-height: 24px;
            font-size: 12px;
            color: $text-darkest;
            text-align: center;
        }
    }
}

#canvas-3d {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
}

.ui-panel {
    > .content > .ui-panel.overlay {
        z-index: 10;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: auto;
        height: auto;
        // background-color: #293538;

        opacity: 1;
        visibility: visible;
        transition: visibility 100ms, opacity 100ms;

        &.hidden {
            display: block;
            visibility: hidden;
            opacity: 0;
        }

        > .content {
            height: 100%;

            > .ui-progress {
                width: 128px;
                height: 4px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -2px 0 0 -64px;
            }
        }
    }
}

.ui-panel.assets {
    > .ui-header {
        > .filters {
            float: right;
            background-color: transparent;

            > .content {
                > .ui-label.label {
                    margin: 0;
                    height: 32px;
                    line-height: 32px;
                    font-size: 12px;
                    margin-right: 8px;
                    vertical-align: top;
                    text-transform: uppercase;
                }
                > .ui-select-field.options {
                    margin: 0;
                    height: 32px;
                    line-height: 32px;
                    border: none;
                    font-size: 12px;
                    vertical-align: top;

                    > .value {
                        line-height: 32px;

                        &:after {
                            width: 32px;
                            height: 32px;
                            line-height: 30px;
                        }
                    }
                    > ul > li {
                        line-height: 32px;
                    }
                    &.not-empty {
                        > .value {
                            color: $text-active;
                        }
                        background-color: $bcg-darkest;
                    }
                }
                > .ui-text-field.search {
                    margin: 0;
                    width: 192px;
                    height: 32px;
                    border: none;
                    border-left: 1px solid $bcg-dark;
                    background-color: #293538;

                    &.active,
                    &:hover,
                    &:focus,
                    &.focus {
                        border-color: $bcg-darkest;
                        background-color: $bcg-darkest;
                    }
                    > input.field {
                        line-height: 32px;
                    }
                    &:after {
                        line-height: 32px;
                        background-color: #293538;
                    }
                    &.not-empty {
                        background-color: $bcg-darkest;
                        > input.field {
                            color: $text-active;
                        }
                        > .clear {
                            display: block;
                        }
                        &:after {
                            content: '';
                        }
                    }
                    > .clear {
                        display: none;
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 32px;
                        height: 32px;
                        line-height: 32px;
                        text-align: center;
                        color: #d34141;
                        font-family: 'ui-font-solid';
                        font-size: 18px;
                        text-align: center;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        font-smoothing: antialiased;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.asset-preview {
    width: calc(100% - 16px);
    padding-bottom: calc(100% - 16px);
    border: 8px solid $bcg-darkest;

    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: $bcg-darkest;
}

.drop-ref-highlight {
    z-index: 210;
}
.drop-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: 201;
    background-color: rgba(#20292b, .7);
    opacity: 0;
    visibility: hidden;
    transition: opacity 100ms, visibility 100ms;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}
.drop-areas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: 220;
    opacity: 0;
    visibility: hidden;
    transition: opacity 100ms, visibility 100ms;

    &.active {
        opacity: 1;
        visibility: visible;
    }
    > .drop-area {
        position: absolute;
        margin: -2px 0 0 -2px;
        width: auto;
        height: auto;
        border: 2px dotted $text-active;
        background-color: rgba($text-active, .1);

        &.over {
            background-color: rgba($text-active, .5);
        }
    }
}

.ui-panel.attributes {
    border-left: 1px solid black;

    .ui-panel {
        &.field {
            > .content {
                > .ui-label:nth-child(2) {
                    padding: 0 8px;
                    font-family: "Lucida Console", Monaco, monospace;
                    font-weight: normal;
                    font-size: 11px;
                }
            }
        }
        .ui-label.label-field {
            -webkit-flex-shrink: 0;
            flex-shrink: 0;
            width: 78px;
            font-size: 12px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .ui-label.label-infield {
            font-size: 10px;
            line-height: 24px;
            vertical-align: top;
        }
        &.field-asset {
            > .content {
                > .ui-image-field {
                    -webkit-flex-shrink: 0;
                    flex-shrink: 0;
                    margin-right: 15px;
                    background-color: $bcg-darkest;

                    &.empty {
                        background-image: url("/editor/scene/img/asset-placeholder-texture.png");
                        background-position: center center;
                    }
                }
                > .top {
                    width: 100%;

                    > .controls {
                        display: -webkit-flex;
                        display: flex;
                        margin-top: 4px;
                        height: 32px;

                        > .ui-label {
                            padding-right: 4px;
                            line-height: 26px;
                        }
                        > .ui-button {
                            color: $text-dark;
                            height: 28px;
                            line-height: 28px;
                            font-family: 'ui-font-solid';
                            font-size: 18px;
                            text-align: center;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            font-smoothing: antialiased;
                            text-align: center;
                            background: transparent;
                            border: none;
                            margin-left: 0;
                            margin-right: 0;

                            &.disabled {
                                &:hover {
                                    color: $text-dark;
                                    background-color: transparent;
                                }
                            }
                            &:last-child {
                                margin-right: 4px;
                                line-height: 26px;

                                &:hover {
                                    color: #d34141;

                                    &.disabled {
                                        color: $text-dark;
                                    }
                                }
                            }
                            &:hover {
                                background-color: $bcg-darkest;
                                color: $text-primary;
                            }
                        }
                    }
                    > .ui-label {
                        width: calc(100% - 24px);
                        height: 22px;
                        line-height: 22px;
                        margin: 3px;
                        padding: 0 8px;
                        background-color: $bcg-dark;
                        border: 1px solid $bcg-darker;
                        cursor: pointer;

                        &:hover {
                            background-color: $bcg-darkest;
                            color: $text-primary;
                        }
                    }
                    > .ui-label[placeholder] {
                        &:after {
                            font-size: 24px;
                            line-height: 14px;
                        }
                    }
                }
            }
        }
    }
    .ui-list {
        &.model-nodes {
            > .ui-list-item {
                height: auto;
                line-height: 34px;
                padding-right: 0;
                overflow: hidden;

                > .ui-image-field {
                    float: right;
                    background-position: center center;
                    background-color: black;
                }
            }
        }
        &.assets {
            > .add-asset {
                position: relative;

                &:hover > .icon {
                    color: $text-active;
                }
                > .icon {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 22px;
                    height: 22px;
                    line-height: 20px;
                    margin: 0;
                    padding: 0;
                    border: none;
                    font-family: 'ui-font-solid';
                    font-size: 18px;
                    text-align: center;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    font-smoothing: antialiased;

                    &:after {
                        content: '\E464';
                    }
                }
            }
            > .ui-list-item {
                position: relative;

                > .remove {
                    position: absolute;
                    display: block;
                    top: 0;
                    right: 0;
                    width: 22px;
                    height: 22px;
                    line-height: 20px;
                    margin: 0;
                    padding: 0;
                    border: none;
                    font-family: 'ui-font-solid';
                    font-size: 18px;
                    text-align: center;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    font-smoothing: antialiased;

                    &:hover {
                        color: #d34141;
                    }
                    &:after {
                        content: '\E521';
                    }
                }
            }
        }
    }
    .cubemap-viewport {
        > .content {
            padding: 4px;
            overflow: hidden;
            background-color: #2c393c;

            > .face {
                position: relative;
                float: left;
                width: 25%;
                height: 0px;
                cursor: pointer;
                padding-bottom: 25%;

                background-image: url("/editor/scene/img/asset-placeholder-texture.png");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 100% 100%;
                background-color: #07f;

                &:hover {
                    outline: $text-active 2px solid;
                    z-index: 1;

                    > .clear {
                        display: block;
                    }
                }
                &.empty {
                    > .clear {
                        display: none;
                    }
                }
                > .clear {
                    display: none;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 22px;
                    height: 22px;
                    line-height: 20px;
                    background-color: #364346;
                    cursor: pointer;
                    font-family: 'ui-font-solid';
                    font-size: 18px;
                    text-align: center;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    font-smoothing: antialiased;

                    &:hover {
                        color: #d34141;
                        background-color: #20292b;
                    }
                    &:after {
                        content: '\E521';
                    }
                }
            }
            > .face-top {
                margin-left: 25%;
                margin-right: 50%;
            }
            > .face-bottom {
                margin-left: 25%;
                margin-right: 50%;
            }
        }
    }
    .ui-panel.component {
        // box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

        > header {
            // border-left: 4px solid $text-active;
            text-transform: uppercase;

            &:hover {
                background-color: $bcg-darkest;
            }
        }
        &.foldable {
            &.folded {
                > header {
                    border-left-color: #5b7073;
                }
            }
            > header:hover {
                border-left-color: #fff;
            }
        }

        > .ui-header {
            > .ui-checkbox.component-toggle {
                float: left;
                margin-left: 0;
                margin-right: 7px;
                margin-top: 8px;

                border: 1px solid #5b7073;
                background-color: #5b7073;

                &:after {
                    background-color: #2c393c;
                }
                &.checked {
                    border: 1px solid #9ba1a3;
                    background-color: #9ba1a3;
                }
            }
            > .ui-button.component-remove {
                float: right;
                width: 32px;
                height: 32px;
                line-height: 30px;
                margin: 0;
                padding: 0;
                border: none;
                font-family: 'ui-font-solid';
                font-size: 18px;
                text-align: center;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-smoothing: antialiased;
                background-color: transparent;

                &:hover {
                    color: #d34141;
                    background-color: #20292b;
                }
                &:after {
                    content: '\E521';
                }
            }
        }
        > .content {
            padding: 8px 6px;
        }

        .ui-panel.components-scripts > .content {
            > .ui-panel.component-script {
                &:first-child {
                    > .ui-header > .move-up {
                        visibility: hidden;
                    }
                }
                &:last-child {
                    > .ui-header > .move-down {
                        visibility: hidden;
                    }
                }
            }
        }

        .ui-panel.component-script {
            border-top: 1px solid #293538;
            border-left: 1px solid #293538;
            border-right: 1px solid #293538;

            &:last-child {
                border-bottom: 1px solid #293538;
            }
            > .ui-header {
                background-color: #2c393c;
                overflow: hidden;
                height: 32px;
                line-height: 32px;

                > .move-down, > .move-up, > .refresh, > .remove {
                    float: right;
                    width: 32px;
                    height: 32px;
                    line-height: 30px;
                    margin: 0;
                    padding: 0;
                    background-color: transparent;
                    border: none;
                    font-family: 'ui-font-solid';
                    font-size: 18px;
                    text-align: center;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    font-smoothing: antialiased;

                    &:hover {
                        color: $text-active;
                        background-color: #20292b;
                    }
                }

                > .refresh {
                    font-size: 20px;
                    line-height: 28px;
                    &:after {
                        content: '\E145';
                    }
                }
                > .move-up:after {
                    content: '\E112';
                }
                > .move-down {
                    line-height: 32px;
                    &:after {
                        content: '\E111';
                    }
                }
                > .remove {
                    &:hover {
                        color: #d34141;
                    }
                    &:after {
                        content: '\E521';
                    }
                }
            }
            > .content {
                padding: 0 3px;
            }
        }
    }
}

.ui-panel.hierarchy {
    border-right: 1px solid $bcg-dark;

    > .content {
        bottom: 32px;
    }
    &.folded {
        > .hierarchy-controls {
            display: none;
        }
    }
}

.ui-tree.hierarchy {
    .ui-tree-item {
        > .title > .icon:after {
            content: '\E243';
            line-height: 21px;
            font-family: 'ui-font-solid';
            font-size: 18px;
            text-align: center;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-smoothing: antialiased;
            background-color: transparent;
        }
        &.container {
            > .title > .icon:after {
                content: '\E422';
            }
        }
        &.selected {
            > .title > .icon:after {
                color: $text-active;
            }
        }
        &.c-script > .title > .icon:after {
            content: '\E284';
        }
        &.c-model > .title > .icon:after {
            content: '\E417';
            font-size: 16px;
        }
        &.c-animation > .title > .icon:after {
            content: '\E274';
        }
        &.c-audiosource > .title > .icon:after {
            content: '\E254';
        }
        &.c-collision > .title > .icon:after {
            content: '\E327';
        }
        &.c-rigidbody > .title > .icon:after {
            content: '\E328';
        }
        &.c-particlesystem > .title > .icon:after {
            content: '\E458';
        }
        &.c-light > .title > .icon:after {
            content: '\E318';
        }
        &.c-audiolistener > .title > .icon:after {
            content: '\E267';
        }
        &.c-camera > .title > .icon:after {
            content: '\E584';
        }
    }
}

.ui-panel.hierarchy-controls {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    border-top: 1px solid $bcg-dark;

    > .content {
        background-color: transparent;
        min-width: 96px;
        height: 32px;
        overflow: hidden;

        > .ui-button {
            float: right;
            margin: 0;
            width: 32px;
            height: 32px;
            line-height: 32px;
            border: none;
            padding: 0;
            color: #9ba1a3;
            font-family: 'ui-font-solid';
            font-size: 18px;
            text-align: center;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-smoothing: antialiased;
            background-color: transparent;

            &.active {
                color: $text-active;
                background-color: #2c393c;
            }
            &.disabled {
                opacity: 1;
                color: mix(#9ba1a3, #364346, 30%);

                &:hover,
                &:focus {
                    color: mix(#9ba1a3, #364346, 30%);
                    background-color: #364346;
                }
            }
            &:hover,
            &:focus {
                color: #fff;
                background-color: $bcg-dark;
            }
        }
    }
}

.ui-grid.assets {
    > .ui-grid-item {
        position: relative;

        &.type-animation {
            background-image: url("/editor/scene/img/asset-placeholder-animation.png");
            > .icon:after {
                content: '\E274';
            }
        }
        &.type-audio {
            background-image: url("/editor/scene/img/asset-placeholder-audio.png");
            > .icon:after {
                content: '\E254';
            }
        }
        &.type-cubemap {
            background-image: url("/editor/scene/img/asset-placeholder-cubemap.png");
            > .icon:after {
                content: '\E515';
            }
        }
        &.type-json {
            background-image: url("/editor/scene/img/asset-placeholder-json.png");
            > .icon:after {
                content: '\E353';
            }
        }
        &.type-material {
            background-image: url("/editor/scene/img/asset-placeholder-material.png");
            > .icon:after {
                content: '\E547';
            }
        }
        &.type-model {
            background-image: url("/editor/scene/img/asset-placeholder-model.png");
            > .icon:after {
                content: '\E417';
            }
        }
        &.type-scene {
            background-image: url("/editor/scene/img/asset-placeholder-scene.png");
            > .icon:after {
                content: '\E417';
            }
        }
        &.type-texture {
            background-image: url("/editor/scene/img/asset-placeholder-texture.png");
            > .icon:after {
                content: '\E236';
            }
        }
        &.type-text {
            background-image: url("/editor/scene/img/asset-placeholder-text.png");
            > .icon:after {
                content: '\E212';
            }
        }

        &:focus,
        &:hover {
            > .label {
                background-color: #2c393c;
            }
        }
        &.selected {
            > .label {
                background-color: #20292b;
            }
        }
        > .icon {
            position: absolute;
            width: 22px;
            height: 22px;
            top: 4px;
            left: 4px;
            font-family: 'ui-font-solid';
            font-size: 18px;
            font-weight: 100;
            line-height: 20px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-smoothing: antialiased;
            text-align: center;

            &:after {
                content: '\E211';
            }
        }
        > .label {
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            width: auto;
            max-width: 92px;
            line-height: 14px;
            margin: 0px;
            padding: 2px;
            font-size: 12px;
            text-overflow: ellipsis;
            text-align: center;
            overflow: hidden;
            background-color: rgba(#364346, 0.8);
        }
    }
}

.ui-select-field.viewport-camera {
    position: absolute;
    top: 2px;
    right: 74px;
    z-index: 1;
    margin: 2px;

    line-height: 30px;
    padding: 0px 10px;

    > .value {
        min-height: 30px;
        line-height: 30px;

        &:after {
            width: 30px;
            height: 30px;
            line-height: 30px;
            content: '\E126';
            -ms-transform: rotate(90deg); /* IE 9 */
            -webkit-transform: rotate(90deg); /* Safari */
            transform: rotate(90deg);
        }
    }

    &:hover {
        > .value:after {
            content: '\E126';
        }
    }

    > ul {
        > li {
            padding: 0px 10px 0px 11px;
            line-height: 32px;
        }
    }
}


.ui-panel.top-controls {
    position: absolute;
    $width: (32px + 4px) * 2;
    top: 2px;
    right: 2px;
    width: $width;
    z-index: 1;
    background-color: transparent;

    > .content {
        > .ui-button.icon {
            width: 32px;
            height: 32px;
            margin: 2px;
            padding: 0;
            border: none;

            font-family: 'ui-font-solid';
            font-size: 24px;
            font-weight: 100;
            line-height: 28px;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-smoothing: antialiased;
            text-align: center;

            &.active {
                color: $text-active;
                background-color: #2c393c;
            }
        }
    }
}

.ui-panel.whoisonline {
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 1;
    background-color: transparent;
    padding: 2px;

    > .content {
        > a {
            margin-right: 4px;
        }
    }
}

.connection-overlay {
    > .content {
        width: 400px;
        height: 64px;
        position: absolute;
        top: 0;
        bottom: 32px;
        left: 0;
        right: 0;
        margin: auto;
        display: table;

        > .connection-icon {
            display: table-cell;
            width: 64px;
            height: 64px;
            line-height: 64px;
            font-family: 'ui-font-solid';
            font-size: 34px;
            font-weight: 100;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-smoothing: antialiased;
            text-align: center;

            &.error:before {
                content: '\E462';
            }
        }

        > .connection-content {
            display: table-cell;
            padding-left: 20px;
            width: 400px - 64px - 20px;
            vertical-align: middle;
        }
    }
}

.picker-confirm.center {
    > .content {
        width: 288px;
        height: auto;
        left: calc(50% - 144px);
        top: calc(50% - 32px);
        padding: 16px;
        text-align: right;

        > .text {
            display: block;
            text-align: center;
            margin: 8px 0 16px;
            color: $text-primary;
            font-size: 16px;
            text-align: center;
        }
        > .ui-button {
            font-size: 16px;
            padding: 0 16px;
            line-height: 32px;
            text-transform: uppercase;
            margin: 0;
        }
        > .yes {
            margin-right: 8px;
        }
    }
}

.picker-color {
    &.c-1 > .content {
        > .pick-opacity {
            display: block;
        }
        > .fields > .field-r {
            display: block;
        }
    }
    &.c-2 > .content {
        > .fields > .field-hex {
            display: block;
        }
    }
    &.c-3 > .content {
        width: 298px;

        > .pick-rect {
            display: block;
        }
        > .pick-hue {
            display: block;
        }
        > .pick-opacity {
            display: none;
        }
        > .fields {
            > .field-g,
            > .field-b {
                display: block;
            }
        }
    }
    &.c-4 > .content {
        width: 320px;

        > .pick-opacity {
            display: block;
        }
        > .fields > .field-a {
            display: block;
        }
    }
    > .content {
        border: 1px solid #000;
        width: 320px;
        height: 162px;
        // background-color: #333;
        white-space: nowrap;
        transition: none;

        > .pick-rect {
            @extend .noSelect;
            position: relative;
            display: none;
            float: left;
            width: 144px;
            height: 144px;
            border: 1px solid #000;
            margin: 8px 0 8px 8px;
            background-color: #f00;
            cursor: crosshair;

            > .white {
                position: absolute;
                width: 144px;
                height: 144px;
                top: 0;
                left: 0;

                background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.01) 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0.01))); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.01) 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.01) 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.01) 100%); /* IE10+ */
                background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.01) 100%); /* W3C */
            }
            > .black {
                position: absolute;
                width: 144px;
                height: 144px;
                top: 0;
                left: 0;

                background: -moz-linear-gradient(top,  rgba(0,0,0,0.01) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.01)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top,  rgba(0,0,0,0.01) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top,  rgba(0,0,0,0.01) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top,  rgba(0,0,0,0.01) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
                background: linear-gradient(to bottom,  rgba(0,0,0,0.01) 0%,rgba(0,0,0,1) 100%); /* W3C */
            }
            > .handle {
                position: absolute;
                top: 0;
                left: 0;
                width: 12px;
                height: 12px;
                margin: -7px 0 0 -7px;
                border: 1px solid #000;
                outline: 1px solid #fff;
            }
        }
        > .pick-hue {
            @extend .noSelect;
            position: relative;
            display: none;
            float: left;
            width: 12px;
            height: 144px;
            margin: 8px 0 8px 8px;
            border: 1px solid #000;
            cursor: crosshair;

            background: #000;
            background: -moz-linear-gradient(top, /* FF3.6+ */
                rgba(255, 0, 0, 1) 0%,
                rgba(255, 255, 0, 1) 16.67%,
                rgba(0, 255, 0, 1) 33.33%,
                rgba(0, 255, 255, 1) 50%,
                rgba(0, 0, 255, 1) 66.67%,
                rgba(255, 0, 255, 1) 83.33%,
                rgba(255, 0, 0, 1) 100%);
            background: -webkit-gradient(linear, left top, left bottom, /* Chrome,Safari4+ */
                color-stop(0%, rgba(255, 0, 0, 1)),
                color-stop(16.67%, rgba(255, 255, 0, 1)),
                color-stop(33.33%, rgba(0, 255, 0, 1)),
                color-stop(50%, rgba(0, 255, 255, 1)),
                color-stop(66.67%, rgba(0, 0, 255, 1)),
                color-stop(83.33%, rgba(255, 0, 255, 1)),
                color-stop(100%, rgba(255, 0, 0, 1)));
            background: -webkit-linear-gradient(top, /* Chrome10+,Safari5.1+ */
                rgba(255, 0, 0, 1) 0%,
                rgba(255, 255, 0, 1) 16.67%,
                rgba(0, 255, 0, 1) 33.33%,
                rgba(0, 255, 255, 1) 50%,
                rgba(0, 0, 255, 1) 66.67%,
                rgba(255, 0, 255, 1) 83.33%,
                rgba(255, 0, 0, 1) 100%);
            background: -o-linear-gradient(top, /* Opera 11.10+ */
                rgba(255, 0, 0, 1) 0%,
                rgba(255, 255, 0, 1) 16.67%,
                rgba(0, 255, 0, 1) 33.33%,
                rgba(0, 255, 255, 1) 50%,
                rgba(0, 0, 255, 1) 66.67%,
                rgba(255, 0, 255, 1) 83.33%,
                rgba(255, 0, 0, 1) 100%);
            background: -ms-linear-gradient(top, /* IE10+ */
                rgba(255, 0, 0, 1) 0%,
                rgba(255, 255, 0, 1) 16.67%,
                rgba(0, 255, 0, 1) 33.33%,
                rgba(0, 255, 255, 1) 50%,
                rgba(0, 0, 255, 1) 66.67%,
                rgba(255, 0, 255, 1) 83.33%,
                rgba(255, 0, 0, 1) 100%);
            background: linear-gradient(to bottom, /* W3C */
                rgba(255, 0, 0, 1) 0%,
                rgba(255, 255, 0, 1) 16.67%,
                rgba(0, 255, 0, 1) 33.33%,
                rgba(0, 255, 255, 1) 50%,
                rgba(0, 0, 255, 1) 66.67%,
                rgba(255, 0, 255, 1) 83.33%,
                rgba(255, 0, 0, 1) 100%);

            > .handle {
                position: absolute;
                top: 0;
                left: -3px;
                width: 16px;
                height: 4px;
                margin: -3px 0 0 0;
                border: 1px solid #000;
                outline: 1px solid #fff;
            }
        }
        > .pick-opacity {
            @extend .noSelect;
            position: relative;
            display: none;
            float: left;
            width: 12px;
            height: 144px;
            margin: 8px 0 8px 8px;
            border: 1px solid #000;
            cursor: crosshair;

            background: #000;
            background: -moz-linear-gradient(top,  #ffffff 0%, #000000 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#000000)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  #ffffff 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  #ffffff 0%,#000000 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  #ffffff 0%,#000000 100%); /* IE10+ */
            background: linear-gradient(to bottom,  #ffffff 0%,#000000 100%); /* W3C */

            > .handle {
                position: absolute;
                top: 0;
                left: -3px;
                width: 16px;
                height: 4px;
                margin: -3px 0 0 0;
                border: 1px solid #000;
                outline: 1px solid #fff;
            }
        }

        > .fields {
            float: left;
            width: 106px;
            height: 154px;
            margin: 0 0 0 8px;
            padding: 4px;

            > .field {
                display: none;
                width: calc(106px - 10px);
            }
        }
    }
}

.picker-curve {
    > .content {
        border: 1px solid #000;
        width: 470px;
        background-color: transparent;
        white-space: nowrap;
        transition: none;
    }

    .ui-checkbox.picker-curve-toggle {
        text-align: center;
        line-height: 22px;
        width: auto;
        min-width: 14px;
        padding-left: 5px;
        padding-right: 5px;

        &:after {
            content: none;
        }

        &:focus, &.active {
            border-color: transparent;
        }
    }
}
