#ui-root {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
}

#ui-top {
    height: 48px;
    line-height: 48px;
    background-color: #111;

    > .content {
        overflow: hidden;
        padding: 0 8px;
    }
}

#ui-bottom {
    height: 24px;
    line-height: 24px;
    background-color: #111;

    > .content {
        padding: 0 8px;
        overflow: hidden;
        font-size: 12px;
        color: #aaa;
    }
}

.hierarchy {
    > .content {
        > .ui-panel {
            cursor: pointer;
            &:hover {
                background-color: rgba(#07f, 0.1);
            }
            &.selected {
                background-color: #07f;
            }
        }
    }
}
