$cube-size: 24px;
$color-one: #829193;
$color-two: #f06531;
$color-three: #fff;
$rotation-period: 5s;

@font-face {
    font-family: 'inconsolatamedium';
    src: url('https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/Inconsolata-webfont.eot');
    src: url('https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/Inconsolata-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/Inconsolata-webfont.woff2') format('woff2'),
         url('https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/Inconsolata-webfont.woff') format('woff'),
         url('https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/Inconsolata-webfont.ttf') format('truetype'),
         url('https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/Inconsolata-webfont.svg#inconsolatamedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    background-color: #1d292c;
}
body {
    margin: 0;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #1d292c;
    font-family: Helvetica, arial, sans-serif;
    position: relative;
    width: 100%;
}

#application-canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#application-canvas.fill-mode-NONE {
    margin: auto;
}
#application-canvas.fill-mode-KEEP_ASPECT {
    width: 100%;
    height: auto;
    margin: 0;
}
#application-canvas.fill-mode-FILL_WINDOW {
    width: 100%;
    height: 100%;
    margin: 0;
}

canvas:focus {
    outline: none;
}

#application-console {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    max-height: 40%;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    font-family: inconsolatamedium, Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
    font-weight: normal;
    color: white;
    padding-left: 10px;
    overflow-y: scroll;
    word-wrap: break-word;
    border-top: 1px solid #444;

    &.hidden {
        display: none;
    }

    img {
        float: right;
        padding: 5px;
        cursor: pointer;
    }

    p {
        &.error {
            color: red;
        }

        &.trace {
            color: #ddd;
        }

        a {
            color: rgb(255, 143, 0);
        }
    }
}

.connecting {
    position: absolute;
    right: 5px;
    top: 5px;
}

body > #dev-tools {
    position: absolute;
    z-index: 10001;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 300px;
    background-color: #303030;
    overflow: hidden;
    cursor: default;
    border-top: 1px solid #202020;

    &.dragging {
        cursor: -webkit-grabbing;
        cursor: -moz-grabbing;
    }
    > .overview {
        position: absolute;
        left: 300px;
        top: 0px;
        display: block;
        background-color: #202020;
    }
    > .timeline {
        position: absolute;
        left: 300px;
        top: 24px;
        display: block;
        background-color: #303030;
    }
    > .frame {
        position: absolute;
        top: 0;
        left: 0;
        width: 299px;
        height: 300px;
        border-right: 1px solid #202020;
        overflow: auto;
        color: #fff;
        font-size: 12px;
        font-family: 'Courier New', monospace;

        &::-webkit-scrollbar {
            width: 4px;
            height: 4px;
        }
        &::-webkit-scrollbar-track {
            background: #303030;
        }
        &::-webkit-scrollbar-thumb {
            background: #202020;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #fff;
        }
        &::-webkit-scrollbar-corner {
            background: #303030;
        }

        > .panel {
            overflow: hidden;

            > .header {
                text-transform: uppercase;
                height: 24px;
                line-height: 24px;
                padding: 0 8px;
                font-size: 14px;
                background-color: #202020;
                cursor: pointer;
            }
            > .row {
                overflow: hidden;
                margin: 4px 8px;

                > .title {
                    float: left;
                    width: 150px;
                }
                > .field {
                    float: left;
                }
            }
            &.folded {
                height: 24px;

                > .header {
                    color: mix(#202020, #fff, 50%);
                }
            }
        }
    }
}
