html {
    height: 100%;
    background-color: #1d292c;
}
body {
    margin: 0;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #1d292c;
    font-family: Helvetica, arial, sans-serif;
    position: relative;
    width: 100%;
}

#application-canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#application-canvas.fill-mode-KEEP_ASPECT {
    width: 100%;
    height: auto;
    margin: 0;
}
#application-canvas.fill-mode-FILL_WINDOW {
    width: 100%;
    height: 100%;
    margin: 0;
}

canvas:focus {
    outline: none;
}
// #application-splash {
//     position: absolute;
//     top: 40%;
//     width: 30%;
//     left: 35%;
// }
// #application-splash img {
//     width: 100%;
// }
// @media (min-width: 768px) {
//     #application-splash {
//         width: 20%;
//         left: 40%;
//     }
// }
// @media (min-width: 992px) {
//     #application-splash {
//         width: 10%;
//         left: 45%;
//     }
// }

