$cube-size: 24px;
$color-one: #829193;
$color-two: #f06531;
$color-three: #fff;
$rotation-period: 5s;

@font-face {
    font-family: 'inconsolatamedium';
    src: url('https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/Inconsolata-webfont.eot');
    src: url('https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/Inconsolata-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/Inconsolata-webfont.woff2') format('woff2'),
         url('https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/Inconsolata-webfont.woff') format('woff'),
         url('https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/Inconsolata-webfont.ttf') format('truetype'),
         url('https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/Inconsolata-webfont.svg#inconsolatamedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    background-color: #1d292c;
}
body {
    margin: 0;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #1d292c;
    font-family: Helvetica, arial, sans-serif;
    position: relative;
    width: 100%;
}

#application-canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#application-canvas.fill-mode-NONE {
    margin: auto;
}
#application-canvas.fill-mode-KEEP_ASPECT {
    width: 100%;
    height: auto;
    margin: 0;
}
#application-canvas.fill-mode-FILL_WINDOW {
    width: 100%;
    height: 100%;
    margin: 0;
}

canvas:focus {
    outline: none;
}

#application-splash {
    position: absolute;
    top: 42%;
    width: 30%;
    left: 35%;

    img {
        width: 100%;
    }

    #progress-container {
        width: 100%;
        height: 2px;
        position: absolute;
        background-color: #444;

        #progress-bar {
            width: 0%;
            height: 100%;
            background-color: white;
        }
    }

    // #spinner {
    //     width: 10%;
    // }

    // .wrapper{
    //     #position:relative;
    //     #top:50%;
    //     #margin: -$cube-size/2 auto 0;
    //     width: $cube-size;
    //     height: $cube-size;
    //     transform: rotateX(-33deg);
    //     transform-style: preserve-3d;
    // }

    // .cube {
    //     position: relative;
    //     transform-style: preserve-3d;
    //     backface-visibility: hidden;
    //     animation: spin $rotation-period infinite linear;
    //     animation-delay:-$rotation-period/8;

    //     div {
    //         position: absolute;
    //         width: $cube-size;
    //         height: $cube-size;
    //     }
    // }

    // .back {
    //     transform: translateZ(-$cube-size/2) rotateY(180deg);
    //     background: $color-one;
    // }
    // .right {
    //     transform: rotateY(-270deg) translateX($cube-size/2);
    //     transform-origin: top right;
    //     background: $color-two;
    // }
    // .left {
    //     transform: rotateY(270deg) translateX(-$cube-size/2);
    //     transform-origin: center left;
    //     background-color:$color-two;
    // }
    // .top {
    //     transform: rotateX(-90deg) translateY(-$cube-size/2);
    //     transform-origin: top center;
    //     background: $color-three;
    // }
    // .bottom {
    //     transform: rotateX(90deg) translateY($cube-size/2);
    //     transform-origin: bottom center;
    //     background: $color-three;
    // }
    // .front {
    //     transform: translateZ($cube-size/2);
    //     background: $color-one;
    // }
}

// @keyframes spin {
//     from { transform: rotateY(0); }
//     to { transform: rotateY(360deg); }
// }

#application-console {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    max-height: 40%;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    font-family: inconsolatamedium, Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
    font-weight: normal;
    color: white;
    padding-left: 10px;
    overflow-y: scroll;
    word-wrap: break-word;
    border-top: 1px solid #444;

    &.hidden {
        display: none;
    }

    img {
        float: right;
        padding: 5px;
        cursor: pointer;
    }

    p {
        &.error {
            color: red;
        }

        &.trace {
            color: #ddd;
        }

        a {
            color: rgb(255, 143, 0);
        }
    }
}

@media (min-width: 768px) {
    #application-splash {
        top: 44%;
        width: 10%;
        left: 45%;
    }
}

@media (min-width: 992px) {
    #application-splash {
        width: 10%;
        left: 45%;
    }
}

@media (orientation: portrait) {
    #application-splash {
        top: 42%;
    }
}

