$bcg-primary: #323f42;
$bcg-secondary: #364346;
$bcg-dark: #293538;
$bcg-darker: #20292b;
$bcg-light: #5f6f72;

$text-dark: #97aeb2;
$text-primary: #eee;
$text-light: #fff;
$text-active: #6bc26f;

$disabled-opacity: .4;

body {
    color: $text-primary;
    background-color: $bcg-dark;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-track {
    background: $bcg-dark;
}
::-webkit-scrollbar-thumb {
    background: $bcg-light;
}
::-webkit-scrollbar-thumb:hover {
    background: $text-active;
}
::-webkit-scrollbar-corner {
    background: $bcg-dark;
}

::-moz-selection {
    color: $text-active;
    background-color: #000;
}
::selection {
    color: $text-active;
    background-color: #000;
}

a {
    color: $text-active;
    text-decoration: none;
}
a:hover {
    color: saturate(lighten($text-active, 10%), 10%);
    text-decoration: underline;
}
a:visited {
    color: $text-active;
}

.ui-flash {
    outline: 1px solid $text-active;
    -webkit-animation: ui-flash-animation 200ms ease-in-out forwards;
    animation: ui-flash-animation 200ms ease-in-out forwards;
}


.ui-panel {
    background-color: $bcg-primary;

    &.disabled {
        > header {
            background-color: mix($bcg-primary, $bcg-dark, $disabled-opacity);
        }
    }
    > header {
        background-color: $bcg-dark;
        color: $text-dark;
    }
    &.foldable {
        &.folded {
            &.horizontal {
                background-color: $bcg-dark;
            }
        }
        > header {
            &:hover {
                color: $text-active;
            }
            // fold icon
            &:after {
                background-color: #07f;
            }
        }
    }
    &.resizable {
        &.resizing > .handle {
            background-color: $text-active;
        }
        > .handle {
            background-color: $bcg-dark;

            &:hover {
                background-color: $text-active;
            }
        }
    }
    &.flash {
        @extend .ui-flash;
    }
}

.ui-overlay {
    > .overlay {
        background-color: rgba($bcg-darker, .7);
    }
}

.ui-tree {
    &.dragging {
        > .drag-handle {
            &.before,
            &.inside,
            &.after {
                border-color: $text-active;
            }
        }
    }
}

.ui-tree-item {
    $line-color: $bcg-light;

    &.container {
        // plus icon
        > .title:before {
            background-color: #07f;
        }
        // minus icon
        &.open {
            > .title:before {
                background-color: #07f;
            }
        }
    }
    > .title {
        &:hover,
        &:focus {
            color: $text-active;
            border-color: transparent;
            background-color: mix($bcg-primary, $bcg-dark, 50%);
        }
        > .icon {
            // line-left
            &:before {
                background-color: $line-color;
            }
            // icon
            &:after {
                background-color: #07f;
            }
        }
    }
    &.selected {
        > .title {
            background-color: $bcg-dark;
            color: $text-active;
            border-color: $text-active;
        }
    }
    &.dragged {
        > .title {
            background-color: $bcg-dark;
            color: $text-active;
        }
    }
    // line-top
    &:before {
        background-color: $line-color;
    }
    // line-top, single item
    &.single {
        &:before {
            background-color: $line-color;
        }
    }
}

.ui-list {
    background-color: $bcg-dark;
    border-color: $bcg-darker;

    &.flash {
        @extend .ui-flash;
    }
    &.selectable {
        &:hover {
            border-color: $bcg-darker;
        }
        > .ui-list-item {
            &:hover {
                color: $text-active;
                box-shadow: 0 0 4px rgba(0, 0, 0, .5);
                background-color: mix($bcg-primary, $bcg-dark, 50%);
                position: relative;
                z-index: 1;
            }
        }
    }
}

.ui-list-item {
    background-color: $bcg-dark;
    border-color: $bcg-darker;

    &.selected {
        background-color: $bcg-dark;
    }
}

.ui-grid {
    &.flash {
        @extend .ui-flash;
    }
}

.ui-grid-item {
    &.disabled.selected {
        background-color: #07f;
    }
    &:hover,
    &:focus {
        color: $text-active;
        background-color: mix($bcg-primary, $bcg-dark, 50%);
        outline-color: $text-active;
    }
    &.selected {
        color: $text-active;
        background-color: $bcg-dark;
        outline: 1px solid $text-active;
    }
}

.ui-label {
    color: $text-dark;

    &.flash {
        @extend .ui-flash;
    }
}
.ui-label[placeholder] {
    &:after {
        color: $text-dark;
        background-color: $bcg-dark;
    }
}

.ui-slider {
    &:hover,
    &.active {
        > .bar {
            > .handle {
                border-color: $text-active;
                background-color: $bcg-dark;
                box-shadow: 0 0 4px rgba(0, 0, 0, .5);
            }
        }
    }
    &.flash {
        > .bar {
            @extend .ui-flash;
        }
    }
    > .bar {
        background-color: $bcg-dark;
        border-color: $bcg-darker;

        > .handle {
            background-color: $text-primary;
            border-color: $bcg-darker;

            &:focus {
                border-color: $text-active;
                background-color: $bcg-dark;
                box-shadow: 0 0 4px rgba(0, 0, 0, .5);
            }
        }
    }
}

.ui-text-field {
    border: 1px solid $bcg-darker;
    background-color: $bcg-dark;

    &.active,
    &:hover,
    &:focus,
    &.focus {
        box-shadow: 0 0 4px rgba(0, 0, 0, .5);
        border-color: $text-active;
    }
    > input.field:focus,
    > input.field:hover {
        color: $text-active;
    }

    &.flash {
        @extend .ui-flash;
    }
}
.ui-text-field[placeholder] {
    &:after {
        color: $text-dark;
        background-color: $bcg-dark;
    }
}

.ui-color-field {
    border: 1px solid $bcg-darker;

    &:after {
        background-color: $bcg-dark;
        border-color: $bcg-darker;
    }

    &:hover,
    &:focus {
        border-color: $text-active;
        box-shadow: 0 0 4px rgba(0, 0, 0, .5);
        &:after {
            background-color: $text-active;
            border-color: $bcg-darker;
        }
    }

    &.flash {
        @extend .ui-flash;
    }
}

.ui-image-field {
    border: 1px solid $bcg-darker;

    &:after {
        background-color: $bcg-dark;
        border-color: $bcg-darker;
    }

    &:hover,
    &:focus {
        border-color: $text-active;
        box-shadow: 0 0 4px rgba(0, 0, 0, .5);
        &:after {
            background-color: $text-active;
            border-color: $bcg-darker;
        }
    }

    > .clear {
        border-color: $bcg-dark;
    }

    &.flash {
        @extend .ui-flash;
    }
}

.ui-number-field {
    border: 1px solid $bcg-darker;
    background-color: $bcg-dark;

    &.active,
    &:hover,
    &:focus,
    &.focus {
        box-shadow: 0 0 4px rgba(0, 0, 0, .5);
        border-color: $text-active;
    }
    > input.field:focus,
    > input.field:hover {
        color: $text-active;
    }

    &.flash {
        @extend .ui-flash;
    }
}
.ui-number-field[placeholder] {
    &:after {
        color: $text-dark;
        background-color: $bcg-dark;
    }
}

.ui-checkbox {
    position: relative;
    border: 1px solid $bcg-darker;
    background-color: $bcg-dark;

    &:hover,
    &:focus {
        border-color: $text-active;
        box-shadow: 0 0 4px rgba(0, 0, 0, .5);
        &:after {
            background-color: rgba($text-active, .2);
        }
    }
    &:after {
        content: '\00a0';
        position: absolute;
        top: 6px;
        left: 6px;
        width: 12px;
        height: 12px;
        background-color: transparent;
    }
    &.checked {
        background-color: $bcg-dark;

        &:after {
            background-color: $text-primary;
        }
        &:hover:after {
            background-color: $text-active;
        }
    }
    &.flash {
        @extend .ui-flash;
    }
}

.ui-select-field {
    border: 1px solid $bcg-darker;
    background-color: $bcg-dark;

    &:hover,
    &:focus {
        color: $text-active;
        border-color: $text-active;
        box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    }
    &.active {
        box-shadow: 0 0 0 transparent;
    }
    > ul {
        color: $text-primary;
        background-color: $bcg-darker;
        outline: 1px solid $text-active;

        > li {
            &:hover {
                color: $text-active;
                background-color: $bcg-dark;
            }
            &.selected {
                color: $text-primary;
                background-color: $bcg-dark;
                cursor: default;
            }
        }
    }
    &.flash {
        @extend .ui-flash;
    }
}

.ui-button {
    border: 1px solid $bcg-darker;
    background-color: $bcg-dark;
    color: $text-primary;

    &:hover,
    &:focus {
        border-color: $text-active;
        box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    }
}

.ui-code {
    color: $text-active;
    background-color: $bcg-dark;
}


.ui-progress {
    background-color: $bcg-darker;

    > .inner {
        $first: rgba($text-active, 1);
        $second: rgba(darken($text-active, 17%), 1);

        background: $text-active;
        background: -webkit-gradient(left top, right bottom, color-stop(0%, $first), color-stop(25%, $first), color-stop(26%, $second), color-stop(50%, $second), color-stop(51%, $first), color-stop(75%, $first), color-stop(76%, $second), color-stop(100%, $second));
        background: -webkit-linear-gradient(-45deg, $first 0%, $first 25%, $second 26%, $second 50%, $first 51%, $first 75%, $second 76%, $second 100%);
        background: -moz-linear-gradient(-45deg, $first 0%, $first 25%, $second 26%, $second 50%, $first 51%, $first 75%, $second 76%, $second 100%);
        background: -ms-linear-gradient(-45deg, $first 0%, $first 25%, $second 26%, $second 50%, $first 51%, $first 75%, $second 76%, $second 100%);
        background: -o-linear-gradient(-45deg, $first 0%, $first 25%, $second 26%, $second 50%, $first 51%, $first 75%, $second 76%, $second 100%);
        background: linear-gradient(135deg, $first 0%, $first 25%, $second 26%, $second 50%, $first 51%, $first 75%, $second 76%, $second 100%);
        background-position: 0px 0px;
        background-size: 24px 24px;
        background-repeat: repeat;
    }
}

// ui-text-field changed animation
@-webkit-keyframes ui-flash-animation {
    from { outline-color: $text-active; }
    to { outline-color: rgba($text-active, 0); }
}
@keyframes ui-flash-animation {
    from { outline-color: $text-active; }
    to { outline-color: rgba($text-active, 0); }
}


.picker-color {
    > .content {
        border: 1px solid $bcg-darker;
        background-color: $bcg-dark;

        > .pick-rect,
        > .pick-hue,
        > .pick-opacity {
            border: 1px solid $bcg-darker;
        }
        > .fields {
            background-color: $bcg-darker;
        }
    }
}
