$bcg-darkest: #20292b;
$bcg-darker: #293538;
$bcg-dark: #2c393c;
$bcg-primary: #364346;

$text-darkest: #5b7073;
$text-dark: #9ba1a3;
$text-secondary: #b1b8ba;
$text-primary: #ffffff;
$text-active: #40d47e;

$disabled-opacity: .4;

body {
    color: $text-secondary;
    background-color: $bcg-darker;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-track {
    background: $bcg-primary;
}
::-webkit-scrollbar-thumb {
    background: $bcg-dark;
}
::-webkit-scrollbar-thumb:hover {
    background: $text-active;
}
::-webkit-scrollbar-corner {
    background: $bcg-dark;
}

::-moz-selection {
    color: $text-active;
    background-color: $bcg-darkest;
}
::selection {
    color: $text-active;
    background-color: $bcg-darkest;
}

a {
    color: $text-active;
    text-decoration: none;
}
a:hover {
    color: saturate(lighten($text-active, 10%), 10%);
    text-decoration: underline;
}
a:visited {
    color: $text-active;
}

.ui-flash {
    outline: 1px solid $text-active;
    -webkit-animation: ui-flash-animation 200ms ease-in-out forwards;
    animation: ui-flash-animation 200ms ease-in-out forwards;
}


.ui-panel {
    background-color: $bcg-primary;

    &.disabled {
        > header {
            background-color: mix($bcg-darker, $bcg-primary, $disabled-opacity);
        }
    }
    > header {
        background-color: $bcg-darker;
        color: $text-primary;
    }
    &.foldable {
        &.folded {
            &.horizontal {
                background-color: $bcg-darker;
            }
        }
        > header {
            &:hover {
                color: $text-active;
            }
            // fold icon
            &:after {
                background-color: #07f;
            }
        }
    }
    &.resizable {
        &.resizing > .handle {
            background-color: $text-active;
        }
        > .handle {
            background-color: $bcg-dark;

            &:hover {
                background-color: $text-active;
            }
        }
    }
    &.flash {
        @extend .ui-flash;
    }
}

.ui-overlay {
    > .overlay {
        background-color: rgba($bcg-darkest, .7);
    }
}

.ui-tree {
    &.dragging {
        > .drag-handle {
            &.before,
            &.inside,
            &.after {
                border-color: $text-active;
            }
        }
    }
}

.ui-tree-item {
    $line-color: $bcg-dark;

    &.container {
        // plus icon
        > .title:before {
            content: '+';
            color: $text-secondary;
            text-align: center;
            line-height: 16px;
            background: transparent;
            font-size: 18px;
            font-weight: bold;
            background-color: $bcg-dark;
        }
        > .title:hover:before {
            color: $text-active;
        }
        // minus icon
        &.open {
            > .title:before {
                content: '-';
                // background-color: #07f;
            }
            > .title:hover:before {
                color: $text-secondary;
            }
        }
    }
    &.disabled {
        > .title > .icon:after {
            background-color: mix($text-darkest, $bcg-primary, 50%);
            opacity: 1;
        }
    }
    > .title {
        color: $text-secondary;

        &:hover,
        &:focus {
            color: $text-primary;
            border-color: transparent;
            background-color: rgba($bcg-dark, .5);

            > .icon:after {
                background-color: mix($text-darkest, $text-active, 50%);
            }
        }
        > .icon {
            // line-left
            &:before {
                background-color: $line-color;
            }
            // icon
            &:after {
                background-color: $text-darkest;
            }
        }
    }
    &.selected {
        > .title {
            background-color: $bcg-darker;
            color: $text-primary;
            border-color: transparent;

            > .icon:after {
                background-color: $text-active;
            }
        }
    }
    &.dragged {
        > .title {
            background-color: rgba($bcg-dark, .5);
            color: $text-primary;
        }
    }
    // line-top
    &:before {
        background-color: $line-color;
    }
    // line-top, single item
    &.single {
        &:before {
            background-color: $line-color;
        }
    }
}

.ui-list {
    background-color: $bcg-dark;
    border-color: $bcg-darker;

    &.flash {
        @extend .ui-flash;
    }
    &.selectable {
        > .ui-list-item {
            &:hover {
                color: $text-primary;
                background-color: $bcg-darkest;
                border-color: $bcg-darkest;
                position: relative;
                z-index: 1;
            }
        }
    }
}

.ui-list-item {
    // background-color: #0f0;
    border-color: $bcg-darker;
    color: $text-secondary;

    &.selected {
        color: $text-primary;
        background-color: $bcg-darker;
    }
}

.ui-grid {
    border-left: 1px solid $bcg-dark;

    &.flash {
        @extend .ui-flash;
    }
}

.ui-grid-item {
    color: $text-secondary;
    margin: 0;
    border-right: 1px solid $bcg-dark;
    border-bottom: 1px solid $bcg-dark;
    outline: none;

    background-size: 50% 50%;
    // outline: 1px solid $bcg-dark;

    &.disabled.selected {
        background-color: #07f;
    }
    &:hover,
    &:focus {
        color: $text-primary;
        background-color: $bcg-dark;
        outline: none;
        // outline-color: #f00;
    }
    &.selected {
        color: $text-primary;
        background-color: $bcg-darker;
        outline: none;
        // outline: 1px solid $bcg-darkest;
    }
}

.ui-label {
    color: $text-secondary;

    &.flash {
        @extend .ui-flash;
    }
}
.ui-label[placeholder] {
    &:after {
        color: #f00;
        background-color: #0f0;
    }
}

.ui-slider {
    &:hover,
    &.active {
        > .bar {
            border-color: $bcg-darkest;
            background-color: $bcg-darkest;

            > .handle {
                border-color: $bcg-darkest;
                background-color: $text-primary;
                transition: none;
            }
        }
    }
    &.flash {
        > .bar {
            @extend .ui-flash;
        }
    }
    > .bar {
        background-color: $bcg-dark;
        border-color: $bcg-darker;
        width: calc(100% - 10px);
        margin: 10px 4px;

        > .handle {
            border-color: $bcg-darker;
            background-color: $text-darkest;
            width: 8px;
            margin-left: -5px;
            transition: left 100ms ease;

            &:focus {
                border-color: $bcg-darkest;
                background-color: $text-primary;
            }
        }
    }
}

.ui-text-field {
    border: 1px solid $bcg-darker;
    background-color: $bcg-dark;

    > input.field {
        color: $text-secondary;
    }
    &.active,
    &:hover,
    &:focus,
    &.focus {
        border-color: $bcg-darkest;
        background-color: $bcg-darkest;
    }
    > input.field:focus,
    > input.field:hover {
        box-shadow: none;
        color: $text-primary;
        outline: none;
        border: none;
    }

    &.flash {
        @extend .ui-flash;
    }
}
.ui-text-field[placeholder] {
    &:after {
        color: $text-darkest;
        background-color: $bcg-dark;
    }
}

.ui-color-field {
    border: 1px solid $bcg-darker;

    &:after {
        background-color: $bcg-darker;
        border-color: $bcg-darker;
    }

    &:hover,
    &:focus {
        border-color: $text-active;
        box-shadow: none;
        // box-shadow: 0 0 4px rgba(0, 0, 0, .5);
        &:after {
            background-color: $text-active;
            border-color: $text-active;
        }
    }

    &.flash {
        @extend .ui-flash;
    }
}

.ui-image-field {
    border: 1px solid $bcg-darker;

    &:after {
        background-color: $bcg-darker;
        border-color: $bcg-darker;
    }

    &:hover,
    &:focus {
        border-color: $text-active;
        box-shadow: none;
        &:after {
            background-color: $text-active;
            border-color: $text-active;
        }
    }

    > .clear {
        border-color: #0f0;
    }

    &.flash {
        @extend .ui-flash;
    }
}

.ui-number-field {
    border: 1px solid $bcg-darker;
    background-color: $bcg-dark;

    > input.field {
        color: $text-secondary;
    }
    &.active,
    &:hover,
    &:focus,
    &.focus {
        border-color: $bcg-darkest;
        background-color: $bcg-darkest;
    }
    > input.field:focus,
    > input.field:hover {
        // color: #f00;
        box-shadow: none;
        color: $text-primary;
        outline: none;
        border: none;
    }

    &.flash {
        @extend .ui-flash;
    }
}
.ui-number-field[placeholder] {
    &:after {
        color: $text-darkest;
        background-color: $bcg-dark;
    }
}

.ui-curve-field {
    border: 1px solid $bcg-darker;
    background-color: $bcg-dark;

    &.active, &:hover, &:focus, &.active {
        border-color: $text-active;

        > .ui-canvas {
            background-color: $bcg-darkest;
        }
    }

    &.flash {
        @extend .ui-flash;
    }
}

.ui-checkbox {
    position: relative;
    border: none;
    border: 1px solid $text-darkest;
    background-color: $text-darkest;
    border-radius: 12px;
    width: 24px;
    height: 14px;
    margin-top: 8px;
    transition: background-color 100ms ease, border-color 100ms ease;

    &:hover,
    &:focus {
        border-color: $text-darkest;
        &:after {
            background-color: $bcg-darkest;
        }
    }
    &:after {
        content: '\00a0';
        position: absolute;
        top: 1px;
        left: 1px;
        width: 12px;
        height: 12px;
        border-radius: 6px;
        background-color: $bcg-darker;
        transition: left 100ms ease;
    }
    &.checked {
        border-color: $text-active;
        background-color: $text-active;

        &:after {
            left: 11px;
            background-color: $bcg-darker;
        }
        &:hover {
            border-color: $text-active;
            &:after {
                background-color: $bcg-darkest;
            }
        }
    }
}

.ui-select-field {
    border: 1px solid $bcg-darker;
    background-color: $bcg-dark;

    &:hover,
    &:focus {
        border-color: $bcg-darkest;
        background-color: $bcg-darkest;

        > .value {
            color: $text-primary;
        }
    }
    > .value {
        color: $text-secondary;
    }
    > ul {
        color: $text-secondary;
        background-color: $bcg-darkest;
        outline: 1px solid $bcg-darkest;

        > li {
            &:hover {
                color: $text-primary;
                background-color: $bcg-dark;
            }
            &.selected {
                color: $text-primary;
                background-color: $bcg-darker;
                cursor: default;
            }
        }
    }
    &.flash {
        @extend .ui-flash;
    }
}

.ui-button {
    border: 1px solid $bcg-darker;
    background-color: $bcg-dark;
    color: $text-secondary;

    &:hover,
    &:focus {
        color: $text-primary;
        border-color: $bcg-darkest;
        background-color: $bcg-darkest;
    }
}

.ui-code {
    color: $text-active;
    background-color: $bcg-darkest;
}


.ui-progress {
    background-color: $bcg-darkest;

    > .inner {
        $first: rgba($text-active, 1);
        $second: rgba(darken($text-active, 17%), 1);

        background: $text-active;
        background: -webkit-gradient(left top, right bottom, color-stop(0%, $first), color-stop(25%, $first), color-stop(26%, $second), color-stop(50%, $second), color-stop(51%, $first), color-stop(75%, $first), color-stop(76%, $second), color-stop(100%, $second));
        background: -webkit-linear-gradient(-45deg, $first 0%, $first 25%, $second 26%, $second 50%, $first 51%, $first 75%, $second 76%, $second 100%);
        background: -moz-linear-gradient(-45deg, $first 0%, $first 25%, $second 26%, $second 50%, $first 51%, $first 75%, $second 76%, $second 100%);
        background: -ms-linear-gradient(-45deg, $first 0%, $first 25%, $second 26%, $second 50%, $first 51%, $first 75%, $second 76%, $second 100%);
        background: -o-linear-gradient(-45deg, $first 0%, $first 25%, $second 26%, $second 50%, $first 51%, $first 75%, $second 76%, $second 100%);
        background: linear-gradient(135deg, $first 0%, $first 25%, $second 26%, $second 50%, $first 51%, $first 75%, $second 76%, $second 100%);
        background-position: 0px 0px;
        background-size: 24px 24px;
        background-repeat: repeat;
    }
}

// ui-text-field changed animation
@-webkit-keyframes ui-flash-animation {
    from { outline-color: $text-active; }
    to { outline-color: rgba($text-active, 0); }
}
@keyframes ui-flash-animation {
    from { outline-color: $text-active; }
    to { outline-color: rgba($text-active, 0); }
}

.picker-color {
    > .content {
        border: 1px solid $bcg-darkest;
        background-color: $bcg-dark;

        > .pick-rect,
        > .pick-hue,
        > .pick-opacity {
            border: 1px solid $bcg-darker;
        }
        > .fields {
            background-color: $bcg-primary;
        }
    }
}

.picker-curve {
    > .content {
        border: 1px solid $bcg-darkest;
        background-color: $bcg-dark;
    }

    // .ui-checkbox.picker-curve-toggle {
    //     &.checked {
    //         border-color: #f00;
    //     }
    // }
}
