$bcg-darkest: #20292b;
$bcg-darker: #293538;
$bcg-dark: #2c393c;
$bcg-primary: #364346;

$text-darkest: #5b7073;
$text-dark: #9ba1a3;
$text-secondary: #b1b8ba;
$text-primary: #ffffff;
$text-active: #40d47e;

$field-padding: 3px;

$disabled-opacity: .4;

@font-face {
    font-family: 'ui-font-solid';
    src: url('https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/uifont-solid.eot');
    src: url('https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/uifont-solid.eot?#iefix') format('embedded-opentype'),
         url('https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/uifont-solid.ttf') format('truetype'),
         url('https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/uifont-solid.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.font-icon {
    font-family: 'ui-font-solid';
}


body {
    color: $text-secondary;
    background-color: $bcg-darker;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-track {
    background: $bcg-primary;
}
::-webkit-scrollbar-thumb {
    background: $bcg-dark;
}
::-webkit-scrollbar-thumb:hover {
    background: $text-active;
}
::-webkit-scrollbar-corner {
    background: $bcg-dark;
}

::-moz-selection {
    color: $text-active;
    background-color: $bcg-darkest;
}
::selection {
    color: $text-active;
    background-color: $bcg-darkest;
}

a {
    color: $text-active;
    text-decoration: none;
}
a:hover {
    color: saturate(lighten($text-active, 10%), 10%);
    text-decoration: underline;
}
a:visited {
    color: $text-active;
}

.ui-flash {
    outline: 1px solid $text-active;
    -webkit-animation: ui-flash-animation 200ms ease-in-out forwards;
    animation: ui-flash-animation 200ms ease-in-out forwards;
}


.ui-panel {
    background-color: $bcg-primary;

    &.disabled {
        > header {
            background-color: mix($bcg-darker, $bcg-primary, $disabled-opacity);
        }
    }
    &.scrollable {
        > .content {
            top: 32px;
        }
    }
    > header {
        background-color: $bcg-darker;
        color: $text-primary;
        // height: 36px;
        // line-height: 36px;
        font-size: 12px;
        font-weight: 100;
        // -webkit-font-smoothing: antialiased;
        // -moz-osx-font-smoothing: grayscale;
        // font-smoothing: antialiased;
    }
    &.foldable {
        &.folded {
            > header {
                color: $text-dark;

                &:after {
                    transform: rotate(0deg);
                    color: $text-dark;
                }
            }
            &.horizontal {
                background-color: $bcg-darker;

                > header {
                    top: -32px;

                    &:after {
                        transform: rotate(90deg);
                    }
                }
                &.resizable-right > header:after {
                    transform: rotate(-90deg);
                }
            }
            &.resizable-top > header:after {
                transform: rotate(-90deg);
            }
        }
        > header {
            padding-left: 32px;

            &:hover {
                color: $text-primary;

                &:after {
                    color: $text-primary;
                }
            }
            // fold icon
            &:after {
                right: auto;
                left: 0;
                content: '\E113';
                font-family: 'ui-font-solid';
                font-size: 18px;
                text-align: center;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                font-smoothing: antialiased;
                margin: 0;
                padding: 0;
                width: 32px;
                height: 32px;
                line-height: 30px;
                color: $text-active;
                background-color: transparent;
                transform: rotate(90deg);
                transition: transform 100ms ease;
            }
        }
        &.horizontal {
            > header:after {
                transform: rotate(0deg);
            }
            &.resizable-right > header:after {
                transform: rotate(180deg);
            }
        }
    }
    &.resizable {
        &.resizing > .handle {
            background-color: $text-active;
        }
        &.resizable-left {
            padding-left: 0;

            &.scrollable > .content {
                left: 0;
            }
        }
        &.resizable-right {
            padding-right: 0;
        }
        &.resizable-top {
            padding-top: 0;

            &.scrollable > .content {
                top: 32px;
            }
        }
        &.resizable-bottom {
            padding-bottom: 0;
        }
        &.resizing > .handle {
            opacity: 1;
        }
        > .handle {
            opacity: 0;
            background-color: $text-active;

            &:hover {
                opacity: 1;
                background-color: $text-active;
            }
        }
    }
    &.flash {
        @extend .ui-flash;
    }
}

.ui-overlay {
    > .overlay {
        background-color: rgba($bcg-darkest, .7);
    }
}

.ui-tree {
    &.dragging {
        > .drag-handle {
            &.before,
            &.inside,
            &.after {
                border-color: $text-active;
            }
        }
    }
}

.ui-tree-item {
    $line-color: $bcg-dark;

    &.container {
        // plus icon
        > .title:before {
            content: '+';
            color: $text-secondary;
            text-align: center;
            line-height: 19px;
            background: transparent;
            font-size: 18px;
            font-weight: bold;
            background-color: $bcg-dark;
        }
        > .title:hover:before {
            color: $text-active;
        }
        // minus icon
        &.open {
            > .title:before {
                content: '-';
            }
            > .title:hover:before {
                color: $text-secondary;
            }
        }
    }
    &.disabled {
        > .title > .icon:after {
            background-color: mix($text-darkest, $bcg-primary, 50%);
            opacity: 1;
        }
    }
    > .title {
        color: $text-secondary;

        &:hover,
        &:focus {
            color: $text-primary;
            border-color: transparent;
            background-color: $bcg-dark;

            > .icon:after {
                background-color: mix($text-darkest, $text-active, 50%);
            }
        }
        > .icon {
            // line-left
            &:before {
                background-color: $line-color;
            }
            // icon
            &:after {
                background-color: $text-darkest;
            }
        }
    }
    &.selected {
        > .title {
            background-color: $bcg-darkest;
            color: $text-active;
            border-color: transparent;

            > .icon {
                &:before {
                    background-color: $bcg-darkest;
                }
                &:after {
                    background-color: $text-active;
                }
            }
        }
    }
    &.dragged {
        > .title {
            background-color: rgba($bcg-dark, .5);
            color: $text-primary;
        }
    }
    // line-top
    &:before {
        background-color: $line-color;
    }
    // line-top, single item
    &.single {
        &:before {
            background-color: $line-color;
        }
    }
}

.ui-list {
    background-color: $bcg-dark;
    border-color: $bcg-darker;
    margin: $field-padding;

    &.flash {
        @extend .ui-flash;
    }
    &.selectable {
        > .ui-list-item {
            &:hover {
                color: $text-primary;
                background-color: $bcg-darkest;
                border-color: $bcg-darkest;
                position: relative;
                z-index: 1;
            }
        }
    }
}

.ui-list-item {
    // background-color: #0f0;
    border-color: $bcg-darker;
    color: $text-secondary;

    &.selected {
        color: $text-primary;
        background-color: $bcg-darker;
    }
}

.ui-grid {
    border-left: 1px solid $bcg-dark;

    &.flash {
        @extend .ui-flash;
    }
}

.ui-grid-item {
    color: $text-secondary;
    margin: 0;
    border-right: 1px solid $bcg-dark;
    border-bottom: 1px solid $bcg-dark;
    outline: none;

    background-size: 50% 50%;

    &.disabled.selected {
        background-color: $bcg-darkest;
    }
    &:hover,
    &:focus {
        color: $text-primary;
        background-color: $bcg-dark;
        outline: none;
    }
    &.selected {
        color: $text-active;
        background-color: $bcg-darkest;
        outline: none;
    }
}

.ui-label {
    color: $text-secondary;
    margin: $field-padding;

    &.flash {
        @extend .ui-flash;
    }
}
.ui-label[placeholder] {
    &:after {
        color: #f00;
        background-color: #0f0;
    }
}

.ui-slider {
    margin: $field-padding;

    &:hover,
    &.active {
        > .bar {
            border-color: $bcg-darkest;
            background-color: $bcg-darkest;

            > .handle {
                border-color: $bcg-darkest;
                background-color: $text-primary;
                transition: none;
            }
        }
    }
    &.flash {
        > .bar {
            @extend .ui-flash;
        }
    }
    > .bar {
        background-color: $bcg-dark;
        border-color: $bcg-darker;
        width: calc(100% - 10px);
        margin: 9px 4px;

        > .handle {
            border-color: $bcg-darker;
            background-color: $text-darkest;
            width: 8px;
            margin-left: -5px;
            transition: left 100ms ease;

            &:focus {
                border-color: $bcg-darkest;
                background-color: $text-primary;
            }
        }
    }
}

.ui-text-field {
    border: 1px solid $bcg-darker;
    background-color: $bcg-dark;
    margin: $field-padding;

    > input.field {
        color: $text-secondary;
    }
    &.active,
    &:hover,
    &:focus,
    &.focus {
        border-color: $bcg-darkest;
        background-color: $bcg-darkest;
    }
    > input.field:focus,
    > input.field:hover {
        box-shadow: none;
        color: $text-primary;
        outline: none;
        border: none;
    }

    &.flash {
        @extend .ui-flash;
    }
}
.ui-text-field[placeholder] {
    &:after {
        color: $text-darkest;
        background-color: $bcg-dark;
    }
}

.ui-color-field {
    border: 1px solid $bcg-darker;
    margin: $field-padding;

    &:after {
        background-color: $bcg-darker;
        border-color: $bcg-darker;
    }

    &:hover,
    &:focus {
        outline: 1px solid $text-primary;
        border-color: $text-primary;
        box-shadow: none;
        &:after {
            background-color: $text-primary;
            border-color: $text-primary;
        }
    }

    &.flash {
        @extend .ui-flash;
    }
}

.ui-image-field {
    content: '';
    border: 1px solid $bcg-darker;
    margin: $field-padding;

    &:after {
        background-color: $bcg-darker;
        border-color: $bcg-darker;
    }

    &:hover,
    &:focus {
        outline: 1px solid $text-primary;
        border-color: $text-primary;
        box-shadow: none;
        &:after {
            background-color: $text-primary;
            border-color: $text-primary;
        }
    }

    > .clear {
        border-color: #0f0;

        width: 22px;
        height: 22px;
        padding: 0;
        margin: 0;
        line-height: 20px;
        background-color: #364346;
        border: none;
        font-family: 'ui-font-solid';
        font-size: 18px;
        text-align: center;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-smoothing: antialiased;

        &:hover {
            color: #d34141;
            background-color: #20292b;
        }
        &:after {
            content: '\E521';
        }
    }

    &.flash {
        @extend .ui-flash;
    }
}

.ui-number-field {
    border: 1px solid $bcg-darker;
    background-color: $bcg-dark;
    margin: $field-padding;

    > input.field {
        color: $text-secondary;
    }
    &.active,
    &:hover,
    &:focus,
    &.focus {
        border-color: $bcg-darkest;
        background-color: $bcg-darkest;
    }
    > input.field:focus,
    > input.field:hover {
        // color: #f00;
        box-shadow: none;
        color: $text-primary;
        outline: none;
        border: none;
    }

    &.flash {
        @extend .ui-flash;
    }
}
.ui-number-field[placeholder] {
    &:after {
        color: $text-darkest;
        background-color: $bcg-dark;
    }
}

.ui-curve-field {
    border: 1px solid $bcg-darker;
    background-color: $bcg-dark;
    margin: $field-padding;

    &.active, &:hover, &:focus, &.active {
        border-color: $text-active;

        > .ui-canvas {
            background-color: $bcg-darkest;
        }
    }

    &.flash {
        @extend .ui-flash;
    }
}

.ui-checkbox {
    position: relative;
    border: none;
    border: 1px solid $bcg-darker;
    background-color: $bcg-dark;
    border-radius: 12px;
    width: 24px;
    height: 14px;
    margin: $field-padding;
    margin-top: 7px;

    &:hover,
    &:focus {
        border-color: $bcg-darkest;
        background-color: $bcg-darkest;

        &:after {
            background-color: #d34141;
        }
    }
    &:after {
        content: '\00a0';
        position: absolute;
        top: 1px;
        left: 1px;
        width: 12px;
        height: 12px;
        border-radius: 6px;
        background-color: $text-secondary;
        transition: left 100ms ease, background-color 100ms ease;
    }
    &.checked {
        border-color: $bcg-darker;
        background-color: $bcg-dark;

        &:after {
            left: 11px;
        }
        &:hover,
        &:focus {
            border-color: $bcg-darkest;
            background-color: $bcg-darkest;

            &:after {
                background-color: $text-active;
            }
        }
    }
}

.ui-select-field {
    border: 1px solid $bcg-darker;
    background-color: $bcg-dark;
    margin: $field-padding;

    &:hover,
    &:focus {
        border-color: $bcg-darkest;
        background-color: $bcg-darkest;

        > .value {
            color: $text-primary;

            &:after {
                content: '\E113';
                color: $text-active;
            }
        }
    }
    > .value {
        color: $text-secondary;

        &:after {
            content: '\E113';
            width: 22px;
            height: 22px;
            line-height: 20px;
            padding: 0;
            margin: 0;
            font-family: 'ui-font-solid';
            font-size: 18px;
            text-align: center;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-smoothing: antialiased;
            color: $text-darkest;
            background-color: transparent;
            transform: rotate(90deg);
        }
    }
    > ul {
        color: $text-secondary;
        background-color: $bcg-darkest;
        outline: 1px solid $bcg-darkest;

        > li {
            &:hover,
            &.hover {
                color: $text-primary;
                background-color: $bcg-dark;
            }
            &.selected {
                color: $text-primary;
                background-color: $bcg-darker;
                cursor: default;
            }
        }
    }
    &.flash {
        @extend .ui-flash;
    }
}

.ui-button {
    border: 1px solid $bcg-darker;
    background-color: $bcg-dark;
    color: $text-secondary;
    margin: $field-padding;

    &:hover,
    &:focus {
        color: $text-primary;
        border-color: $bcg-darkest;
        background-color: $bcg-darkest;
    }
}

.ui-code {
    color: $text-active;
    background-color: $bcg-darkest;
}


.ui-progress {
    background-color: $bcg-darkest;

    > .inner {
        $first: rgba($text-active, 1);
        $second: rgba(darken($text-active, 17%), 1);

        background: $text-active;
        background: -webkit-gradient(left top, right bottom, color-stop(0%, $first), color-stop(25%, $first), color-stop(26%, $second), color-stop(50%, $second), color-stop(51%, $first), color-stop(75%, $first), color-stop(76%, $second), color-stop(100%, $second));
        background: -webkit-linear-gradient(-45deg, $first 0%, $first 25%, $second 26%, $second 50%, $first 51%, $first 75%, $second 76%, $second 100%);
        background: -moz-linear-gradient(-45deg, $first 0%, $first 25%, $second 26%, $second 50%, $first 51%, $first 75%, $second 76%, $second 100%);
        background: -ms-linear-gradient(-45deg, $first 0%, $first 25%, $second 26%, $second 50%, $first 51%, $first 75%, $second 76%, $second 100%);
        background: -o-linear-gradient(-45deg, $first 0%, $first 25%, $second 26%, $second 50%, $first 51%, $first 75%, $second 76%, $second 100%);
        background: linear-gradient(135deg, $first 0%, $first 25%, $second 26%, $second 50%, $first 51%, $first 75%, $second 76%, $second 100%);
        background-position: 0px 0px;
        background-size: 24px 24px;
        background-repeat: repeat;
    }
}

// ui-text-field changed animation
@-webkit-keyframes ui-flash-animation {
    from { outline-color: $text-active; }
    to { outline-color: rgba($text-active, 0); }
}
@keyframes ui-flash-animation {
    from { outline-color: $text-active; }
    to { outline-color: rgba($text-active, 0); }
}

.picker-color {
    > .content {
        border: 1px solid $bcg-darkest;
        background-color: $bcg-dark;

        > .pick-rect,
        > .pick-hue,
        > .pick-opacity {
            border: 1px solid $bcg-darker;
        }
        > .fields {
            background-color: $bcg-primary;
        }
    }
}

.picker-curve {
    > .content {
        border: 1px solid $bcg-darkest;
        background-color: $bcg-dark;
    }

    // .ui-checkbox.picker-curve-toggle {
    //     &.checked {
    //         border-color: #f00;
    //     }
    // }
}
