.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

$disabled-opacity: .4;

@font-face {
    font-family: 'inconsolatamedium';
    src: url('https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/Inconsolata-webfont.eot');
    src: url('https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/Inconsolata-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/Inconsolata-webfont.woff2') format('woff2'),
         url('https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/Inconsolata-webfont.woff') format('woff'),
         url('https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/Inconsolata-webfont.ttf') format('truetype'),
         url('https://s3-eu-west-1.amazonaws.com/static.playcanvas.com/fonts/Inconsolata-webfont.svg#inconsolatamedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fieldFont {
    // font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
    font-family: inconsolatamedium, Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
    font-weight: normal;
    font-size: 12px;
    // -webkit-font-smoothing: antialiased;
    // -webkit-text-stroke: 0.35px;
}

// scrollbar
// ::-webkit-scrollbar {
//     background: #000;
// }
// ::-webkit-scrollbar-button {
//     background: #0f0;
// }
// ::-webkit-scrollbar-track {
//     // background: #00f;
// }
// ::-webkit-scrollbar-track-piece {
//     // background: #ff0;
// }
// ::-webkit-scrollbar-thumb {
//     background: #f0f;
// }

// ::-webkit-resizer {
//     background: #fff;
// }


// scrollbar

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #000;
}
::-webkit-scrollbar-thumb {
    background: #444;
}
::-webkit-scrollbar-corner {
    background: #000;
}


a {
    color: #07f;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #07f;
}


.ui-canvas {
    @extend .noSelect;
}

.ui-curve-field {
    display: inline-block;
    border: 1px solid #666;
    width: 128px;
    height: 24px;
    margin: 4px;
    background-color: #000;
    vertical-align: top;
    transition: opacity 100ms;
    cursor: pointer;

    &.disabled {
        opacity: $disabled-opacity;
        cursor: default;
    }

    &:focus {
        outline: none;
    }

    > .ui-canvas {
        width: 100%;
        height: 100%;
        line-height: 24px;
        background-color: transparent;
        border: none;
    }
}

.ui-panel {
    position: relative;
    background-color: #222;

    &.disabled {
        > header {
            color: #999;
            background-color: mix(#111, #222, $disabled-opacity);
        }
    }
    &.noHeader {
        > header {
            display: none;
        }
    }
    &.scrollable {
        position: relative;

        &.noHeader {
            > .content {
                top: 0;
            }
        }
        > .content {
            position: absolute;
            top: 32px;
            right: 0;
            bottom: 0;
            left: 0;
            width: auto;
            height: auto;
            overflow: auto;
        }
    }
    &.flexible {
        display: flex;
        display: -webkit-flex;

    }
    &.flex {
        > .content {
            display: flex;
            display: -webkit-flex;
        }
    }
    &.foldable {
        overflow: hidden;
        transition: height 100ms, width 100ms;

        &.folded {
            > .content {
                visibility: hidden;
            }
            &.horizontal {
                background-color: #000;

                > header {
                    position: absolute;
                    top: -32px;
                    width: 2048px;

                    -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
                    -webkit-transform-origin: 0% 100%;
                    transform-origin: 0% 100%;
                }
                > .content {
                    transition: none;
                }
            }
        }
        > header {
            @extend .noSelect;
            position: relative;
            cursor: pointer;

            &:after {
                content: '\00a0';
                position: absolute;
                top: 0;
                right: 0;
                width: 16px;
                height: 16px;
                margin: 8px;
                background-color: #07f;
            }
        }
        > .content {
            transition: visibility 100ms;
        }
    }
    &.resizable {
        $handle-size: 4px;

        &.foldable.folded {
            padding: 0;
            > .handle {
                display: none;
            }
        }
        &.resizable-left {
            padding-left: 4px;

            &.scrollable {
                > .content {
                    left: 4px;
                }
            }
            > .handle {
                top: 0;
                left: 0;
                bottom: 0;
                width: $handle-size;
                height: auto;
                cursor: ew-resize;
            }
        }
        &.resizable-right {
            padding-right: 4px;

            > .handle {
                top: 0;
                right: 0;
                bottom: 0;
                width: $handle-size;
                height: auto;
                cursor: ew-resize;
            }
        }
        &.resizable-top {
            padding-top: 4px;

            &.scrollable {
                > .content {
                    top: 36px;
                }
            }
            > .handle {
                top: 0;
                left: 0;
                right: 0;
                width: auto;
                height: $handle-size;
                cursor: ns-resize;
            }
        }
        &.resizable-bottom {
            padding-bottom: 4px;

            > .handle {
                bottom: 0;
                left: 0;
                right: 0;
                width: auto;
                height: $handle-size;
                cursor: ns-resize;
            }
        }
        &:hover > .handle {
            // background-color: #222;
        }
        &.resizing > .handle {
            display: block;
            background-color: #444;
        }
        > .handle {
            @extend .noSelect;
            position: absolute;
            background-color: #000;

            &:hover {
                background-color: #444;
            }
        }
    }
    &.noAnimation {
        transition: none;
        > .content {
            transition: none;
        }
    }
    > header {
        height: 32px;
        line-height: 32px;
        padding: 0 0 0 8px;
        background-color: #111;
        white-space: nowrap;
        cursor: default;

        > span.title {
            float: left;
        }
    }
    > .content {
        position: relative;
        // overflow: hidden;
        // border-right: 1px solid #111;
        // border-left: 1px solid #111;
    }
}

.ui-overlay {
    position: absolute;
    width: auto;
    height: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
    transition: opacity 100ms, visibility 100ms;

    &.hidden {
        display: block;
        opacity: 0;
        visibility: hidden;
    }
    &.center {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -64px;
        margin-top: -64px;
        width: 128px;
        height: 128px;
    }
    &.transparent {
        > .overlay {
            opacity: 0;
        }
    }
    > .overlay {
        position: absolute;
        width: auto;
        height: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .7);
        cursor: pointer;
    }
    > .content {
        position: relative;
        background-color: #07f;
        box-shadow: 0 0 16px #000;
        transition: width 100ms, height 100ms, margin-left 100ms, margin-top 100ms;
        box-shadow: 0 0 16px rgba(0, 0, 0, .5);
    }
}

.ui-list {
    @extend .noSelect;

    list-style: none;
    padding: 0;
    margin: 4px;
    font-size: 11px;
    // font-family: 'Lucida Grande';
    border: 1px solid #1a1a1a;
    transition: opacity 100ms;

    &.disabled {
        opacity: $disabled-opacity;
    }

    &.selectable {
        > .ui-list-item {
            cursor: pointer;

            &.disabled {
                &:hover {
                    background-color: transparent;
                }
            }
            &:hover {
                background-color: rgba(#07f, 0.1);
            }
        }
    }
}

.ui-list-item {
    @extend .fieldFont;
    cursor: default;
    padding: 0 8px;
    height: 22px;
    font-size: 12px;
    line-height: 22px;
    border-bottom: 1px solid #1a1a1a;
    transition: opacity 100ms;

    &:last-child {
        border-bottom: none;
    }

    &.disabled {
        cursor: default;
        opacity: $disabled-opacity;

        &.selected {
            background-color: #07f;
        }
    }
    &.selected {
        background-color: #07f;
    }
}

.ui-grid {
    @extend .noSelect;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    // justify-content: space-between;
    list-style: none;
    // padding: 4px;
    padding: 0;
    margin: 0;
    font-size: 0;
    // border: 1px solid #1a1a1a;

    &:focus {
        outline: none;
    }
}

.ui-grid-item {
    @extend .fieldFont;
    cursor: pointer;
    width: 96px;
    height: 96px;
    margin: 2px;
    // border: 1px solid transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 100ms;

    &.disabled {
        cursor: default;
        opacity: $disabled-opacity;

        &:hover {
            background-color: transparent;
        }
        &.selected {
            background-color: #07f;
        }
    }
    &:hover {
        background-color: rgba(#07f, 0.1);
        outline: 1px solid #07f;
    }
    &:focus {
        outline: 1px solid #07f;
    }
    &.selected {
        background-color: #07f;
        outline: 1px solid #07f;
    }
}

.ui-tree {
    @extend .noSelect;
    @extend .fieldFont;
    padding: 2px;
    overflow: visible;
    font-size: 12px;

    > .drag-handle {
        display: none;
    }
    &.dragging {
        > .drag-handle {
            display: block;
            position: fixed;
            width: 32px;
            height: 20px;
            top: 0;
            bottom: 0;
            z-index: 4;
            margin-top: -1px;
            margin-left: -1px;

            &.hidden {
                visibility: hidden;
            }
            &.before {
                border-top: 4px solid #f60;
                padding-right: 8px;
                height: 24px;
            }
            &.inside {
                border: 4px solid #f60;
            }
            &.after {
                border-bottom: 4px solid #f60;
                padding-right: 8px;
                height: 24px;
            }
        }
    }
    > .ui-tree-item {
        display: block;
        padding-left: 0;

        &:before {
            content: none;
        }
        &.container {
            > .title {
                &:before {
                    content: none;
                }
            }
        }
        > .title {
            margin-left: 0px;
            > .icon {
                &:before {
                    content: none;
                }
                &:after {
                    margin-left: 0;
                }
            }
        }
        > .ui-tree-item {
            display: block;
            padding-left: 21px;

            // line-top
            &:before {
                left: 11px;
            }
            // line-top, single item
            &.single {
                &:before {
                    left: 11px;
                }
            }
        }
    }
}

.ui-tree-item {
    $line-color: rgba(0, 128, 255, .5);

    position: relative;
    padding-left: 24px;
    white-space: nowrap;
    display: none;

    &.container {
        > .title {
            &:before {
                content: '\00a0';
                position: absolute;
                top: 0;
                left: -24px;
                width: 18px;
                height: 18px;
                margin: 2px;
                background-color: #f60;
                cursor: pointer;
                z-index: 1;
            }
        }
    }
    &.open {
        > .title {
            &:before {
                background-color: #f00;
            }
        }
        > .ui-tree-item {
            display: block;
        }
    }
    &.disabled {
        > .title {
            > .text {
                opacity: $disabled-opacity;
            }
            > .icon:after {
                opacity: $disabled-opacity;
            }
        }
    }
    > .title {
        position: relative;
        cursor: pointer;
        // padding-left: 4px;
        font-size: 14px;
        margin-left: 3px;
        line-height: 22px;
        border: 1px solid transparent;
        // display: table-row;

        &:hover,
        &:focus {
            border-color: #07f;
            background-color: rgba(0, 128, 255, 0.1);
        }
        &:focus {
            outline: none;
        }
        > .icon {
            // line-left
            &:before {
                content: '\00a0';
                position: absolute;
                top: 9px;
                left: -11px;
                width: 24px;
                height: 4px;
                background-color: $line-color;
            }
            // icon
            &:after {
                // content: '\E211';
                content: '\00a0';
                // color: #7d8688;
                // font-family: 'ui-font-solid';
                // font-size: 18px;

                float: left;
                width: 22px;
                height: 22px;
                margin-right: 2px;
                // margin-left: 4px;
                // line-height: 22px;
                // text-align: center;
                position: relative;
                // background-color: rgba(0, 128, 255, .5);
                background-color: $line-color;
                z-index: 1;
            }
        }
        > .text {
            position: relative;
            z-index: 1;
            transition: opacity 100ms;
        }
    }
    &.selected {
        > .title {
            background-color: #f70;
        }
    }
    &.dragged {
        &:hover {
            > .title {
                > .icon:before {
                    content: '\00a0';
                }
                > .text {
                    opacity: 1;
                }
            }
        }
        > .title {
            background-color: #07f;

            > .icon:before {
                opacity: 0.5;
            }
            > .text {
                opacity: 0.5;
            }
        }
    }

    // line-top
    &:before {
        content: '\00a0';
        position: absolute;
        left: 13px;
        top: -10px;
        bottom: 10px;
        width: 4px;
        background-color: $line-color;
        height: auto;
    }
    // line-top, last item
    &:last-child {
        &:before {
            bottom: auto;
            height: 24px;
        }
    }
    // line-top, single item
    &.single {
        &:before {
            content: '\00a0';
            position: absolute;
            left: 13px;
            top: -10px;
            width: 4px;
            height: 24px;
            background-color: $line-color;
        }
    }
}

.ui-label {
    display: inline-block;
    line-height: 22px;
    margin: 4px;
    vertical-align: bottom;
    transition: opacity 100ms;

    &.disabled {
        opacity: $disabled-opacity;
    }
}

// placeholder
.ui-label[placeholder] {
    position: relative;

    &:after {
        @extend .fieldFont;
        content: attr(placeholder);
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 8px;
        line-height: 22px;
        font-size: 12px;
        font-weight: 100;
        font-family: Helvetica;
        white-space: nowrap;
        color: #999;
        background-color: rgba(0, 0, 0, .7);
    }
    &:hover,
    &.focus {
        &:after {
            content: none;
        }
    }
}

.ui-number-field {
    display: inline-block;
    border: 1px solid #666;
    width: 128px;
    height: 22px;
    margin: 4px;
    background-color: #000;
    vertical-align: top;
    transition: opacity 100ms;

    &.disabled {
        opacity: $disabled-opacity;
    }
    > input.field {
        @extend .fieldFont;
        width: calc(100% - 16px);
        padding: 0 8px;
        line-height: 22px;
        color: #fff;
        background: transparent;
        border: none;
    }
}

// active/focused
.ui-number-field.active > input.field,
.ui-number-field > input.field:focus {
    outline: none;
    border-color: #7f7;
    box-shadow: 0 0 4px #7f7;
}

// placeholder
.ui-number-field[placeholder] {
    position: relative;

    &:after {
        @extend .fieldFont;
        content: attr(placeholder);
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 8px;
        line-height: 22px;
        font-size: 12px;
        font-weight: 100;
        white-space: nowrap;
        color: #999;
        background-color: rgba(0, 0, 0, .7);
    }
    &:hover,
    &.focus {
        &:after {
            content: none;
        }
    }
}

.ui-text-field {
    display: inline-block;
    border: 1px solid #666;
    width: 128px;
    height: 22px;
    margin: 4px;
    background-color: #000;
    vertical-align: top;
    transition: opacity 100ms;

    &.disabled {
        opacity: $disabled-opacity;
    }
    > input.field {
        @extend .fieldFont;
        width: calc(100% - 16px);
        padding: 0 8px;
        line-height: 22px;
        color: #fff;
        background: transparent;
        border: none;
    }
}

.ui-text-field.active > input.field,
.ui-text-field > input.field:focus {
    outline: none;
    border-color: #7f7;
    box-shadow: 0 0 4px #7f7;
}

// placeholder
.ui-text-field[placeholder] {
    position: relative;

    &:after {
        @extend .fieldFont;
        content: attr(placeholder);
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 8px;
        line-height: 22px;
        font-size: 12px;
        font-weight: 100;
        white-space: nowrap;
        color: #999;
        background-color: rgba(0, 0, 0, .7);
    }
    &:hover,
    &.focus {
        &:after {
            content: none;
        }
    }
}

.ui-slider {
    @extend .noSelect;
    display: inline-block;
    height: 24px;
    margin: 4px;
    cursor: pointer;

    &.active {
        cursor: ew-resize;
    }
    > .bar {
        position: relative;
        width: calc(100% - 18px);
        height: 4px;
        margin: 9px 8px;
        background: #07f;
        border: 1px solid #000;

        > .handle {
            position: absolute;
            top: -7px;
            left: 0;
            margin-left: -9px;
            width: 16px;
            height: 16px;
            background: #07f;
            border: 1px solid #000;
            cursor: ew-resize;

            &:focus,
            &:hover {
                outline: none;
                background-color: #07f;
            }
        }
    }
}

.ui-color-field {
    @extend .noSelect;
    position: relative;
    display: inline-block;
    border: 1px solid #666;
    width: 48px;
    height: 22px;
    margin: 4px;
    vertical-align: top;
    cursor: pointer;
    overflow: hidden;
    transition: opacity 100ms;

    background-image:
          -moz-linear-gradient(45deg, #000 25%, transparent 25%),
          -moz-linear-gradient(-45deg, #000 25%, transparent 25%),
          -moz-linear-gradient(45deg, transparent 75%, #000 75%),
          -moz-linear-gradient(-45deg, transparent 75%, #000 75%);
    background-image:
      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #000), color-stop(.25, transparent)),
      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #000), color-stop(.25, transparent)),
      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #000)),
      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #000));
    background-color: #fff;

    background-size: 8px 8px;
    -moz-background-size: 8px 8px;
    -webkit-background-size: 8px 8px;
    background-position: 0 0, 4px 0, 4px -4px, 0px 4px;

    &.disabled {
        opacity: $disabled-opacity;
        cursor: default;
    }
    > .color {
        display: block;
        width: 48px;
        height: 22px;
        background-color: #000;
    }
    &:after {
        content: '\00a0';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 7px;
        height: 7px;
        background-color: #06f;
        border-top: 1px solid #666;
        border-left: 1px solid #666;
    }
}

.ui-color-field:hover,
.ui-color-field:focus {
    outline: none;
    border-color: #07f;
    box-shadow: 0 0 4px #7f7;
}

.ui-image-field {
    @extend .noSelect;
    position: relative;
    width: 64px;
    min-height: 22px;
    margin: 4px;
    border: 1px solid #666;
    overflow: hidden;
    cursor: pointer;

    &.disabled {
        opacity: $disabled-opacity;
        cursor: default;
    }
    &:hover {
        > .clear {
            display: block;
        }
    }
    &:focus {
        outline: none;
        border-color: #07f;
    }
    &.empty {
        > .preview,
        > .view,
        > .clear {
            display: none;
        }
    }
    > .preview {
        display: block;
        width: 64px;
        height: 64px;
    }
    > .view,
    > .clear {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 0;
        background-color: #07f;
        border-bottom: 1px solid #666;
    }
    > .clear {
        display: none;
        right: 0;
        border-left: 1px solid #666;
    }
    > .view {
        left: 0;
        border-right: 1px solid #666;
    }
    &.disabled {
        > .clear {
            display: none;
        }
    }
    &:after {
        content: '\00a0';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 7px;
        height: 7px;
        background-color: #06f;
        border-top: 1px solid #666;
        border-left: 1px solid #666;
    }
}

.ui-button {
    @extend .noSelect;
    display: inline-block;
    border: 1px solid #666;
    background-color: #000;
    color: #fff;
    padding: 0 8px;
    margin: 4px;
    line-height: 24px;
    font-size: 14px;
    cursor: pointer;
    transition: opacity 100ms;

    &.disabled {
        opacity: $disabled-opacity;
        cursor: default;
    }
    &:focus {
        outline: none;
    }
}

.ui-checkbox {
    display: inline-block;
    vertical-align: text-bottom;
    border: 1px solid #666;
    background-color: #000;
    color: #fff;
    margin: 4px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: opacity 100ms;

    &.checked {
        background-color: #fff;
    }
    &.disabled {
        opacity: $disabled-opacity;
        cursor: default;
    }
    &:focus {
        outline: none;
        border-color: #07f;
    }
}

.ui-select-field {
    position: relative;
    display: inline-block;
    width: 112px;
    margin: 4px;
    line-height: 22px;
    background-color: #000;
    border: 1px solid #666;
    padding: 0 8px;
    font-size: 12px;
    cursor: pointer;
    transition: opacity 100ms;

    &:hover {
        > .value:after {
            content: none;
        }
    }
    &:focus {
        outline: none;
        border-color: #07f;
        > .value:after {
            content: none;
        }
    }
    &.disabled {
        opacity: $disabled-opacity;
        cursor: default;

        > .value:after {
            content: none;
        }
    }
    &.active {
        > ul {
            z-index: 1;
            position: fixed;
            display: block;
        }
        > .value:after {
            content: none;
        }
    }
    > .value {
        @extend .fieldFont;
        min-height: 22px;
        line-height: 22px;
        white-space: nowrap;
        overflow: hidden;

        &:after {
            content: '\00a0';
            position: absolute;
            top: 0;
            right: 0;
            width: 16px;
            height: 16px;
            margin: 4px;
            background-color: #07f;
        }
    }
    > ul {
        display: none;
        position: fixed;
        top: 0;
        left: -1px;
        right: -1px;
        width: auto;
        min-width: 32px;
        margin: 0;
        list-style: none;
        padding: 0;
        background-color: #000;

        box-shadow: 0 0 8px rgba(0, 0, 0, .5);

        > li {
            @extend .fieldFont;
            padding: 1px 8px 1px 9px;
            line-height: 22px;
            white-space: nowrap;
            overflow: hidden;

            &:hover,
            &.hover {
                background-color: #333;
            }
            &.selected {
                background-color: #666;
            }
        }
    }
}

.ui-code {
    @extend .fieldFont;
    display: block;
    margin: 0;
    padding: 4px;
    font-size: 10px;
    color: #f8f4f0;
    background-color: #1d292c;
    overflow: auto;
    transition: opacity 100ms;

    &.disabled {
        opacity: $disabled-opacity;
        cursor: default;
    }
}

.ui-progress {
    width: 128px;
    height: 4px;
    background-color: #000;
    transition: opacity 100ms;

    &.disabled {
        opacity: $disabled-opacity;
    }
    &.failed {
        > .inner {
            width: 100% !important;

            // pattern
            background: #f66;
            background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,128,128,1)), color-stop(25%, rgba(255,128,128,1)), color-stop(26%, rgba(255,64,64,1)), color-stop(50%, rgba(255,64,64,1)), color-stop(51%, rgba(255,128,128,1)), color-stop(75%, rgba(255,128,128,1)), color-stop(76%, rgba(255,64,64,1)), color-stop(100%, rgba(255,64,64,1)));
            background: -webkit-linear-gradient(-45deg, rgba(255,128,128,1) 0%, rgba(255,128,128,1) 25%, rgba(255,64,64,1) 26%, rgba(255,64,64,1) 50%, rgba(255,128,128,1) 51%, rgba(255,128,128,1) 75%, rgba(255,64,64,1) 76%, rgba(255,64,64,1) 100%);
            background: -moz-linear-gradient(-45deg, rgba(255,128,128,1) 0%, rgba(255,128,128,1) 25%, rgba(255,64,64,1) 26%, rgba(255,64,64,1) 50%, rgba(255,128,128,1) 51%, rgba(255,128,128,1) 75%, rgba(255,64,64,1) 76%, rgba(255,64,64,1) 100%);
            background: -ms-linear-gradient(-45deg, rgba(255,128,128,1) 0%, rgba(255,128,128,1) 25%, rgba(255,64,64,1) 26%, rgba(255,64,64,1) 50%, rgba(255,128,128,1) 51%, rgba(255,128,128,1) 75%, rgba(255,64,64,1) 76%, rgba(255,64,64,1) 100%);
            background: -o-linear-gradient(-45deg, rgba(255,128,128,1) 0%, rgba(255,128,128,1) 25%, rgba(255,64,64,1) 26%, rgba(255,64,64,1) 50%, rgba(255,128,128,1) 51%, rgba(255,128,128,1) 75%, rgba(255,64,64,1) 76%, rgba(255,64,64,1) 100%);
            background: linear-gradient(135deg, rgba(255,128,128,1) 0%, rgba(255,128,128,1) 25%, rgba(255,64,64,1) 26%, rgba(255,64,64,1) 50%, rgba(255,128,128,1) 51%, rgba(255,128,128,1) 75%, rgba(255,64,64,1) 76%, rgba(255,64,64,1) 100%);
            background-position: 0px 0px;
            background-size: 24px 24px;
            background-repeat: repeat;
        }
    }
    > .inner {
        width: 0%;
        height: inherit;

        // pattern
        background: #07f;
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,128,255,1)), color-stop(25%, rgba(0,128,255,1)), color-stop(26%, rgba(0,96,192,1)), color-stop(50%, rgba(0,96,192,1)), color-stop(51%, rgba(0,128,255,1)), color-stop(75%, rgba(0,128,255,1)), color-stop(76%, rgba(0,96,192,1)), color-stop(100%, rgba(0,96,192,1)));
        background: -webkit-linear-gradient(-45deg, rgba(0,128,255,1) 0%, rgba(0,128,255,1) 25%, rgba(0,96,192,1) 26%, rgba(0,96,192,1) 50%, rgba(0,128,255,1) 51%, rgba(0,128,255,1) 75%, rgba(0,96,192,1) 76%, rgba(0,96,192,1) 100%);
        background: -moz-linear-gradient(-45deg, rgba(0,128,255,1) 0%, rgba(0,128,255,1) 25%, rgba(0,96,192,1) 26%, rgba(0,96,192,1) 50%, rgba(0,128,255,1) 51%, rgba(0,128,255,1) 75%, rgba(0,96,192,1) 76%, rgba(0,96,192,1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(0,128,255,1) 0%, rgba(0,128,255,1) 25%, rgba(0,96,192,1) 26%, rgba(0,96,192,1) 50%, rgba(0,128,255,1) 51%, rgba(0,128,255,1) 75%, rgba(0,96,192,1) 76%, rgba(0,96,192,1) 100%);
        background: -o-linear-gradient(-45deg, rgba(0,128,255,1) 0%, rgba(0,128,255,1) 25%, rgba(0,96,192,1) 26%, rgba(0,96,192,1) 50%, rgba(0,128,255,1) 51%, rgba(0,128,255,1) 75%, rgba(0,96,192,1) 76%, rgba(0,96,192,1) 100%);
        background: linear-gradient(135deg, rgba(0,128,255,1) 0%, rgba(0,128,255,1) 25%, rgba(0,96,192,1) 26%, rgba(0,96,192,1) 50%, rgba(0,128,255,1) 51%, rgba(0,128,255,1) 75%, rgba(0,96,192,1) 76%, rgba(0,96,192,1) 100%);
        background-position: 0px 0px;
        background-size: 24px 24px;
        background-repeat: repeat;

        // animate
        -webkit-animation: ui-progress-background 1000ms linear infinite;
        animation: ui-progress-background 1000ms linear infinite;
    }
}

// ui-progress animation
@-webkit-keyframes ui-progress-background {
    from { background-position: 0px 0; }
    to { background-position: 24px 0; }
}
@keyframes ui-progress-background {
    from { background-position: 0px 0; }
    to { background-position: 24px 0; }
}

.hidden {
    display: none;
}
