.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hidden {
    display: none;
}

.ui-panel {
    position: relative;
    background-color: #222;

    &.noHeader {
        > header {
            display: none;
        }
    }
    &.scrollable {
        position: relative;

        &.noHeader {
            > .content {
                top: 0;
            }
        }
        > .content {
            position: absolute;
            top: 32px;
            right: 0;
            bottom: 0;
            left: 0;
            width: auto;
            height: auto;
            overflow: auto;
        }
    }
    > header {
        height: 32px;
        line-height: 32px;
        padding: 0 8px;
        background-color: #111;
    }
    > .content {
        position: relative;
        overflow: hidden;
        // border-right: 1px solid #111;
        // border-left: 1px solid #111;
    }
}

.ui-list {
    @extend .noSelect;

    list-style: none;
    padding: 0;
    margin: 0;
}

.ui-list-item {
    cursor: pointer;
    padding: 0 8px;
    height: 31px;
    line-height: 31px;
    border-bottom: 1px solid #1a1a1a;

    &:hover {
        background-color: rgba(#07f, 0.1);
    }
    &.selected {
        background-color: #07f;
    }
}

.ui-grid {
    @extend .noSelect;

    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    list-style: none;
    padding: 4px;
    margin: 0;
    font-size: 0;
    border: 1px solid #1a1a1a;
}

.ui-grid-item {
    cursor: pointer;
    width: 96px;
    height: 96px;
    margin: 4px;
    border: 1px solid #1a1a1a;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &:hover {
        background-color: rgba(#07f, 0.1);
        border-color: #07f;
    }
    &.selected {
        background-color: #07f;
        border-color: #07f;
        // box-shadow: 0 0 8px rgba(0, 128, 255, .5);
    }
}

.ui-label {
    display: inline-block;
    line-height: 24px;
    margin: 4px;
    vertical-align: bottom;
}

.ui-number-field {
    border: 1px solid #666;
    width: 112px;
    padding: 0 8px;
    line-height: 24px;
    margin: 4px;
    background-color: #000;
    color: #fff;
    vertical-align: top;
}

.ui-number-field.active,
.ui-number-field:focus {
    outline: none;
    border-color: #7f7;
    box-shadow: 0 0 4px #7f7;
}

.ui-text-field {
    border: 1px solid #666;
    width: 112px;
    padding: 0 8px;
    line-height: 24px;
    margin: 4px;
    background-color: #000;
    color: #fff;
    vertical-align: top;
}

.ui-text-field.active,
.ui-text-field:focus {
    outline: none;
    border-color: #7f7;
    box-shadow: 0 0 4px #7f7;
}

.ui-button {
    display: inline-block;
    border: 1px solid #666;
    background-color: #000;
    color: #fff;
    padding: 0 8px;
    margin: 4px;
    line-height: 24px;
    font-size: 14px;
    cursor: pointer;
}

.ui-checkbox {
    display: inline-block;
    border: 1px solid #666;
    background-color: #000;
    color: #fff;
    margin: 4px;
    width: 24px;
    height: 24px;

    &.checked {
        background-color: #fff;
    }
}

.ui-select-field {
    position: relative;
    display: inline-block;
    width: 112px;
    margin: 4px;
    line-height: 24px;
    background-color: #000;
    border: 1px solid #666;
    padding: 0 8px;
    font-size: 12px;
    cursor: pointer;

    &.active {
        > ul {
            display: block;
        }
    }
    > ul {
        display: none;
        min-width: 130px;
        margin: 0;
        position: absolute;
        top: 0;
        left: -1px;
        list-style: none;
        padding: 0;
        background-color: #000;
        z-index: 1;

        box-shadow: 0 0 4px rgba(0, 0, 0, .5);

        > li {
            padding: 1px 8px 1px 9px;
            line-height: 24px;

            &:hover {
                background-color: #333;
            }
            &.selected {
                background-color: #666;
            }
        }
    }
}

.ui-code {
    display: block;
    margin: 0;
    background-color: #222;
    overflow: auto;
}

.ui-progress {
    width: 128px;
    height: 4px;
    background-color: #000;

    > .inner {
        width: 0%;
        height: inherit;

        // pattern
        background: #07f;
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,128,255,1)), color-stop(25%, rgba(0,128,255,1)), color-stop(26%, rgba(0,96,192,1)), color-stop(50%, rgba(0,96,192,1)), color-stop(51%, rgba(0,128,255,1)), color-stop(75%, rgba(0,128,255,1)), color-stop(76%, rgba(0,96,192,1)), color-stop(100%, rgba(0,99,192,1)));
        background: -webkit-linear-gradient(-45deg, rgba(0,128,255,1) 0%, rgba(0,128,255,1) 25%, rgba(0,96,192,1) 26%, rgba(0,96,192,1) 50%, rgba(0,128,255,1) 51%, rgba(0,128,255,1) 75%, rgba(0,96,192,1) 76%, rgba(0,99,192,1) 100%);
        background: -moz-linear-gradient(-45deg, rgba(0,128,255,1) 0%, rgba(0,128,255,1) 25%, rgba(0,96,192,1) 26%, rgba(0,96,192,1) 50%, rgba(0,128,255,1) 51%, rgba(0,128,255,1) 75%, rgba(0,96,192,1) 76%, rgba(0,99,192,1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(0,128,255,1) 0%, rgba(0,128,255,1) 25%, rgba(0,96,192,1) 26%, rgba(0,96,192,1) 50%, rgba(0,128,255,1) 51%, rgba(0,128,255,1) 75%, rgba(0,96,192,1) 76%, rgba(0,99,192,1) 100%);
        background: -o-linear-gradient(-45deg, rgba(0,128,255,1) 0%, rgba(0,128,255,1) 25%, rgba(0,96,192,1) 26%, rgba(0,96,192,1) 50%, rgba(0,128,255,1) 51%, rgba(0,128,255,1) 75%, rgba(0,96,192,1) 76%, rgba(0,99,192,1) 100%);
        background: linear-gradient(135deg, rgba(0,128,255,1) 0%, rgba(0,128,255,1) 25%, rgba(0,96,192,1) 26%, rgba(0,96,192,1) 50%, rgba(0,128,255,1) 51%, rgba(0,128,255,1) 75%, rgba(0,96,192,1) 76%, rgba(0,99,192,1) 100%);
        background-position: 0px 0px;
        background-size: 24px 24px;
        background-repeat: repeat;

        // animate
        -webkit-animation: ui-progress-background 1000ms linear infinite;
        animation: ui-progress-background 1000ms linear infinite;
    }
}

// ui-progress animation
@-webkit-keyframes ui-progress-background {
    from { background-position: 0px 0; }
    to { background-position: 24px 0; }
}
@keyframes ui-progress-background {
    from { background-position: 0px 0; }
    to { background-position: 24px 0; }
}
