.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// scrollbar
// ::-webkit-scrollbar {
//     background: #000;
// }
// ::-webkit-scrollbar-button {
//     background: #0f0;
// }
// ::-webkit-scrollbar-track {
//     // background: #00f;
// }
// ::-webkit-scrollbar-track-piece {
//     // background: #ff0;
// }
// ::-webkit-scrollbar-thumb {
//     background: #f0f;
// }
// ::-webkit-scrollbar-corner {
//     background: #0ff;
// }
// ::-webkit-resizer {
//     background: #fff;
// }

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #444;
}

.ui-panel {
    position: relative;
    background-color: #222;

    &.disabled {
        > header {
            color: #999;
            background-color: mix(#111, #222, 50%);
        }
    }
    &.noHeader {
        > header {
            display: none;
        }
    }
    &.scrollable {
        position: relative;

        &.noHeader {
            > .content {
                top: 0;
            }
        }
        > .content {
            position: absolute;
            top: 32px;
            right: 0;
            bottom: 0;
            left: 0;
            width: auto;
            height: auto;
            overflow: auto;
        }
    }
    &.flexible {
        display: flex;
        display: -webkit-flex;

    }
    &.flex {
        > .content {
            display: flex;
            display: -webkit-flex;
        }
    }
    &.foldable {
        overflow: hidden;
        transition: height 100ms, width 100ms;

        &.noAnimation {
            transition: none;
            > .content {
                transition: none;
            }
        }
        &.folded {
            > .content {
                visibility: hidden;
            }
            &.horizontal {
                background-color: #000;

                > header {
                    position: absolute;
                    top: -32px;
                    width: 2048px;

                    -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
                    -webkit-transform-origin: 0% 100%;
                    transform-origin: 0% 100%;
                }
                > .content {
                    transition: none;
                }
            }
        }
        > header {
            @extend .noSelect;
            cursor: pointer;
        }
        > .content {
            transition: visibility 100ms;
        }
    }
    > header {
        height: 32px;
        line-height: 32px;
        padding: 0 8px;
        background-color: #111;
        white-space: nowrap;
        cursor: default;
    }
    > .content {
        position: relative;
        // overflow: hidden;
        // border-right: 1px solid #111;
        // border-left: 1px solid #111;
    }
}

.ui-list {
    @extend .noSelect;

    list-style: none;
    padding: 0;
    margin: 0;
}

.ui-list-item {
    cursor: pointer;
    padding: 0 8px;
    height: 31px;
    line-height: 31px;
    border-bottom: 1px solid #1a1a1a;

    &.disabled {
        cursor: default;
        opacity: .5;

        &:hover {
            background-color: transparent;
        }
        &.selected {
            background-color: #07f;
        }
    }
    &:hover {
        background-color: rgba(#07f, 0.1);
    }
    &.selected {
        background-color: #07f;
    }
}

.ui-grid {
    @extend .noSelect;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    // justify-content: space-between;
    list-style: none;
    padding: 4px;
    margin: 0;
    font-size: 0;
    border: 1px solid #1a1a1a;
}

.ui-grid-item {
    cursor: pointer;
    width: 96px;
    height: 96px;
    margin: 4px;
    border: 1px solid #1a1a1a;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &.disabled {
        cursor: default;
        opacity: .5;

        &:hover {
            background-color: transparent;
            border-color: #1a1a1a;
        }
        &.selected {
            background-color: #07f;
            border-color: #07f;
        }
    }
    &:hover {
        background-color: rgba(#07f, 0.1);
        border-color: #07f;
    }
    &.selected {
        background-color: #07f;
        border-color: #07f;
    }
}

.ui-label {
    display: inline-block;
    line-height: 24px;
    margin: 4px;
    vertical-align: bottom;

    &.disabled {
        opacity: .5;
    }
}

.ui-number-field {
    border: 1px solid #666;
    width: 112px;
    padding: 0 8px;
    line-height: 24px;
    margin: 4px;
    background-color: #000;
    color: #fff;
    vertical-align: top;

    &.disabled {
        opacity: .5;
    }
}

.ui-number-field.active,
.ui-number-field:focus {
    outline: none;
    border-color: #7f7;
    box-shadow: 0 0 4px #7f7;
}

.ui-text-field {
    border: 1px solid #666;
    width: 112px;
    padding: 0 8px;
    line-height: 24px;
    margin: 4px;
    background-color: #000;
    color: #fff;
    vertical-align: top;

    &.disabled {
        opacity: .5;
    }
}

.ui-text-field.active,
.ui-text-field:focus {
    outline: none;
    border-color: #7f7;
    box-shadow: 0 0 4px #7f7;
}

.ui-button {
    @extend .noSelect;
    display: inline-block;
    border: 1px solid #666;
    background-color: #000;
    color: #fff;
    padding: 0 8px;
    margin: 4px;
    line-height: 24px;
    font-size: 14px;
    cursor: pointer;

    &.disabled {
        opacity: .5;
        cursor: default;
    }
}

.ui-checkbox {
    display: inline-block;
    border: 1px solid #666;
    background-color: #000;
    color: #fff;
    margin: 4px;
    width: 24px;
    height: 24px;
    cursor: pointer;

    &.checked {
        background-color: #fff;
    }
    &.disabled {
        opacity: .5;
        cursor: default;
    }
}

.ui-select-field {
    position: relative;
    display: inline-block;
    width: 112px;
    margin: 4px;
    line-height: 24px;
    background-color: #000;
    border: 1px solid #666;
    padding: 0 8px;
    font-size: 12px;
    cursor: pointer;

    &.disabled {
        opacity: .5;
        cursor: default;
    }
    &.active {
        > ul {
            z-index: 1;
            position: fixed;
            display: block;
        }
    }
    > .value {
        min-height: 24px;
        line-height: 24px;
    }
    > ul {
        display: none;
        position: fixed;
        top: 0;
        left: -1px;
        right: -1px;
        width: auto;
        min-width: 32px;
        margin: 0;
        list-style: none;
        padding: 0;
        background-color: #000;
        // z-index: 1;

        box-shadow: 0 0 8px rgba(0, 0, 0, .5);

        > li {
            padding: 1px 8px 1px 9px;
            line-height: 24px;

            &:hover {
                background-color: #333;
            }
            &.selected {
                background-color: #666;
            }
        }
    }
}

.ui-code {
    display: block;
    margin: 0;
    padding: 4px;
    font-size: 11px;
    color: #f8f4f0;
    background-color: #1d292c;
    overflow: auto;

    &.disabled {
        opacity: .5;
        cursor: default;
    }
}

.ui-progress {
    width: 128px;
    height: 4px;
    background-color: #000;

    &.disabled {
        opacity: .5;
    }
    &.failed {
        > .inner {
            width: 100% !important;

            // pattern
            background: #f66;
            background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,128,128,1)), color-stop(25%, rgba(255,128,128,1)), color-stop(26%, rgba(255,64,64,1)), color-stop(50%, rgba(255,64,64,1)), color-stop(51%, rgba(255,128,128,1)), color-stop(75%, rgba(255,128,128,1)), color-stop(76%, rgba(255,64,64,1)), color-stop(100%, rgba(255,64,64,1)));
            background: -webkit-linear-gradient(-45deg, rgba(255,128,128,1) 0%, rgba(255,128,128,1) 25%, rgba(255,64,64,1) 26%, rgba(255,64,64,1) 50%, rgba(255,128,128,1) 51%, rgba(255,128,128,1) 75%, rgba(255,64,64,1) 76%, rgba(255,64,64,1) 100%);
            background: -moz-linear-gradient(-45deg, rgba(255,128,128,1) 0%, rgba(255,128,128,1) 25%, rgba(255,64,64,1) 26%, rgba(255,64,64,1) 50%, rgba(255,128,128,1) 51%, rgba(255,128,128,1) 75%, rgba(255,64,64,1) 76%, rgba(255,64,64,1) 100%);
            background: -ms-linear-gradient(-45deg, rgba(255,128,128,1) 0%, rgba(255,128,128,1) 25%, rgba(255,64,64,1) 26%, rgba(255,64,64,1) 50%, rgba(255,128,128,1) 51%, rgba(255,128,128,1) 75%, rgba(255,64,64,1) 76%, rgba(255,64,64,1) 100%);
            background: -o-linear-gradient(-45deg, rgba(255,128,128,1) 0%, rgba(255,128,128,1) 25%, rgba(255,64,64,1) 26%, rgba(255,64,64,1) 50%, rgba(255,128,128,1) 51%, rgba(255,128,128,1) 75%, rgba(255,64,64,1) 76%, rgba(255,64,64,1) 100%);
            background: linear-gradient(135deg, rgba(255,128,128,1) 0%, rgba(255,128,128,1) 25%, rgba(255,64,64,1) 26%, rgba(255,64,64,1) 50%, rgba(255,128,128,1) 51%, rgba(255,128,128,1) 75%, rgba(255,64,64,1) 76%, rgba(255,64,64,1) 100%);
            background-position: 0px 0px;
            background-size: 24px 24px;
            background-repeat: repeat;
        }
    }
    > .inner {
        width: 0%;
        height: inherit;

        // pattern
        background: #07f;
        background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,128,255,1)), color-stop(25%, rgba(0,128,255,1)), color-stop(26%, rgba(0,96,192,1)), color-stop(50%, rgba(0,96,192,1)), color-stop(51%, rgba(0,128,255,1)), color-stop(75%, rgba(0,128,255,1)), color-stop(76%, rgba(0,96,192,1)), color-stop(100%, rgba(0,96,192,1)));
        background: -webkit-linear-gradient(-45deg, rgba(0,128,255,1) 0%, rgba(0,128,255,1) 25%, rgba(0,96,192,1) 26%, rgba(0,96,192,1) 50%, rgba(0,128,255,1) 51%, rgba(0,128,255,1) 75%, rgba(0,96,192,1) 76%, rgba(0,96,192,1) 100%);
        background: -moz-linear-gradient(-45deg, rgba(0,128,255,1) 0%, rgba(0,128,255,1) 25%, rgba(0,96,192,1) 26%, rgba(0,96,192,1) 50%, rgba(0,128,255,1) 51%, rgba(0,128,255,1) 75%, rgba(0,96,192,1) 76%, rgba(0,96,192,1) 100%);
        background: -ms-linear-gradient(-45deg, rgba(0,128,255,1) 0%, rgba(0,128,255,1) 25%, rgba(0,96,192,1) 26%, rgba(0,96,192,1) 50%, rgba(0,128,255,1) 51%, rgba(0,128,255,1) 75%, rgba(0,96,192,1) 76%, rgba(0,96,192,1) 100%);
        background: -o-linear-gradient(-45deg, rgba(0,128,255,1) 0%, rgba(0,128,255,1) 25%, rgba(0,96,192,1) 26%, rgba(0,96,192,1) 50%, rgba(0,128,255,1) 51%, rgba(0,128,255,1) 75%, rgba(0,96,192,1) 76%, rgba(0,96,192,1) 100%);
        background: linear-gradient(135deg, rgba(0,128,255,1) 0%, rgba(0,128,255,1) 25%, rgba(0,96,192,1) 26%, rgba(0,96,192,1) 50%, rgba(0,128,255,1) 51%, rgba(0,128,255,1) 75%, rgba(0,96,192,1) 76%, rgba(0,96,192,1) 100%);
        background-position: 0px 0px;
        background-size: 24px 24px;
        background-repeat: repeat;

        // animate
        -webkit-animation: ui-progress-background 1000ms linear infinite;
        animation: ui-progress-background 1000ms linear infinite;
    }
}

// ui-progress animation
@-webkit-keyframes ui-progress-background {
    from { background-position: 0px 0; }
    to { background-position: 24px 0; }
}
@keyframes ui-progress-background {
    from { background-position: 0px 0; }
    to { background-position: 24px 0; }
}

.hidden {
    display: none;
}
