.monaco-editor {
    .dst-branch {
        background: rgba(#0b3b76, 0.5);

        > .ui-button {
            background: #2460aa;
            border: 1px solid #20292b;
        }
    }

    .src-branch {
        background: rgba(#15515e, 0.5);

        > .ui-button {
            background: #1d6d7f;
            border: 1px solid #20292b;
        }
    }

    .diff-overlay-hunk {
        background: #324447;
    }

    .diff-overlay-add {
        background: rgb(0 128 0 / 20%);
    }

    .diff-overlay-remove {
        background: rgb(255 0 0 / 20%);
    }
}
