.tooltip-reference {
    min-width: 150px;
}

.tooltip-reference-webgl2 {
    position: absolute;
    top: 16px;
    right: 16px;
    line-height: 22px;
    padding: 0 8px;
    font-size: 12px;
    color: $text-secondary;
    background-color: $bcg-dark;
}

.tooltip-reference-code {
    color: $text-active;
    font-family: inconsolatamedium;
    font-size: 11px;
    margin: 10px 0;
    white-space: pre !important;
}
