.asset-font-inspector-locale-panel {
    margin: 6px;
    border: 1px solid #2c393c;
}

.asset-font-inspector-locale-remove-button {
    font-size: 20px;
}

.asset-font-inspector-character-range-label {
        width: 30%;
        flex-shrink: 0;
        margin-right: 0;
        font-size: 12px;
}

.asset-font-inspector-character-range-button {
        width: 50px;
}

.asset-font-inspector-process-font-warning-message {
    white-space: normal !important;
}

.asset-font-inspector-process-font-warning-items {
    margin: 6px;
    border: 1px solid #2c393c !important;

    span {
        user-select: text !important;
    }
}

.asset-font-inspector-font {
    .pcui-text-area-input {
        height: 96px !important;
    }
}
