// bottom status bar
#layout-statusbar {
    background-color: $bcg-darkest;
    padding: 0 8px;
    overflow: hidden;
    align-items: center;

    > .status {
        font-size: 12px;
        color: #aaa;

        &.error {
            color: $error;
        }
    }

    > .jobsProgress {
        width: 128px;
        margin-left: auto;
        opacity: 0;
        visibility: hidden;
        transition: opacity 100ms, visibility 100ms;

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }

    > .jobsCount {
        width: 24px;
        font-size: 12px;
        color: $text-darkest;
        text-align: center;
    }
}
