name: Test

on:
  pull_request:
    branches: [main]
    types: [labeled]

concurrency:
  group: 'test'
  cancel-in-progress: true

jobs:
  test:
    name: Test Suite
    runs-on: ubuntu-latest
    if: ${{ github.event.label.name == 'test' && github.repository == 'playcanvas/editor' && github.actor == 'kpal81xd' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build test image
        uses: docker/build-push-action@v6
        with:
          context: .
          cache-from: type=gha
          cache-to: type=gha,mode=max
          load: true
          tags: playcanvas/editor:latest
        env:
          DOCKER_BUILD_SUMMARY: false

      - name: Run tests
        run: |
          docker run --rm \
            -e PC_HOST=playcanvas.com \
            -e PC_LOGIN_HOST=login.playcanvas.com \
            -e PC_LAUNCH_HOST=launch.playcanvas.com \
            -e PC_LOCAL_FRONTEND=true \
            -e PC_COOKIE_NAME=${{ secrets.PC_COOKIE_NAME }} \
            -e PC_COOKIE_VALUE=${{ secrets.PC_COOKIE_VALUE }} \
            playcanvas/editor:latest
