name: Test Suite / Run

on:
  pull_request:
    branches: [main]
    types: [labeled]
  workflow_dispatch:
    inputs:
      env:
        description: 'Environment to run tests against'
        required: true
        type: environment

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Test Suite
    runs-on: ubuntu-latest
    environment:
      name: ${{ github.event.inputs.env || 'dev' }}
    if: "${{ github.repository == 'playcanvas/editor' && ((github.event.label.name == 'run: test-suite' && github.actor == 'kpal81xd') || github.event_name == 'workflow_dispatch') }}"
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build test-suite base image
        uses: docker/build-push-action@v6
        with:
          context: ./test-suite
          cache-from: type=gha
          cache-to: type=gha,mode=max
          load: true
          tags: ghcr.io/playcanvas/editor/test:latest
        env:
          DOCKER_BUILD_SUMMARY: false

      - name: Build editor image
        run: docker build --pull=false --tag playcanvas/editor:latest .

      - name: Run tests
        run: |
          docker run --rm \
            -e PC_HOST=${{ secrets.PC_HOST }} \
            -e PC_LOGIN_HOST=${{ secrets.PC_LOGIN_HOST }} \
            -e PC_LAUNCH_HOST=${{ secrets.PC_LAUNCH_HOST }} \
            -e PC_LOCAL_FRONTEND=true \
            -e PC_COOKIE_NAME=${{ secrets.PC_COOKIE_NAME }} \
            -e PC_COOKIE_VALUE=${{ secrets.PC_COOKIE_VALUE }} \
            -v ${{ github.workspace }}/test-results:/usr/src/test/test-results \
            playcanvas/editor:latest

      - name: Upload test results
        uses: actions/upload-artifact@v6
        if: always()
        with:
          name: test-results
          path: test-results
          retention-days: 5